<template>
	<div class="lk-container wagons-and-repairs">
		<v-tabs class="wagons__tabs">
			<v-tab
				@click="handleTabClick('allWagons')"
			>
				Реестр вагонов
			</v-tab>
			<v-tab
				@click="handleTabClick('userWagons')"
			>
				Мои вагоны
			</v-tab>
		</v-tabs>
		<AllWagonsTab
			v-if="currentTab === 'allWagons'"
		/>
		<MyWagonsTab
			v-else-if="currentTab === 'userWagons'"
		/>
	</div>
</template>

<script>
import FirstFormBlock from "@/components/reuse/FirstFormBlock";
import AllWagonsTab from "@/components/lk/wagons-and-repairs/AllWagonsTab";
import MyWagonsTab from "@/components/lk/wagons-and-repairs/MyWagonsTab";
import { mapActions } from "vuex";

export default {
	components: {
    FirstFormBlock,
    AllWagonsTab,
    MyWagonsTab
  },
  methods: {
		...mapActions('wagon', ['dropCurrentWagon', 'dropCurrentWagonError']),
		handleTabClick(tabName) {
			this.dropCurrentWagon();
			this.dropCurrentWagonError();
			this.currentTab=tabName;
		}
	},
	data () {
		return {
			currentTab: 'allWagons',
		}
	}
}
</script>

<styles scoped lang="scss">
	.wagons__tabs {
		margin: 30px 0;
		border-bottom: 2px solid #e0e7e9;
		.v-tab--active {
			color: #28292b;
		}
	}
</styles>
