<template>
  <div class="lk-container users">
    <ModalRegisterUser
      ref="registerUser"
      :roles="roles"
      :errors="errors"
      :isLoading="isLoading"
      @addUser="addUserMethod"
      @clearErrors="errors = {}"
    />

    <DialogModal ref="modalBanUser" maxWidth="500">
      <div class="modal-ban">
        <h3 class="title">Блокировка пользователя</h3>
        <p class="description">Укажите причину блокировки пользователя</p>
        <Field
          type="text"
          placeholder="Причина блокировки"
          v-model="banComment"
        />
        <v-btn
          class="btn"
          color="primary"
          :loading="isLoading"
          @click="banUserMethod()"
        >
          Заблокировать
        </v-btn>
      </div>
    </DialogModal>
    <DialogModal ref="modalBanUserSuccess" width="500px">
      <div class="modal-ban">
        <div class="success-icon" />
        <p class="description">Пользователь успешно заблокирован</p>
      </div>
    </DialogModal>

    <div>
      <v-tabs v-model="currentTab" slider-size="2" @change="loadUsersMethod">
        <v-tab :ripple="false">
          <span>Все</span>
        </v-tab>
        <v-tab :ripple="false">
          <span>Заблокированные</span>
        </v-tab>
      </v-tabs>
    </div>
    <div class="users-content">
      <div class="users-filters">
        <v-text-field
          v-model="filterSearch"
          class="search-input"
          width="50%"
          solo
          depressed
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по таблице"
        ></v-text-field>
        <Field
          v-model="filterRole"
          class="role-filter"
          type="select"
          placeholder="Должность пользователя"
          :listValues="filterRolesList"
        />
        <v-btn
          class="add-btn"
          depressed
          color="primary"
          @click="$refs.registerUser.changeModal('modalRegister')"
        >
          Добавить пользователя
        </v-btn>
      </div>
      <Table
        v-if="getUsersTableList.data"
        paginate
        :list="getUsersTableList"
        :columns="tableColumns"
        paginationTitle="Пользователей"
        @changeList="loadUsersMethod"
      >
        <div v-if="!getUsersTableList.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <div
          v-else
          class="table-row"
          v-for="(user, index) in getUsersTableList.data"
          :key="user.id"
          :class="{
            errors: Object.keys(errors).length && editedUser.id === user.id,
          }"
        >
          <div v-for="(cell, key) in user" :key="key" class="table-cell">
            <Field
              v-if="editedUser.id === user.id && editedUser[key]"
              class="edit-field"
              v-model="editedUser[key].value"
              :id="key"
              :type="editedUser[key].type"
              :listValues="editedUser[key].listValues"
              :actionLoader="editedUser[key].actionLoader"
              :defaultOpts="editedUser[key].defaultOpts"
              :errors="errors"
            />
            <div
              class="cancel"
              v-if="
                editedUser.id === user.id &&
                editedUser[key] &&
                editedUser[key].type === 'autocomplete'
              "
              @click="editedUser[key].value = null"
            ></div>

            <span v-else-if="editedUser.id !== user.id || !editedUser[key]">
              {{ cell }}
            </span>
          </div>
          <div v-if="editedUser.id === user.id" class="edit-icon">
            <div class="edit-icon-accept" @click="updateUserMethod" />
            <div class="edit-icon-decline" @click="handleOpenEdit(null)" />
          </div>
          <div class="extra-wrapper" v-else>
            <v-btn
              class="extra-btn"
              :ripple="false"
              icon
              depressed
              @click="changeExtra(index)"
            />
            <Popup
              v-if="openExtraIdx === index"
              v-click-outside="closeExtra"
              :last="index === getUsersTableList.data.length - 1"
            >
              <div class="extra-content">
                <p
                  v-for="(option, index) in getExtraOptions(user)"
                  :key="index"
                  class="extra-el"
                  @click.stop="callExtraMethod(user, option)"
                >
                  {{ option.name }}
                </p>
              </div>
            </Popup>
          </div>
        </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Popup from "@/components/reuse/Popup";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import ModalRegisterUser from "@/components/lk/users/ModalRegisterUser";
import { PopupMixin } from "@/mixins/PopupMixin";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    Popup,
    Field,
    Table,
    ModalRegisterUser,
  },

  mixins: [PopupMixin, DialogModalMixin],

  async asyncData({ store }) {
    await store.dispatch("user/loadUsers");
    await store.dispatch("auth/loadRoles");

    return {
      currentTab: 0,
      isLoading: false,
      tablePageAmount: 10,
      debounce: null,
      openExtraIdx: null,
      lastExtraUserId: null,

      roles: store.state.auth.roles_filter,

      filterRolesList: [
        { text: "Неважно", value: 0 },
        ...store.state.auth.roles_filter,
      ],

      filterRole: null,
      filterSearch: null,

      editedUser: {
        id: null,
        org_full_name: { type: "text", value: null },
        org_itn: { type: "text", value: null },
        user_name: { type: "text", value: null },
        user_email: { type: "text", value: null },
        user_role: {
          type: "select",
          value: null,
          listValues: store.state.auth.roles_filter,
        },
        user_station: {
          type: "autocomplete",
          value: null,
          actionLoader: "dictionary/loadStations",
          listValues: [],
          defaultOpts: null,
        },
        user_depot: {
          type: "autocomplete",
          value: null,
          actionLoader: "dictionary/loadDepots",
          listValues: [],
        },
      },

      banComment: "",
      errors: {},
    };
  },

  computed: {
    ...mapGetters("user", ["getUsersTableList"]),

    tableColumns() {
      return {
        labels: [
          "Компания",
          "БИН",
          "ФИО",
          "E-mail",
          "Роль",
          "Депо",
          "Станция",
          "Дата создания",
          "Дата изменения",
          "",
        ],
        width: [
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "minmax(186px,2fr)",
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "minmax(142px,1fr)",
          "50px",
        ],
      };
    },
  },

  methods: {
    ...mapActions("user", ["loadUsers", "addUser", "updateUser", "banUser"]),

    handleOpenEdit(user) {
      if (user) {
        for (const key in this.editedUser) {
          switch (key) {
            case "id":
              this.editedUser.id = user.id;
              break;
            case "user_role":
              this.editedUser[key].value = user.role_id;
              break;
            case "user_station":
              this.editedUser[key].value = user.station_id;
              if (user.station_id) {
                this.editedUser[key].defaultOpts = [
                  {
                    text: user.user_station,
                    value: user.station_id,
                  },
                ];
              }
              break;
            case "user_depot":
              this.editedUser[key].value = user.depot_id;
              if (user.depot_id) {
                this.editedUser[key].defaultOpts = [
                  {
                    text: user.user_depot,
                    value: user.depot_id,
                  },
                ];
              }
              break;
            default:
              this.editedUser[key].value = user[key];
              break;
          }
        }
        this.openExtraIdx = null;
        this.errors = {};
      } else {
        this.editedUser.id = null;
      }
    },

    getExtraOptions(user) {
      this.lastExtraUserId = user.id;

      const result = [
        {
          name: " Редактировать",
          method: "handleOpenEdit",
          isNeedUser: true,
        },
      ];

      if (user.ban) {
        result.push({
          name: "Разблокировать",
          method: "banUserMethod",
          payload: false,
          isNeedUser: false,
        });
      } else {
        result.push({
          name: "Заблокировать",
          method: "changeModal",
          payload: "modalBanUser",
          isNeedUser: false,
        });
      }

      return result;
    },

    callExtraMethod(user, option) {
      if (option.isNeedUser) {
        this[option.method](user, option.payload);
      } else {
        this[option.method](option.payload);
      }
    },

    async loadUsersMethod(payload = {}) {
      try {
        const { page, count } = payload;

        if (count) {
          this.tablePageAmount = payload.count;
        }

        payload = {
          page,
          count: this.tablePageAmount,
          is_ban: this.currentTab,
          role_id: this.filterRole,
          search: this.filterSearch,
        };

        await this.loadUsers(payload);
      } catch (error) {
        console.warn(error);
      }
    },

    async addUserMethod(registeredUser) {
      this.isLoading = true;

      try {
        await this.addUser(registeredUser);
        this.errors = {};
        await this.loadUsersMethod();
        this.$refs.registerUser.changeModal("modalRegisterSuccess");
      } catch (error) {
        this.errors = error.response.data;
      }

      this.isLoading = false;
    },

    async updateUserMethod() {
      this.isLoading = true;
      try {
        const requestPayload = {
          id: this.editedUser.id,
          name: this.editedUser.user_name.value,
          email: this.editedUser.user_email.value,
          role_id: this.editedUser.user_role.value,
          org_itn: this.editedUser.org_itn.value,
          org_full_name: this.editedUser.org_full_name.value,
          user_depot: this.editedUser.user_depot?.value,
          user_station: this.editedUser.user_station?.value,
        };

        await this.updateUser(requestPayload);
        await this.loadUsersMethod();
        this.editedUser.id = null;
      } catch (error) {
        this.errors = error.response.data;
      }

      this.isLoading = false;
    },

    async banUserMethod(banStatus = true) {
      this.isLoading = true;

      try {
        const requestPayload = {
          user_id: this.lastExtraUserId,
          comment: this.banComment,
          ban_status: banStatus,
        };

        await this.banUser(requestPayload);
        await this.loadUsersMethod();

        if (banStatus) {
          this.changeModal("modalBanUser", false);
          this.changeModal("modalBanUserSuccess");
        }

        this.errors = {};
        this.openExtraIdx = null;
      } catch (error) {
        this.errors = error.response.data;
      }

      this.isLoading = false;
    },
  },

  watch: {
    currentTab() {
      this.loadUsersMethod();
    },

    filterRole(value) {
      if (value === 0) {
        this.filterRole = null;
      } else {
        this.loadUsersMethod();
      }
    },

    filterSearch(value) {
      if (value && value.length < 2) {
        this.filterSearch = null;
      }

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadUsersMethod();
      }, 400);
    },
  },
};
</script>

<style scoped lang="scss">
@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

.users {
  &-filters {
    margin: 30px 0;
    display: flex;
    align-self: center;
    .search-input {
      margin-right: 30px;
      ::v-deep {
        .custom-icon {
          height: 20px;
          width: 20px;
          background-image: url("/img/input/search.svg");
        }
      }
    }
    .role-filter {
      width: 300px;
      margin-right: 30px;
    }
    .add-btn {
      min-height: 48px;
    }
  }
  .table-row.errors {
    align-items: flex-start;
  }
  .table-cell {
    position: relative;
    &:first-child {
      text-align: left;
    }
    .cancel {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: -17px;
      width: 16px;
      height: 16px;
      background-image: url("/img/components/subTable/delete.svg");
    }
  }
  .edit {
    &-field {
      max-width: 177px;
      &::v-deep {
        .v-text-field__details {
          display: none;
        }
      }
      &.errors {
        background-color: black;
      }
    }
    &-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-accept {
        cursor: pointer;
        margin-bottom: 5px;
        height: 30px;
        width: 30px;
        background-image: url("/img/input/accept-box.svg");
      }
      &-decline {
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-image: url("/img/input/decline-box.svg");
      }
    }
  }
}

.modal {
  &-ban {
    .title {
      margin-bottom: 35px;
    }
    .description {
      margin-bottom: 10px;
    }
    .btn {
      margin-top: 20px;
      width: 100%;
    }
    .success-icon {
      margin-bottom: 15px;
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-image: url("/img/lk/vu7x/modalOK.svg");
      background-position: center;
      background-size: 40px;
    }
  }
}
</style>
