<template>
  <div class="lk-container vu36">
    <div class="vu36__content content">
      <div class="search-field__filters">
        <div class="search">
          <v-text-field
            class="filters__input search-input"
            solo
            depressed
            v-model="filterSearch"
            prepend-inner-icon="custom-icon"
            placeholder="Поиск по номеру, названию"
          ></v-text-field>
          <div
            class="cancel"
            v-if="filterSearch"
            @click="filterSearch = null"
          ></div>
        </div>
        <div class="date-input">
          <input
            class="filters__select date"
            v-model="dateValue"
            type="text"
            @click.stop="isChangeDate = true"
            placeholder="Дата"
          />
          <v-date-picker
            v-if="isChangeDate"
            class="date-input__calendar"
            v-model="dates"
            :first-day-of-week="1"
            locale="ru"
            :title-date-format="titleDate"
            range
            v-click-outside="changePickerVisibility"
            tabindex="0"
          />
          <div
            class="date-input__cancel"
            v-if="!isChangeDate && dates.length"
            @click="dates = []"
          ></div>
        </div>
      </div>
      <Table
        v-if="getListVu36sForTable"
        paginate
        class="vu36__table"
        :list="getListVu36sForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="changeVu36List"
      >
        <div v-if="!getListVu36sForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <TableExpansionRow
          v-else
          v-for="(vu36, key) in getListVu36sForTable.data"
          :key="vu36.id"
          class="content-dropdown"
          :class="{ 'opened-extra': openExtraIdx === key }"
        >
          <template v-slot:header>
            <div></div>
            <div v-for="(cellText, key) in vu36" :key="key">
              <span v-if="cellText === 'btn' && !isNeedSign"></span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.TOR_MASTER &&
                  vu36.signs.length === 0
                "
                class="add-wagon__btn"
                @click.stop="$emit('signVu36', vu36)"
              >
                Подписать и отправить сотруднику ЖД администрации
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.TOR_MASTER &&
                  vu36.signs.length === 1
                "
                class="add-wagon__btn sign"
              >
                Подписано и отправлено
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.TOR_MASTER &&
                  vu36.signs.length === 2
                "
                class="add-wagon__btn sign"
              >
                Подписано с двух сторон
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.RAILWAY_EMPLOYEE &&
                  vu36.signs.length === 1
                "
                class="add-wagon__btn"
                @click.stop="$emit('signVu36', vu36)"
              >
                Подписать
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.RAILWAY_EMPLOYEE &&
                  vu36.signs.length === 2
                "
                class="add-wagon__btn sign"
              >
                Подписано
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  getUser.role_id === constRoles.RAILWAY_EMPLOYEE
                "
              ></span>
              <div v-else-if="['created_at'].includes(key)" class="cell-date">
                <div>
                  {{ cellText.split(" ")[0] }}
                </div>
                <div class="color-gray">
                  {{ cellText.split(" ")[1] }}
                </div>
              </div>
              <span v-else>
                {{ cellText }}
              </span>
            </div>
            <div class="extra-wrapper">
              <div
                class="extra-btn"
                @click.stop="changeExtra(key)"
              />
              <Popup
                v-if="openExtraIdx === key"
                v-click-outside="closeExtra"
                :last="key === getListVu36sForTable.data.length - 1"
              >
                <div class="extra-content">
                  <p
                    v-for="(option, index) in getExtraOptions(vu36)"
                    :key="index"
                    class="extra-el"
                    @click.stop="callExtraMethod(option, vu36, key)"
                  >
                    {{ option.name }}
                  </p>
                </div>
              </Popup>
            </div>
          </template>
          <template v-slot:content>
            <SubTable
              :columnList="subtableTitlesList"
              :contentList="getListWagonsForSubTable[key]"
              :deletable="
                getUser.role_id === constRoles.TOR_MASTER && !vu36.signs.length
              "
              @delete="
                (payload) =>
                  $emit('deleteWagon', {
                    wagon_id: payload.id,
                    vu36_id: vu36.id,
                  })
              "
            />
            <button
              v-if="
                getUser.role_id === constRoles.TOR_MASTER && !vu36.signs.length
              "
              class="content-dropdown__btn"
              @click="$emit('chooseVu36', { id: vu36.id })"
            >
              <span class="content-dropdown__btn-img">
                <img src="@/static/img/lk/vu7x/addBtnCross.svg" alt="add" />
              </span>
              Добавить вагон
            </button>
          </template>
        </TableExpansionRow>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import SubTable from "@/components/reuse/SubTable";
import TableExpansionRow from "@/components/reuse/TableExpansionRow";
import { PopupMixin } from "@/mixins/PopupMixin";
import { roles as constRoles } from "@/helpers/constants.js";

import { titleDate } from "@/utils/calendarTitleFormat";

export default {
  components: {
    Table,
    SubTable,
    TableExpansionRow,
    Popup,
  },

  mixins: [PopupMixin],

  props: {
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      constRoles,
      isLoading: false,
      tablePageAmount: 10,
      page: 1,
      debounce: null,
      openExtraIdx: null,
      filterSearch: "",
      isChangeDate: false,
      dates: [],
      subtableTitlesList: [
        "№ вагона",
        "Инициалы дороги приписки",
        "Тип вагона",
        "Характеристика",
        "Дата начала ремонта",
      ],
    };
  },

  computed: {
    ...mapGetters("vu36", ["getListVu36sForTable", "getListWagonsForSubTable"]),
    ...mapGetters("auth", ["getUser"]),

    isNeedSign() {
      return [constRoles.TOR_MASTER, constRoles.RAILWAY_EMPLOYEE].includes(
        this.getUser.role_id
      );
    },

    tableColumns() {
      return {
        labels: ["", "№ ведомости", "Дата открытия", "Кол-во вагонов", "", ""],
        width: ["40px", "1fr", "1fr", "1fr", "500px", "40px"],
      };
    },

    dateValue() {
      if (
        new Date(this.dates[0]).getTime() >= new Date(this.dates[1]).getTime()
      )
        this.dates.reverse();
      return this.dates.join(" ~ ");
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.changeVu36List();
      }, 400);
    },
    dateValue() {
      this.changeVu36List();
    },
  },

  methods: {
    titleDate,

    changePickerVisibility() {
      if (this.isChangeDate) {
        this.isChangeDate = !this.isChangeDate;
      }
    },

    changeVu36List(payload = {}) {
      const { page, count } = payload;
      if (page) this.page = page;
      if (count) this.tablePageAmount = count;
      const params = {
        page: this.page,
        count: this.tablePageAmount,
        search: this.filterSearch,
        left_date: this.dates[0],
        right_date: this.dates[1],
      };
      this.$emit("changeList", params);
    },

    callExtraMethod(option, payload, idx) {
      if (option.method) this.$emit(option.method, payload, option.format);
      if (option.method === "deleteVu36") this.changeExtra(idx);
    },

    getExtraOptions(vu36) {
      const signsCount = vu36.signs.length;
      const result = [
        {
          name: "Скачать файл ВУ-36",
          method: "downloadVu36Doc",
        },
      ];

      if (signsCount) {
        result.push({
          name: "Скачать архив формы",
          method: "downloadVu36Doc",
          format: "archive",
        });
      }

      if (this.getUser.role_id === constRoles.TOR_MASTER && signsCount === 1) {
        result.push({
          name: "Отменить",
          method: "declineVu36",
        });
      }

      if (this.getUser.role_id === constRoles.TOR_MASTER && !signsCount) {
        result.push({
          name: "Удалить",
          method: "deleteVu36",
        });
      }

      return result;
    },
  },
};
</script>


<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";

.delete {
  cursor: pointer;
  background-image: url("/img/components/subTable/delete.svg");
  background-position: center;
  width: 20px;
  height: 20px;
}
.cell-date {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 72px;
}

.search-field__filters {
  .search {
    margin-bottom: 0;
    width: 80%;
    margin-right: 30px;
    height: 48px;
    background-color: #f4f6f9;
    position: relative;
    @include cancel();
    &-input {
      width: 100%;
    }
  }
}

.date-input {
  position: relative;
  .date {
    width: 292px;
    background-color: #f4f6f9;
    &-input {
      position: relative;
      &__calendar {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1000;
        border: 1px solid #000;
      }
      &__cancel {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("/img/components/subTable/delete.svg");
      }
    }
  }
}

.color-gray {
  @include font(400, 13px, #68868b);
}
.add-wagon__btn {
  @include repiar-status(#fff, #17bc9e, #17bc9e);
  @include font(600, 15px, #17bc9e);
  border-radius: 4px;
  padding: 11px 20px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: #17bc9e;
    color: #fff;
  }
}

.sign {
  @include repiar-status(#e5e8ff, #e5e8ff, #2f35bc);
  border-radius: 4px;
  &:hover {
    background-color: #e5e8ff;
    color: #2f35bc;
  }
}
</style>
