<template>
  <div class="vu36-wagon">
    <div class="search-field__filters">
      <div class="search-input">
        <v-text-field
          class="filters__input"
          solo
          depressed
          v-model="filterSearch"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру, названию"
        ></v-text-field>
        <div
          class="cancel"
          v-if="filterSearch"
          @click="filterSearch = null"
        ></div>
      </div>
      <div class="owner-input">
        <Field
          class="filters__input"
          type="autocomplete"
          actionLoader="dictionary/loadWagonTypes"
          :listValues="listWagonTypes"
          placeholder="Тип вагона"
          v-model="filterWagonTypes"
        />
        <div
          class="cancel"
          v-if="filterWagonTypes"
          @click="filterWagonTypes = ''"
        ></div>
      </div>
      <div class="date-input">
        <input
          class="filters__select date"
          v-model="dateValue"
          type="text"
          @click.stop="isChangeDate = true"
          placeholder="Дата"
        />
        <v-date-picker
          v-if="isChangeDate"
          class="date-input__calendar"
          v-model="dates"
          :first-day-of-week="1"
          locale="ru"
          :title-date-format="titleDate"
          range
          v-click-outside="changePickerVisibility"
          tabindex="0"
        />
        <div
          class="date-input__cancel"
          v-if="!isChangeDate && dates.length"
          @click="dates = []"
        ></div>
      </div>
    </div>
    <div
      class="vu36-wagon__btn"
      v-if="idsCheckedWagons.length"
      @click="$emit('addToVu36', idsCheckedWagons)"
    >
      <div class="vu36-wagon__btn-img">
        <span class="vu36-wagon__btn-img_plus"></span>
      </div>
      <p>Добавить в ВУ-36</p>
    </div>
    <Table
      paginate
      :list="getListWagons"
      :columns="tableColumns"
      paginationTitle="Документов"
      @changeList="changeWagonList"
    >
      <div v-if="!getListWagons.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>
      <div
        v-else
        class="table-row"
        v-for="wagonRow in getListWagons.data"
        :key="wagonRow.id"
      >
        <div v-if="isNeedSign">
          <input
            type="checkbox"
            class="checkbox"
            v-model="checkedWagons[wagonRow.id]"
            :disabled="!!wagonRow.vu36_id"
            @click="changeCheckedWagons(wagonRow.id)"
          />
        </div>
        <div v-else></div>
        <div v-for="(cell, key) in wagonRow" :key="key">
          <span v-if="cell === 'btn' && !isNeedSign"></span>
          <span
            v-else-if="cell === 'btn'"
            class="add-wagon__btn"
            @click="$emit('addToVu36', [wagonRow.id])"
          >
            Добавить в ВУ-36
          </span>
          <div
            v-else-if="
              cell !== getAltDate &&
              ['vu23_at', 'vu80_at', 'vu36_at', 'vu81_at', 'vu36_at'].includes(
                key
              )
            "
            class="cell-date"
          >
            <div>
              {{ cell.split(" ")[0] }}
            </div>
            <div class="color-gray">
              {{ cell.split(" ")[1] }}
            </div>
          </div>
          <span
            v-else-if="cell === getAltDate"
            :class="{ 'color-gray': cell === getAltDate }"
          >
            {{ cell }}
          </span>
          <span v-else>
            {{ cell }}
          </span>
        </div>
      </div>
    </Table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import { roles as constRoles } from "@/helpers/constants.js";

import { titleDate } from "@/utils/calendarTitleFormat";

export default {
  components: {
    Field,
    Table,
  },
  props: {
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
    isAddedWagon: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      countOnPage: 10,
      page: 0,
      debounce: null,
      idsCheckedWagons: [],
      filterSearch: "",
      filterWagonTypes: "",
      checkedWagons: {},
      isChangeDate: false,
      dates: [],
      listWagonTypes: [],
    };
  },
  computed: {
    ...mapGetters("vu36", ["getListWagons", "getAltDate"]),
    ...mapGetters("auth", ["getUser"]),

    tableColumns() {
      return {
        labels: [
          "",
          "№ вагона",
          "Инициалы дороги приписки",
          "Тип вагона",
          "Характеристика",
          "Дата начала ремонта",
          "Дата формы",
        ],
        width: ["40px", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr"],
      };
    },

    isNeedSign() {
      return [constRoles.TOR_MASTER, constRoles.RAILWAY_EMPLOYEE].includes(
        this.getUser.role_id
      );
    },

    dateValue() {
      if (
        new Date(this.dates[0]).getTime() >= new Date(this.dates[1]).getTime()
      )
        this.dates.reverse();
      return this.dates.join(" ~ ");
    },
  },
  methods: {
    titleDate,

    changeCheckedWagons(wagonId) {
      if (this.checkedWagons[wagonId]) {
        this.idsCheckedWagons = this.idsCheckedWagons.filter(
          (item) => item !== wagonId
        );
      } else {
        this.idsCheckedWagons.push(wagonId);
      }
    },
    changeWagonList(payload = {}) {
      const { page, count } = payload;
      if (page) this.page = page;
      if (count) this.countOnPage = count;
      const params = {
        page: this.page,
        count: this.countOnPage,
        search: this.filterSearch,
        wagon_type: this.filterWagonTypes,
        left_date: this.dates[0],
        right_date: this.dates[1],
      };
      this.$emit("changeList", params);
    },
    changePickerVisibility() {
      if (this.isChangeDate) {
        this.isChangeDate = !this.isChangeDate;
      }
    },
  },
  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.changeWagonList();
      }, 400);
    },
    filterWagonTypes() {
      this.changeWagonList();
    },
    dateValue() {
      this.changeWagonList();
    },
    getListWagons() {
      this.getListWagons.data.forEach((item) => {
        this.checkedWagons = { [item.id]: false, ...this.checkedWagons };
      });
    },
    isAddedWagon() {
      for (const key in this.checkedWagons) {
        this.checkedWagons[key] = false;
      }
      this.idsCheckedWagons = [];
    },
  },
  mounted() {
    this.getListWagons.data.forEach((item) => {
      this.checkedWagons = { [item.id]: false, ...this.checkedWagons };
    });
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/mixins";

.vu36-wagon {
  .search-field__filters {
    .filters__input {
      width: 234px;
      &:last-child {
        margin-right: 0;
      }
    }
    .filters__input {
      width: 100%;
    }
    .date {
      width: 292px;
      background-color: #f4f6f9;
      &-input {
        position: relative;
        &__calendar {
          position: absolute;
          top: 50px;
          left: 0;
          border: 1px solid #000;
          z-index: 100;
        }
        &__cancel {
          position: absolute;
          top: 18px;
          right: 15px;
          width: 16px;
          height: 16px;
          background-image: url("/img/components/subTable/delete.svg");
        }
      }
    }
    .search {
      &-input {
        margin-bottom: 0;
        width: 100%;
        margin-right: 30px;
        height: 48px;
        background-color: #f4f6f9;
        position: relative;
        @include cancel();
      }
    }
    .owner {
      &-input {
        margin-bottom: 0;
        width: 20%;
        width: 400px;
        height: 48px;
        margin-right: 30px;
        background-color: #f4f6f9;
        position: relative;
        @include cancel();
        .filters__input {
          ::v-deep {
            .custom-icon {
              background-image: none;
            }
          }
        }
      }
    }
  }
  &__btn {
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    width: 160px;
    margin-bottom: 20px;
    @include font(600, 15px, #17bc9e);
    &-img {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      background-color: #17bc9e;
      border-radius: 50%;
      margin-right: 15px;
      &_plus {
        display: inline-block;
        text-align: center;
        padding: 5px;
        background-image: url("/img/lk/addBtnCheck.png");
        background-position: -1px 0;
        margin: 0 auto;
        width: 12px;
        height: 13px;
      }
    }
  }
  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #d2dddf;
    margin: 0 auto;
    display: inline-block;
    &:checked::after {
      content: " ";
      background-image: url("/img/input/accept-box.svg");
      background-position: -5px -4px;
      color: #2aa7c3;
      border: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      visibility: visible;
      border-radius: 2px;
    }
  }
  .add-wagon__btn {
    @include repiar-status(#fff, #17bc9e, #17bc9e);
    @include font(600, 15px, #17bc9e);
    border-radius: 4px;
    padding: 11px 20px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background-color: #17bc9e;
      color: #fff;
    }
  }
  .cell-date {
    text-align: left;
    width: 72px;
    display: block;
    margin: 0 auto;
  }
  .color-gray {
    @include font(400, 13px, #68868b);
  }
}
</style>