<template>
  <div class="EDS">
    <a
      class="EDS__link"
      href="/doc/Инструкция_по_загрузке_сертификата.pdf"
      target="_blank"
    >
      <img class="EDS__img" src="/img/lk/personal/pdf.svg" alt="pdf" />
      <span class="EDS__text">Инструкция по загрузке сертификата</span>
    </a>
    <div class="EDS__certificate">
      <div class="EDS__certificate-header">
        <h3 class="EDS__certificate-header_title">Сертификат</h3>
        <v-btn color="primary" depressed @click="$emit('testSign')">
          Подписать тестовый документ
        </v-btn>
      </div>
      <FirstFormBlock v-if="!getTestSignsTableList.meta.total">
        <p class="first-form__content-text">
          Загрузите сертификат <br />
          для проверки валидности
        </p>
        <button class="first-form__content-btn" @click="$emit('testSign')">
          Загрузить сетрификат
        </button>
      </FirstFormBlock>

      <Table
        v-if="getTestSignsTableList.meta.total"
        paginate
        :list="getTestSignsTableList"
        :columns="testSignsTableColumns"
        paginationTitle="Документов"
        @changeList="(payload) => $emit('changeCertificateList', payload)"
        key="testSignsTableColumns"
      >
        <div v-if="!getTestSignsTableList.meta.total" class="table-row-empty">
          У вас отсуствуют файлы с тестовыми подписанием.
        </div>
        <div
          v-else
          class="table-row"
          v-for="doc in getTestSignsTableList.data"
          :key="doc.file_id"
        >
          <div v-for="(cell, key) in doc" :key="key">
            <span
              v-if="key === 'name'"
              class="file-link"
              @click="$emit('download', doc)"
            >
              {{ cell }}
            </span>
            <span
              v-else-if="key === 'is_sign_success'"
              :class="{
                'status-verified': cell,
                'status-unverified': !cell,
              }"
            >
              {{ cell ? "Подписано" : "Не подписано" }}
            </span>
            <span v-else>
              {{ cell }}
            </span>
          </div>
        </div>
      </Table>
    </div>

    <div class="EDS__certificate">
      <div class="EDS__certificate-header">
        <h3 class="EDS__certificate-header_title">
          Документ, подтверждающий подпись
        </h3>
        <input type="file" @change="downloadFile($event, 'inputFileOnHeader')" ref="inputFileOnHeader" style="display:none" id="doc" multiple>
        <label v-if="getDocsTableList.meta.total" for="doc" class="first-form__content-btn"> Загрузить документ</label>
      </div>

      <FirstFormBlock v-if="!getDocsTableList.meta.total">
        <p class="first-form__content-text">Нет данных.</p>
        <p class="first-form__content-text">
          Загрузите документ, чтобы начать работу
        </p>
        <input type="file" ref="inputFileOnForm" @change="downloadFile($event, 'inputFileOnForm')" style="display:none" id="doc" multiple>
        <label for="doc" class="first-form__content-btn"> Загрузить документ</label>
      </FirstFormBlock>

      <Table
        v-else
        paginate
        :list="getDocsTableList"
        :columns="docsTableColumns"
        paginationTitle="Документов"
        @changeDocList="(payload) => $emit('changeList', payload)"
        key="docsTableColumns"
      >
        <div v-if="!getDocsTableList.meta.total" class="table-row-empty">
          У вас отсуствуют тестовые файлы подтверждающие подпись.
        </div>
        <div
          v-else
          class="table-row"
          v-for="doc in getDocsTableList.data"
          :key="doc.file_id"
        >
          <div v-for="(cell, key) in doc" :key="key">
            <span
              v-if="key === 'name'"
              class="file-link"
              @click="$emit('download', doc)"
            >
              {{ cell }}
            </span>
            <span
              v-else-if="key === 'is_sign_success'"
              :class="{
                'status-verified': cell,
                'status-unverified': !cell,
              }"
            >
              {{ cell ? "Подписано" : "Не подписано" }}
            </span>
            <span v-else>
              {{ cell }}
            </span>
          </div>
          <div></div>
          <div
            class="delete"
            @click.stop="$emit('deleteDoc', { file_id: doc.id })"
          ></div>
        </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import Table from "@/components/reuse/Table";
import Field from "@/components/reuse/Field";
import FirstFormBlock from "@/components/reuse/FirstFormBlock";

export default {
  name: "PersonalEDS",

  components: {
    Table,
    Field,
    FirstFormBlock,
  },

  data({}) {
    return {
      isLoading: false,
      isEditMain: false,
      isEditContact: false,
      currentTab: 0,
      editedUser: { ...this.user },
      certificate: false,
      document: false,

      docsTableColumns: {
        labels: ["Документ", "Дата", null, ''],
        width: ["500px", "100px", "1fr", "40px"],
      },
      testSignsTableColumns: {
        labels: ["Документ", "Дата подписания", "Результат"],
        width: ["1fr", "1fr", "1fr"],
      },
    };
  },
  computed: {
    ...mapGetters("user", ["getTestSignsTableList", "getDocsTableList"]),

  },
  methods: {
    downloadFile(event, ref) {
      this.$emit('uploadFile', event.target.files);
      this.$refs[ref].value = null;
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
$blueLink: #066096;

.first-form__content-btn {
  @include font(600, 17px, #17bc9e);
  cursor: pointer;
  border: 1px solid #17bc9e;
  padding: 11px 25px;
  border-radius: 4px;
  margin-top: 25px;
  &:hover {
    color: #fff;
    background-color: #17bc9e;
  }
}

.delete {
  cursor: pointer;
  background-image: url("/img/components/subTable/delete.svg");
  background-position: center;
  width: 20px;
  height: 20px;
}

.EDS__link {
  max-width: 80vw;
  width: 100%;
  border: 1px solid rgba(6, 96, 150, 0.15);
  background: rgba(155, 219, 255, 0.15);
  padding: 25px 30px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  .EDS__img {
    width: 20px;
    height: 24px;
    margin-right: 18px;
  }
  .EDS__text {
    text-decoration: underline;
    @include font(normal, 17px, #066096);
  }
}

.status {
  &-expects {
    @include repiar-status(#fff2da, #dd9300, #dd9300);
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
  }
  &-unverified {
    @include repiar-status(#fff3f3, #fff3f3, #eb5757);
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
  }
  &-verified {
    @include repiar-status(#e8fdf0, #e8fdf0, #0bb74f);
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
  }
}

.EDS__certificate {
  margin-bottom: 25px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    &_title {
      @include font(700, 24px, #28292b);
    }
  }
  &-table {
    border-radius: 4px;
    border: 1px solid #d3dcde;
    &_header {
      display: flex;
      justify-content: space-between;
      background-color: #f5f7f8;
      padding: 20px 35px;
      border-bottom: 1px solid #d3dcde;
      &-item {
        width: 40%;
      }
    }
    &_row {
      display: flex;
      justify-content: space-between;
      padding: 20px 35px;
      border-bottom: 1px solid #d3dcde;
      &-item {
        width: 40%;
      }
    }
  }
  .table {
    &-row {
      .file-link {
        color: $blueLink;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
</style>
