<template>
  <div>
    <div class="form">
      <h3 class="form__title">Основная информация</h3>
      <div
        v-for="(row, key, index) in mainFormRows"
        :key="index"
        :class="{
          form__row_edit: isEditMain,
          form__row: !isEditMain,
        }"
      >
        <span
          class="form__field-name"
          v-if="row.type !== null || !isEditMain"
          >{{ row.name }}</span
        >
        <span class="form__field-value" v-if="!isEditMain">
          {{ row.staticValue }}
        </span>
        <Field
          v-else
          class="form__field-input"
          :id="row.id"
          :type="row.type"
          :errors="errors"
          v-model="editedUser[row.field || row.id]"
        />
      </div>
      <span
        class="form__edit edit-btn"
        v-if="!isEditMain"
        @click="isEditMain = true"
      >
        <img
          class="edit-btn__img"
          src="/img/lk/personal/pencil.svg"
          alt="pencil"
        />
        <span class="edit-btn__label">Редактировать</span>
      </span>
      <div class="form__edit" v-else>
        <v-btn
          class="edit-btn_save"
          color="primary"
          depressed
          :loading="isLoading"
          @click="saveEdit('isEditMain')"
        >
          Сохранить
        </v-btn>
        <v-btn
          class="btn--black-text edit-btn_cancel"
          outlined
          depressed
          @click="closeForm('isEditMain')"
        >
          Отменить
        </v-btn>
      </div>
    </div>

    <div class="form">
      <h3 class="form__title">Контактная информация</h3>
      <div
        v-for="(row, key, index) in contractFormRows"
        :key="index"
        :class="{
          form__row_edit: isEditContact,
          form__row: !isEditContact,
        }"
      >
        <span class="form__field-name">{{ row.name }}</span>
        <span class="form__field-value" v-if="!isEditContact">
          {{ row.staticValue }}
        </span>
        <Field
          v-else
          class="form__field-input"
          :id="row.id"
          :type="row.type"
          :errors="errors"
          v-model="editedUser[row.id]"
        />
      </div>

      <div
        class="form__edit edit-btn"
        v-if="!isEditContact"
        @click="isEditContact = true"
      >
        <img
          class="edit-btn__img"
          src="/img/lk/personal/pencil.svg"
          alt="pencil"
        />
        <span class="edit-btn__label">Редактировать</span>
      </div>
      <div class="form__edit" v-else>
        <v-btn
          class="edit-btn_save"
          color="primary"
          depressed
          :loading="isLoading"
          @click="saveEdit('isEditContact')"
        >
          Сохранить
        </v-btn>
        <v-btn
          class="btn--black-text edit-btn_cancel"
          outlined
          depressed
          @click="closeForm('isEditContact')"
        >
          Отменить
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import Field from "@/components/reuse/Field";
import { roles } from "@/helpers/constants.js";

export default {
  name: "PersonalInfo",
  components: {
    Field,
  },
  props: {
    user: {
      type: Object,
      default() {
        return {};
      },
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data({}) {
    return {
      isEditMain: false,
      isEditContact: false,
      currentTab: 0,
      editedUser: { ...this.user },
    };
  },
  methods: {
    closeForm(formName) {
      this[formName] = false;
      this.editedUser = { ...this.user };
      this.$emit("clearError");
    },
    saveEdit(formType) {
      const payload = {
        editedUser: this.editedUser,
        formType,
      };
      this.$emit("saveUser", payload);
    },
  },
  computed: {
    mainFormRows() {
      const rows = {
        name: {
          id: "name",
          name: "ФИО",
          staticValue: this.user.name,
          type: "text",
        },
        position: {
          id: "position",
          name: "Должность",
          staticValue: this.user.role_name,
          type: null,
        },
        password: {
          id: "password",
          name: "Пароль",
          staticValue: "••••••",
          type: "password",
        },

      };

      if (this.user.role_id === roles.REPAIR_CUSTOMER) {
        delete rows.position;
      }

      if (this.isEditMain) {
        rows.password_confirmation = {
          id: "password",
          name: "Подтверждение пароля",
          type: "password",
          field: "password_confirmation",
        };
      }

      return rows;
    },
    contractFormRows() {
      return {
        name: {
          id: "email",
          name: "Email",
          staticValue: this.user.email,
          type: "text",
        },
        password: {
          id: "phone",
          name: "Телефон",
          staticValue: this.user.phone,
          type: "text",
        },
      };
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../../assets/styles/mixins";

.form {
  max-width: 770px;
  margin-top: 50px;
  border: 1px solid #e0e7e9;
  border-radius: 6px;
  padding: 30px 40px;
  min-width: 770px;

  &__title {
    @include font(700, 24px, #28292b);
    margin-bottom: 23px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e7e9;

    &_edit {
      border: none;
      margin-bottom: 20px;
    }
  }
  &__field {
    &-name {
      @include font(400, 17px, #6e8b90);
      width: 20%;
    }
    &-value {
      @include font(400, 17px, #28292b);
      width: 80%;
    }
    &-input {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
  }
  &__edit {
    display: flex;
    align-items: center;
    margin-top: 30px;
    .edit-btn__img {
      margin-right: 23px;
      width: 15px;
      height: 15px;
    }
    .edit-btn__label {
      @include font(600, 17px, #23c1a5);
    }
  }
  &__edit.edit-btn {
    cursor: pointer;
    display: inline-block;
  }
  .edit-btn_save {
    display: block;
    padding: 12px 25px;
    margin-right: 15px;
    height: 46px;
    width: 132px;
  }
  .edit-btn_cancel {
    display: block;
    padding: 12px 25px;
    border: 1px solid #97b0b5;
    border-radius: 4px;
    height: 46px;
    width: 126px;
  }
}
</style>
