<template>
  <div class="vu7x">
    <DialogModal ref="signDoc" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>

    <DialogModal ref="modalVu78Created" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <div class="description">
          {{ errors ? errors : "Вагон успешно добавлен" }}
        </div>
      </div>
    </DialogModal>

    <DialogModal ref="modalVu80Created" width="500px">
      <div class="modal">
        <div class="success-icon" />
        <p class="description">
          {{ currentTabForm === 78 ? "ВУ-80" : "ВУ-81" }} успешно создана
        </p>
      </div>
    </DialogModal>

    <template v-if="!getIsCreateForm">
      <div class="vu7x-header__switcher switcher">
        <SwitchTabs
          @changeSwitch="changeSwitch"
          :tabs="tabsList"
          :mountedTab="activeTab"
          class="switcher__item"
        />
        <div class="switcher__btn">
          <v-btn
            v-if="this.getUser.role_id === constRoles.TOR_MASTER"
            class="vu7x-header__btn"
            color="primary"
            depressed
            @click="openCreateForm(currentTabForm)"
          >
            Создать заявку
          </v-btn>
        </div>
      </div>
      <div class="vu7x-header__filter filter">
        <v-text-field
          v-model="filterValues.search"
          class="filters__input search"
          solo
          depressed
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру, названию"
        ></v-text-field>
      </div>
    </template>
    <template v-if="!getIsCreateForm">
      <Vu78sTable
        v-if="vu7x.data.length || filterValues.search"
        ref="vu78Table"
        :vu7x="vu7x"
        :currentTabForm="currentTabForm"
        @changeList="loadVu7xMethod"
        @addWagon="openFormAddWagon"
        @updateWagon="updateWagonMethod"
        @createVu8x="createVu8xMethod"
        @sign="signVu78Method"
        @downloadDocument="downloadVu7xDocMethod"
        @deleteWagon="deleteVu78WagonMethod"
        @deleteVu78="deleteVu78Method"
      />
      <FirstFormBlock v-else-if="!isLoading">
        <p
          v-if="this.getUser.role_id === constRoles.TOR_MASTER"
          class="first-form__content-text"
        >
          Создайте заявку, чтобы начать работу
        </p>
        <p v-else>Заявки отсутствуют</p>
      </FirstFormBlock>
    </template>

    <CreateVu78
      v-else
      ref="createVu78"
      :isLoading="isLoading"
      :currentTabForm="currentTabForm"
      @sendData="addWagonToVu7xMethod"
      :vu7xId="vu7xId"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import FirstFormBlock from "@/components/reuse/FirstFormBlock";
import CreateVu78 from "@/components/lk/vu7x/CreateVu78.vue";
import Vu78sTable from "@/components/lk/vu7x/Vu78sTable.vue";
import SwitchTabs from "@/components/reuse/SwitchTabs";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import { getCurrentDate } from "@/utils/getDate";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

import {
  roles as constRoles,
  docType as constDocType,
} from "@/helpers/constants.js";

export default {
  components: {
    Field,
    FirstFormBlock,
    CreateVu78,
    Vu78sTable,
    SwitchTabs,
  },

  mixins: [DialogModalMixin],

  async asyncData({ store }) {
    let vu7xResponse = await store.dispatch("vu7x/loadVu7x", { type: 78 });

    return {
      countOnPage: 10,
      page: 1,
      isLoading: false,
      vu7xId: null,
      vu7x: vu7xResponse.data,
      activeTab: null,
      currentTabForm: 78,
      errors: {
        park_number: null,
      },
      isError: false,
      debounce: {},
      poll: null,
      constRoles,
      params: { type: 78 },
      notification: "",

      tabsList: [
        {
          id: 0,
          label: "ВУ-78",
        },
        {
          id: 1,
          label: "ВУ-79",
        },
      ],

      filterValues: {
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),
    ...mapGetters("stateHeader", ["getIsCreateForm"]),
  },

  methods: {
    ...mapActions("auth", ["loadAuthUser"]),

    ...mapActions("vu7x", [
      "loadVu7x",
      "addWagonToVu78",
      "addWagonToVu79",
      "deleteWagon",
      "deleteVu7x",
      "downloadVu7xDoc",
      "signVu78",
      "updateWagon",
    ]),
    ...mapActions("vu8x", ["createVu8x"]),
    ...mapActions("stateHeader", ["openCreateForm"]),

    getCurrentDate,

    changeModal(modalName, status = true) {
      this.$refs[modalName].isOpen = status;
    },
    changeSwitch(tab) {
      this.activeTab = tab;
    },

    createRequestParams(payload) {
      const { page, count, isDel } = payload;

      if (page) {
        this.page = page;
      }

      if (isDel && !(this.vu7x.data.length - 1) && this.page !== 1) {
        this.page = 1;
      }

      if (count) {
        this.countOnPage = count;
      }

      this.params = {
        page: this.page,
        count: this.countOnPage,
        type: this.currentTabForm,
        search: this.filterValues.search,
      };
    },

    openFormAddWagon({ id }) {
      this.vu7xId = id;
      this.openCreateForm(this.currentTabForm);
    },

    async loadVu7xMethod(payload = {}) {
      this.isLoading = true;
      try {
        this.createRequestParams(payload);
        const response = await this.loadVu7x(this.params);
        this.vu7x = response.data;
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async addWagonToVu7xMethod(payload) {
      this.isLoading = true;
      this.isError = false;

      try {
        if (this.currentTabForm === 78) {
          await this.addWagonToVu78({ ...payload, vu78_id: this.vu7xId });
        } else {
          await this.addWagonToVu79({ ...payload, vu79_id: this.vu7xId });
        }

        this.$refs.createVu78.clearInputs();
        this.vu7xId = null;
        this.errors = null;
        await this.loadVu7xMethod();
      } catch (error) {
        this.isError = true;
        this.errors = Object.values(error.response.data)[0];
      }

      this.isLoading = false;
      this.changeModal("modalVu78Created");
    },

    async signVu78Method(vu78) {
      this.isLoading = true;
      this.isError = false;

      try {
        const currentDocument = vu78.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );

        const uuid = currentDocument.file_id;
        const requestData = { uuid };

        const documentBase64 = await this.downloadVu7xDoc({
          vu78_id: vu78.id,
          file_id: uuid,
          format: "base64",
          isNotBlob: true,
          form_type: this.currentTabForm,
        });

        requestData.sig = await ncaLayerSign(documentBase64);

        await this.signVu78({
          vu78_id: vu78.id,
          requestData,
          form_type: this.currentTabForm,
        });

        this.notification = `Вы успешно подписали документ ВУ-${
          this.currentTabForm === 78 ? "78" : "79"
        } от ${this.getCurrentDate()}.
    Документ зарегистрирован и будет храниться в системе Цифровой ТОР.`;
        this.changeModal("signDoc");

        await this.loadVu7xMethod();

        if (this.getUser.role_id === constRoles.STATION_OFFICER) {
          await this.loadAuthUser();
        }
      } catch (error) {
        console.warn(error);
        this.isError = true;
        this.notification =
          error?.response?.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("signDoc");
      }

      this.isLoading = false;
    },

    async downloadVu7xDocMethod(payload) {
      const { vu78, format } = payload;
      this.isLoading = true;

      try {
        const mainFormDoc = vu78.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );
        const response = await this.downloadVu7xDoc({
          vu78_id: vu78.id,
          file_id: mainFormDoc.file_id,
          format: format,
          form_type: this.currentTabForm,
        });

        let fileName;

        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-${this.currentTabForm} №${vu78.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu78.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-${this.currentTabForm} №${vu78.id}.pdf`;
        }

        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async deleteVu78WagonMethod(wagon) {
      try {
        await this.deleteWagon({
          vu7x_id: wagon.vu7x_id,
          wagon_id: wagon.id,
          form_type: this.currentTabForm,
        });
        await this.loadVu7xMethod({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    async updateWagonMethod(payload) {
      this.isLoading = true;

      try {
        await this.updateWagon(payload);
        await this.loadVu7xMethod();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async createVu8xMethod(payload) {
      const { vu78 } = payload;
      this.isLoading = true;

      try {
        await this.createVu8x({
          vu7x_id: vu78.id,
          form_type: this.currentTabForm === 78 ? 80 : 81,
        });

        await this.loadVu7xMethod();
        this.changeModal("modalVu80Created");
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async deleteVu78Method({ vu78 }) {
      try {
        await this.deleteVu7x({
          vu78_id: vu78.id,
          form_type: this.currentTabForm,
        });
        await this.loadVu7xMethod({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    startPolling() {
      this.polling = setInterval(async () => {
        try {
          const response = await this.loadVu7x(this.params);
          this.vu7x = response.data;
        } catch (error) {
          console.warn(error);
        }
      }, 10000);
    },
  },

  watch: {
    "filterValues.search"(value) {
      if (value) {
        clearTimeout(this.debounce);

        this.debounce = setTimeout(() => {
          this.loadVu7xMethod();
        }, 400);
      } else {
        this.loadVu7xMethod();
      }
    },
    getIsCreateForm(val) {
      if (!val) {
        this.vu7xId = null;
        this.$refs.createVu78.clearInputs();
        this.errors = null;
      }
    },

    activeTab(val) {
      if (val !== null) {
        this.currentTabForm = val ? 79 : 78;
        this.loadVu7xMethod();
      }
    },
  },

  created() {
    this.startPolling();
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";

.vu7x {
  width: 100%;
  &-header {
    &__switcher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .switcher {
        &__item {
          width: 400px;
        }
      }
    }
    &__filter {
      display: flex;
      .filters__input {
        display: flex;
        width: 80%;
        ::v-deep {
          .custom-icon {
            height: 20px;
            width: 20px;
            background-image: url("/img/input/search.svg");
          }
        }
      }
    }
    &__btn.v-btn {
      height: 46px;
    }
  }
}
</style>