<template>
  <div class="notific-content">
    <ModalBlockNotification
      v-if="editedBlockId"
      :notificId="editedBlockId"
      @close="closeEditBlock"
    />
    <v-tabs
    v-if="getNotificationGroup.length"
      class="notific-filters"
      v-model="currentGroupIndex"
      slider-size="2"
    >
      <v-tab
        v-for="group in getNotificationGroup"
        :key="group.id"
        :ripple="false"
      >
        <span>{{ group.name }}</span>
      </v-tab>
      <v-tab  :ripple="false">
        <span>Мои уведомления</span>
      </v-tab>
    </v-tabs>
    <Table
      v-if="
        getNotificationGroup[currentGroupIndex] &&
        getNotificationTypeList.data.length
      "
      paginate
      :list="getNotificationTypeList"
      :columns="tableColumns"
      paginationTitle="Уведомлений"
      @changeList="loadTypesMethod"
    >
      <div v-if="!getNotificationTypeList.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>

      <div
        v-else
        class="table-row"
        v-for="(notific, notificIdx) in getNotificationTypeList.data"
        :key="notific.id"
      >
        <div class="table-cell" v-for="(row, key) in notific" :key="key">
          <v-textarea
            v-if="editedNotific.id === notific.id && key === 'body'"
            class="text-area"
            rows="3"
            background-color="#F4F6F9"
            v-model="editedNotific[key]"
          ></v-textarea>
          <Field
            v-else-if="editedNotific.id === notific.id && editedFields[key]"
            class="edit-field"
            :id="key"
            v-model="editedNotific[key]"
          />

          <div v-else-if="Array.isArray(row)">
            <p v-for="(rowElem, index) in row" :key="index">
              {{ rowElem.decoded_name || rowElem.name }}
            </p>
          </div>
          <span v-else>
            {{ row }}
          </span>
        </div>

        <div v-if="editedNotific.id === notific.id" class="edit-icon">
          <div class="edit-icon-accept" @click="updateTypeMethod" />
          <div class="edit-icon-decline" @click="closeEdit" />
        </div>

        <div v-else class="extra-wrapper">
          <div
            class="extra-btn table-row__popup-btn"
            @click.stop="changeExtra(notificIdx)"
          />
          <Popup
            v-if="openExtraIdx === notificIdx"
            v-click-outside="closeExtra"
            :last="notificIdx === getNotificationTypeList.data.length - 1"
          >
            <div class="extra-content">
              <p
                v-for="(option, index) in getExtraOptions()"
                :key="index"
                class="extra-el"
                @click.stop="callExtraMethod(option, notific)"
              >
                {{ option.name }}
              </p>
            </div>
          </Popup>
        </div>
      </div>
    </Table>
    <NotificationMain
      v-else
      @markNotification="(payload) => $emit('markNotification', payload)"
      @markAllNotification="(payload) => $emit('markAllNotification', payload)"
    />
  </div>
</template>

<script>
import Table from "@/components/reuse/Table";
import Field from "@/components/reuse/Field";
import Popup from "@/components/reuse/Popup";
import ModalBlockNotification from "@/components/lk/notification/ModalBlockNotification";
import NotificationMain from "@/components/lk/notification/NotificationMain";
import { mapActions, mapGetters } from "vuex";
import { PopupMixin } from "@/mixins/PopupMixin";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    Table,
    Popup,
    Field,
    ModalBlockNotification,
    NotificationMain,
  },

  mixins: [PopupMixin, DialogModalMixin],

  data() {
    return {
      isLoading: false,
      currentGroupIndex: 0,
      openExtraIdx: null,
      constRoles,

      editedNotific: {
        id: null,
      },
      editedBlockId: null,
      editedFields: {
        body: {
          type: "text",
        },
        title: {
          type: "text",
        },
      },
    };
  },

  computed: {
    ...mapGetters("notification", [
      "getNotificationGroup",
      "getNotificationTypeList",
    ]),
    ...mapGetters("auth", ["getUser"]),

    tableColumns() {
      return {
        labels: [
          "ID",
          "Текст уведомления",
          "Заголовок",
          "Область применения",
          "Дата изменения",
          "",
        ],
        width: ["30px", "4fr", "2fr", "1fr", "1fr", "30px"],
      };
    },
  },

  methods: {
    ...mapActions("notification", [
      "loadNotificationTypes",
      "loadNotificationGroups",
      "updateNotificationType",
      "resetNotificBlockUsers",
    ]),

    openEdit(notific) {
      this.editedNotific = { ...notific };
      this.openExtraIdx = null;
    },

    closeEdit() {
      this.editedNotific = { id: null };
    },

    openBlockEdit(notific) {
      this.editedBlockId = notific.id;
    },
    closeEditBlock() {
      this.editedBlockId = null;
    },

    async loadTypesMethod(payload = {}) {
      this.isLoading = true;
      try {
        payload.group_id = this.getNotificationGroup[this.currentGroupIndex].id;
        this.notifics = await this.loadNotificationTypes(payload);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = true;
    },

    async updateTypeMethod() {
      this.isLoading = true;
      try {
        await this.updateNotificationType(this.editedNotific);
        await this.loadTypesMethod();
        this.closeEdit();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = true;
    },

    getExtraOptions() {
      const result = [
        {
          name: "Редактировать",
          method: "openEdit",
        },
      ];

      if (this.currentGroupIndex !== 0) {
        result.push({
          name: "Управление видимостью",
          method: "openBlockEdit",
        });
      }

      return result;
    },

    callExtraMethod(option, notific) {
      this[option.method](notific);
    },
  },

  async mounted() {
    await this.loadNotificationGroups();
    await this.loadNotificationTypes();
  },

  watch: {
    currentGroupIndex(value) {
      if (this.getNotificationGroup[value]) {
        this.loadTypesMethod();
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";

.notific {
  &-filters {
    margin-top: 30px;
  }
}

.table {
  &-row {
    .edit {
      &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-accept {
          cursor: pointer;
          margin-bottom: 5px;
          height: 30px;
          width: 30px;
          background-image: url("/img/input/accept-box.svg");
        }
        &-decline {
          cursor: pointer;
          height: 30px;
          width: 30px;
          background-image: url("/img/input/decline-box.svg");
        }
      }
    }
  }
  &-cell {
    p {
      margin: 0;
    }
  }
}
</style>
