<template v-if="notificId">
  <div>
    <DialogModal ref="modalBlockType" @close="$emit('close')">
      <div class="table-wrapper">
        <h3 class="table-title">Управление видимостью уведомления</h3>
        <div class="table-filter">
          <v-text-field
            class="search"
            solo
            depressed
            type="text"
            prepend-inner-icon="custom-icon"
            placeholder="Поиск"
            @click.stop
            v-model="filterValues.search"
          />
          <div
            class="unit-wrapper"
            v-for="(filter, key) in arrayFilters"
            :key="key"
          >
            <Field
              class="unit"
              prepend-inner-icon="custom-icon"
              :class="{ 'unit--without-icon': key === 'depot' }"
              :type="filter.type"
              :placeholder="filter.placeholder"
              :listValues="filter.listValues"
              :actionLoader="filter.actionLoader"
              v-model="filterValues[key]"
            />
            <div
              v-if="key === 'depot' && filterValues.depot"
              class="cancel"
              @click="filterValues.depot = null"
            ></div>
          </div>
          <v-btn
            class="unit-btn"
            color="primary"
            depressed
            :loading="isLoading"
            @click="reverseBlockNotificationMethod"
          >
            Выделить все
          </v-btn>
        </div>
        <Table
          :list="getNotificBlockUsersList"
          :columns="tableColumns"
          paginationTitle="Уведомлений"
        >
          <div
            v-if="!getNotificBlockUsersList.data.length"
            class="table-row-empty"
          >
            По вашему запросу ничего не найдено.
          </div>

          <div
            v-else
            class="table-row"
            v-for="user in getNotificBlockUsersList.data"
            :key="user.id"
          >
            <input
              type="checkbox"
              class="checkbox"
              :disabled="isLoading"
              v-model="user.is_notific_show"
              @click.prevent="blockNotificationMethod(user)"
            />
            <div class="table-cell" v-for="(row, key) in user" :key="key">
              <span>
                {{ row }}
              </span>
            </div>
          </div>
        </Table>
      </div>
    </DialogModal>
  </div>
</template>

<script>
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import { mapActions, mapGetters } from "vuex";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  mixins: [DialogModalMixin],

  components: {
    Table,
    Field,
  },

  props: {
    notificId: {
      type: Number,
      default: null,
      required: false,
    },
  },

  data() {
    return {
      isLoading: false,
      debounce: null,

      filterValues: {
        status: null,
        role: null,
        depot: null,
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters("notification", ["getNotificBlockUsersList"]),
    ...mapGetters("auth", ["getRolesFilter"]),

    tableColumns() {
      return {
        labels: ["", "Имя", "Email", "ТОР", "Роль"],
        width: ["30px", "1fr", "1fr", "1fr", "1fr"],
      };
    },

    arrayFilters() {
      const rolesList = [...this.getRolesFilter];
      const statusList = [
        { text: "Выключено", value: 0 },
        { text: "Включено", value: 1 },
      ];

      if (this.filterValues.role) {
        rolesList.unshift({ text: "Сбросить", value: -1 });
      }
      if (this.filterValues.status !== null) {
        statusList.unshift({ text: "Сбросить", value: -1 });
      }

      return {
        depot: {
          placeholder: "Депо",
          type: "autocomplete",
          actionLoader: "dictionary/loadDepots",
          listValues: [],
        },

        role: {
          type: "select",
          placeholder: "Роль",
          listValues: rolesList,
        },

        status: {
          type: "select",
          placeholder: "Статус",
          listValues: statusList,
        },
      };
    },
  },

  methods: {
    ...mapActions("notification", [
      "loadNotificationBlockUser",
      "blockNotification",
      "reverseBlockNotification",
    ]),

    createRequestParams() {
      return {
        id: this.notificId,
        search: this.filterValues.search,
        status: this.filterValues.status,
        role_id: this.filterValues.role,
        depot_id: this.filterValues.depot,
      };
    },

    async loadUsersMethod() {
      try {
        const params = this.createRequestParams();
        await this.loadNotificationBlockUser(params);
      } catch (error) {
        console.warn(error);
      }
    },

    async blockNotificationMethod(user) {
      this.isLoading = true;

      try {
        await this.blockNotification({
          user_id: user.id,
          id: user.notific_id,
          is_notific_show: user.is_notific_show,
        });

        await this.loadUsersMethod();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async reverseBlockNotificationMethod() {
      this.isLoading = true;

      try {
        const params = this.createRequestParams();
        await this.reverseBlockNotification(params);
        await this.loadUsersMethod();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },
  },

  watch: {
    "filterValues.status"(val) {
      if (val < 0) {
        this.filterValues.status = null;
      }
      this.loadUsersMethod();
    },

    "filterValues.role"(val) {
      if (val < 0) {
        this.filterValues.role = null;
      }
      this.loadUsersMethod();
    },

    "filterValues.depot"(val) {
      if (val < 0) {
        this.filterValues.role = null;
      }
      this.loadUsersMethod();
    },

    "filterValues.search"() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadUsersMethod();
      }, 400);
    },
  },

  async mounted() {
    await this.loadUsersMethod();
    this.changeModal("modalBlockType");
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";

.table {
  &-wrapper {
    min-width: 1000px;
  }
  &-title {
    @include font(700, 27px, #28292b);
    margin-bottom: 20px;
    margin-top: -10px;
  }
  &-filter {
    display: flex;
    .search {
      ::v-deep {
        .custom-icon {
          height: 20px;
          width: 20px;
          background-image: url("/img/input/search.svg");
        }
      }
    }
    .unit {
      &-wrapper {
        margin-left: 10px;
        width: 200px;
        position: relative;
        @include cancel();
      }
      &-btn {
        margin-left: 10px;
        ::v-deep {
          height: 48px;
        }
      }
      &--without-icon {
        ::v-deep {
          .custom-icon {
            background-image: none;
          }
        }
      }
    }
  }
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #d2dddf;
  margin: 0 auto;
  display: inline-block;
  &:checked::after {
    content: " ";
    background-image: url("/img/input/accept-box.svg");
    background-position: -5px -4px;
    color: #2aa7c3;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    visibility: visible;
    border-radius: 2px;
  }
}
</style>
