<template>
  <div class="notification">
    <template v-if="getNotification.length">
      <div class="notification__mark" @click="$emit('markAllNotification')">
        Отметить все прочитанными
      </div>
      <div
        class="notification-card"
        :class="{ active: !notific.is_read }"
        v-for="(notific, key) of getNotification"
        :key="key"
        @click="$emit('markNotification', { mark_id: notific.id })"
      >
        <div class="notification-card__header">
          <div class="header__title" :class="{ active: !notific.is_read }">
            {{ notific.title }}
          </div>
          <div class="header__date">{{ notific.created_at }}</div>
        </div>
        <div class="notification-card__info">{{ notific.body }}</div>
      </div>
    </template>
    <div class="notification-card absent" v-else >Уведомления отсутствуют</div>
  </div>
</template>

<script>
import Table from "@/components/reuse/Table";
import { mapGetters } from "vuex";

export default {
  components: {
    Table,
  },

  data() {
    return {};
  },

  computed: {
    ...mapGetters("notification", ["getNotification"]),
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";

.notification {
  position: relative;
  max-width: 780px;
  margin-top: 50px;

  &__mark {
    @include font(600, 15px, #17bc9e);
    position: absolute;
    right: 0;
    top: -35px;
    cursor: pointer;
  }

  &-card {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;

    &.active {
      background-color: #e4f4f8;
    }

    &.absent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      .header {
        &__title {
          position: relative;
          @include font(700, 24px, #28292b);
          margin-bottom: 20px;

          &.active {
            &::after {
              position: absolute;
              content: " ";
              width: 8px;
              height: 8px;
              border-radius: 50%;
              top: 42%;
              left: -17px;
              background-color: #2aa7c3;
            }
          }
        }

        &__date {
          @include font(400, 15px, #949daf);
        }
      }
    }

    &__info {
      @include font(400, 17px, #28292b);
      margin-left: 20px;
    }
  }
}
</style>
