<template>
  <div class="lk-container equip">
    <DialogModal ref="notificationListWagon" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>

    <ListVu22
      v-if="!getIsCreateForm"
      @signVu22="signVu22Method"
      @declineVu22="declineVu22Method"
      @changeList="(value) => (filterSearch = value)"
      @loadWagon="loadWagonMethod"
      @deleteVu22="deleteVu22Method"
      @downloadVu22="downloadVu22DocMethod"
    />
    <CreateFormVu22
      v-else
      :isLoading="isLoading"
      @editWagon="editWagonMethod"
      @storeLastRepair="storeLastRepairMethod"
      @updateLastRepair="updateLastRepairMethod"
      @loadWagonData="loadWagonMethod"
      @storeVu22="storeVu22Method"
      @storeOperation="storeOperationMethod"
      @updateOperation="updateOperationMethod"
      @deleteOperation="deleteOperationMethod"
      ref="CreateFormVu22"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ListVu22 from "@/components/lk/vu22/listVu22";
import CreateFormVu22 from "@/components/lk/vu22/createFormVu22";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import { getCurrentDate } from "@/utils/getDate";
import {
  roles as constRoles,
  docType as constDocType,
} from "@/helpers/constants.js";

export default {
  components: {
    ListVu22,
    CreateFormVu22,
  },

  mixins: [DialogModalMixin],

  async asyncData({ store }) {
    await store.dispatch("vu22/loadVu22");

    return {
      isLoading: false,
      tablePageAmount: 0,
      wagonId: null,
      params: {},
      notification: "",
      isError: false,
      polling: null,
      filterSearch: null,
    };
  },

  computed: {
    ...mapGetters("stateHeader", ["getIsCreateForm"]),
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateForm", "editItem", "resetState"]),

    ...mapActions("vu22", [
      "loadVu22",
      "loadWagon",
      "editWagon",
      "resetWagon",
      "storeLastRepair",
      "updateLastRepair",
      "storeVu22",
      "storeOperation",
      "updateOperation",
      "deleteOperation",
      "deleteVu22",
      "downloadVu22Doc",
      "signVu22",
      "declineVu22"
    ]),

    getCurrentDate,

    createRequestParams(payload) {
      const { id, count, page, search } = payload;

      if (id) {
        this.wagonId = id;
      }
      if (count) {
        this.tablePageAmount = count;
      }
      this.params = {
        id: this.wagonId,
        count: this.tablePageAmount,
        page,
        search,
      };
    },

    async loadWagonMethod(payload = {}) {
      this.isLoading = true;
      try {
        await this.loadWagon(payload);

        if (payload.vu22_id) {
          this.editItem({ isEdit: true, id: payload.vu22_id });
          this.openCreateForm(true);
        }
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async editWagonMethod(payload = {}) {
      this.isError = false;
      try {
        await this.editWagon(payload);
        this.$refs.CreateFormVu22.currentTab++;
        this.loadWagonMethod(payload);
        await this.loadVu22();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error.response.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
    },

    async storeLastRepairMethod(payload = {}) {
      this.isError = false;
      try {
        await this.storeLastRepair(payload);
        this.$refs.CreateFormVu22.currentTab++;
        this.loadWagonMethod(payload);
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error.response.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
    },

    async updateLastRepairMethod(payload = {}) {
      this.isError = false;
      try {
        await this.updateLastRepair(payload);
        this.$refs.CreateFormVu22.currentTab++;
        this.loadWagonMethod(payload);
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error.response.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
    },

    async storeVu22Method(payload = {}) {
      this.isError = false;
      this.isLoading = true;
      try {
        const vu22Response = await this.storeVu22(payload);
        await this.loadVu22();
        this.notification = "ВУ-22 успешно создана";
        this.changeModal("notificationListWagon");
        this.editItem({ isEdit: true, id: vu22Response.data.id });
        this.openCreateForm(true);
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error.response.data.errorMessage || "Вагон не выбран";
        this.changeModal("notificationListWagon");
      }
      this.isLoading = false;
    },

    async downloadVu22DocMethod(vu22, format = null) {
      this.isLoading = true;
      try {
        const mainFormDoc = vu22.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );

        const response = await this.downloadVu22Doc({
          vu22_id: vu22.id,
          file_id: mainFormDoc.file_id,
          format: format,
        });

        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-22 №${vu22.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu22.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-22 №${vu22.id}.pdf`;
        }

        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async signVu22Method(vu22) {
      this.isLoading = true;
      try {
        const currentDocument = vu22.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );

        const uuid = currentDocument.file_id;
        const requestData = { uuid };

        const documentBase64 = await this.downloadVu22Doc({
          vu22_id: vu22.id,
          file_id: uuid,
          format: "base64",
          isNotBlob: true,
        });

        requestData.sig = await ncaLayerSign(documentBase64);

        await this.signVu22({
          vu22_id: vu22.id,
          requestData,
        });

        this.notification = `Вы успешно подписали документ ВУ-22 от ${this.getCurrentDate()}.
        Документ зарегистрирован и будет храниться в системе Цифровой ТОР.`;
        this.changeModal("notificationListWagon");
        await this.loadVu22();
      } catch (error) {
        if (error.message !== "500: action.canceled") {
          console.warn(error);
          this.isError = true;
          this.notification =
            error?.response?.data.errorMessage ||
            "Непредвиденная ошибка, пожалуйста попробуйте снова";
          this.changeModal("notificationListWagon");
        }
      }
      this.isLoading = false;
    },

    async declineVu22Method(payload) {
      try {
        await this.declineVu22({ vu22_id: payload.id });
        this.loadVu22();
      } catch (error) {
        console.warn(error);
      }
    },

    async deleteVu22Method(payload = {}) {
      this.isError = false;
      this.isLoading = true;
      try {
        await this.deleteVu22({ vu22_id: payload.id });
        this.notification = "ВУ-22 успешно удалена";
        this.changeModal("notificationListWagon");
        this.loadVu22();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification = error.response.data.errorMessage;
        this.changeModal("notificationListWagon");
      }
      this.isLoading = false;
    },

    async storeOperationMethod(payload = {}) {
      this.isError = false;
      this.isLoading = true;
      try {
        await this.storeOperation(payload);
        this.loadVu22();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error?.response?.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
      this.isLoading = false;
    },

    async updateOperationMethod(payload = {}) {
      this.isError = false;
      this.isLoading = true;
      try {
        await this.updateOperation(payload);
        this.notification = "Операция обновлена";
        this.changeModal("notificationListWagon");
        this.loadVu22();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error?.response?.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
      this.isLoading = false;
    },

    async deleteOperationMethod(payload = {}) {
      this.isError = false;
      this.isLoading = true;
      try {
        await this.deleteOperation(payload);
        this.notification = "Операция удалена";
        this.changeModal("notificationListWagon");
        this.loadVu22();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error?.response?.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
      this.isLoading = false;
    },

    async downloadVu22DocMethod(vu22, format = null) {
      this.isLoading = true;
      try {
        const response = await this.downloadVu22Doc({
          vu22_id: vu22.id,
          file_id: vu22.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-22 №${vu22.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu22.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-22 №${vu22.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async loadVu22Method() {
      try {
        await this.loadVu22({ search: this.filterSearch });
      } catch (error) {
        console.warn(error);
      }
    },

    startPolling() {
      this.polling = setInterval(async () => {
        if (!this.getIsCreateForm) {
          this.loadVu22Method();
        }
      }, 10000);
    },
  },

  beforeDestroy() {
    clearInterval(this.polling);
    this.resetState();
    this.resetWagon();
  },

  created() {
    this.startPolling();
  },

  watch: {
    getIsCreateForm() {
      if (!this.getIsCreateForm) {
        this.resetState();
        this.resetWagon();
        this.filterSearch = null;
      }
    },

    filterSearch() {
      this.loadVu22Method();
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";
</style>
