<template>
  <div class="lk-container vu8x">
    <DialogModal ref="signDoc" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>

    <div class="vu8x-header__switcher switcher">
      <SwitchTabs
        @changeSwitch="changeSwitch"
        :tabs="tabsList"
        class="switcher__item"
      />
    </div>
    <div class="vu8x-header__filter filter">
      <v-text-field
        v-model="filterValues.search"
        class="filters__input search"
        solo
        depressed
        prepend-inner-icon="custom-icon"
        placeholder="Поиск по номеру, названию"
      ></v-text-field>
    </div>
    <div class="vu8x__content content">
      <Table
        v-if="vu8x"
        paginate
        :list="listForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="loadVu8xMethod"
      >
        <div v-if="!listForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <TableExpansionRow
          v-else
          v-for="(vu8x, key) in listForTable.data"
          :key="vu8x.id"
          class="content-dropdown"
          :class="{ 'opened-extra': openExtraIdx === key }"
        >
          <template v-slot:header>
            <div></div>
            <div v-for="(cellText, key) in vu8x" :key="key">
              <span v-if="key === 'sign_button' && !isNeedSign"></span>
              <span
                v-else-if="
                  key === 'sign_button' && getIsSignedVu80(vu8x.signs) === false
                "
                class="green-massage"
                @click.stop="signVu8xMethod(vu8x)"
              >
                {{ cellText }}
              </span>

              <span
                v-else-if="
                  key === 'sign_button' && getIsSignedVu80(vu8x.signs) === null
                "
                class="disabled-massage"
              >
                {{ cellText }}
              </span>

              <span
                v-else-if="key === 'sign_button' && getIsSignedVu80(vu8x.signs)"
                class="purple-massage"
              >
                {{ cellText }}
              </span>
              <span
                v-else
                :class="{
                  'color-gray':
                    [
                      'master_tor_sign_date',
                      'station_officer_sign_date',
                    ].includes(key) && cellText.includes('Ожидает'),
                }"
              >
                {{ cellText }}
              </span>
            </div>

            <div class="extra-wrapper">
              <div
                class="extra-btn table-row__popup-btn"
                @click.stop="changeExtra(key)"
              />
              <Popup
                v-if="openExtraIdx === key"
                v-click-outside="closeExtra"
                :last="key === listForTable.data.length - 1"
              >
                <div class="extra-content">
                  <p
                    v-for="(option, index) in getExtraOptions(vu8x)"
                    :key="index"
                    class="extra-el"
                    @click.stop="callExtraMethod(option, vu8x)"
                  >
                    {{ option.name }}
                  </p>
                </div>
              </Popup>
            </div>
          </template>
          <template v-slot:content>
            <SubTable
              :columnList="subtableTitlesList"
              :contentList="listForSubTable[key]"
            />
          </template>
        </TableExpansionRow>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import SubTable from "@/components/reuse/SubTable";
import TableExpansionRow from "@/components/reuse/TableExpansionRow";
import SwitchTabs from "@/components/reuse/SwitchTabs";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import { PopupMixin } from "@/mixins/PopupMixin";
import { getCurrentDate } from "@/utils/getDate";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

import {
  roles as constRoles,
  docType as constDocType,
} from "@/helpers/constants.js";

export default {
  components: {
    Table,
    Popup,
    SubTable,
    TableExpansionRow,
    SwitchTabs,
  },

  mixins: [PopupMixin, DialogModalMixin],

  async asyncData({ store }) {
    let vu8xResponse = await store.dispatch("vu8x/loadVu8x", { form_type: 80 });

    return {
      currentTab: 0,
      isLoading: false,
      isError: false,
      tablePageAmount: 10,
      page: 1,
      openExtraIdx: null,
      vu8x: vu8xResponse.data,
      debounce: {},
      activeTab: null,
      notification: "",
      subtableTitlesList: ["№ вагона", "№ п/п", "№ парка", "№ пути"],
      tabsList: [
        {
          id: 0,
          label: "ВУ-80",
        },
        {
          id: 1,
          label: "ВУ-81",
        },
      ],
      filterValues: {
        search: null,
      },
    };
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),

    formType() {
      return this.activeTab ? 81 : 80;
    },

    isNeedSign() {
      return [constRoles.TOR_MASTER, constRoles.STATION_OFFICER].includes(
        this.getUser.role_id
      );
    },

    tableColumns() {
      return {
        labels: [
          "",
          "№ заявки",
          this.formType === 80
            ? "Время и дата подачи на тракционные пути"
            : "Время и дата готовности к уборке с тракционных путей",
          this.formType === 80
            ? "Время и дата приема на тракционные пути"
            : "Время и дата готовности уборки с тракционных путей",
          "",
          "",
        ],
        width: ["40px", "1fr", "1fr", "1fr", "1fr", "40px"],
      };
    },

    listForTable() {
      const result = Object.assign({}, this.vu8x);
      const data = this.vu8x.data.map((item) => {
        const isSigned = this.getIsSignedVu80(item.signs);
        let signButtonName = "";

        signButtonName = isSigned ? "Подписано" : "Подписать";

        const masterTorSign = item.signs.find(
          (sign) => sign.role_id === constRoles.TOR_MASTER
        );

        const stationOfficerSign = item.signs.find(
          (sign) => sign.role_id === constRoles.STATION_OFFICER
        );

        const mapResult = {
          id: item.id,

          station_officer_sign_date: stationOfficerSign
            ? stationOfficerSign.created_at
            : "Ожидает подписания ДС",
          master_tor_sign_date: masterTorSign
            ? masterTorSign.created_at
            : "Ожидает подписания Мастера ТОР",
          sign_button: signButtonName,
        };

        Object.defineProperty(mapResult, "documents", {
          value: item.documents,
          enumerable: false,
        });
        Object.defineProperty(mapResult, "signs", {
          value: item.signs,
          enumerable: false,
        });

        return mapResult;
      });

      result.data = data;
      return result;
    },

    listForSubTable() {
      const data = this.vu8x.data.map((item) =>
        item.wagons.map((wagon) => {
          const mapResult = {
            wagon_num: wagon.wagon_num,
            id: wagon.id,
            park_number: wagon.park_number || "Не указано",
            driveway_number: wagon.driveway_number || "Не указано",
          };
          Object.defineProperty(mapResult, "vu80_id", {
            value: item.id,
            enumerable: false,
          });
          return mapResult;
        })
      );

      return data;
    },
  },

  methods: {
    ...mapActions("vu8x", [
      "loadVu8x",
      "downloadVu8xDoc",
      "signVu8x",
      "deleteVu8x",
    ]),

    getCurrentDate,

    changeSwitch(tab) {
      this.activeTab = tab;
    },

    createRequestParams(payload) {
      const { page, count } = payload;

      if (count) {
        this.tablePageAmount = count;
      }

      if (page) {
        this.page = page;
      }

      const params = {
        page: this.page,
        count: this.tablePageAmount,
        form_type: this.formType,
        search: this.filterValues.search,
      };
      return params;
    },

    getIsSignedVu80(signs) {
      if (this.getUser.role_id === constRoles.TOR_MASTER && signs.length < 1) {
        return null;
      }

      return signs.some((sign) => sign.user_id === this.getUser.id);
    },

    getExtraOptions(vu80) {
      const result = [
        {
          name: "Скачать файл ВУ-" + this.formType,
          method: "downloadVu8xDocMethod",
        },
      ];

      if (vu80.signs.length) {
        result.push({
          name: "Скачать архив формы",
          method: "downloadVu8xDocMethod",
          format: "archive",
        });
      } else if (this.getUser.role_id === constRoles.STATION_OFFICER) {
        result.push({
          name: "Удалить",
          method: "deleteVu8xMethod",
        });
      }

      return result;
    },

    callExtraMethod(option, vu8x) {
      const methodPayload = {
        vu8x,
        format: option.format,
      };
      this[option.method](methodPayload);
    },

    async loadVu8xMethod(payload = {}) {
      this.isLoading = true;

      try {
        const params = this.createRequestParams(payload);
        const response = await this.loadVu8x(params);
        this.vu8x = response.data;
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async downloadVu8xDocMethod(payload) {
      const { vu8x, format } = payload;
      this.isLoading = true;
      try {
        const mainFormDoc = vu8x.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );

        const response = await this.downloadVu8xDoc({
          vu8x_id: vu8x.id,
          file_id: mainFormDoc.file_id,
          format: format,
          form_type: this.formType,
        });

        let fileName;

        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-${this.formType} №${vu8x.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu8x.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-${this.formType} №${vu8x.id}.pdf`;
        }

        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    async signVu8xMethod(vu8x) {
      this.isLoading = true;
      this.isError = false;

      try {
        const currentDocument = vu8x.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );

        const uuid = currentDocument.file_id;
        const requestData = { uuid };

        const documentBase64 = await this.downloadVu8xDoc({
          vu8x_id: vu8x.id,
          file_id: uuid,
          form_type: this.formType,
          format: "base64",
          isNotBlob: true,
        });

        requestData.sig = await ncaLayerSign(documentBase64);

        await this.signVu8x({
          vu8x_id: vu8x.id,
          form_type: this.formType,
          requestData,
        });

        this.notification = `Вы успешно подписали документ ВУ-${
          this.formType === 80 ? "80" : "81"
        } от ${this.getCurrentDate()}.
    Документ зарегистрирован и будет храниться в системе Цифровой ТОР.`;
        this.changeModal("signDoc");

        await this.loadVu8xMethod();
      } catch (error) {
        console.warn(error);
        this.isError = true;
        this.notification =
          error?.response?.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("signDoc");
      }

      this.isLoading = false;
    },

    async deleteVu8xMethod(payload) {
      const { vu8x } = payload;
      this.isLoading = true;
      try {
        await this.deleteVu8x({
          vu8x_id: vu8x.id,
          form_type: this.formType,
        });

        await this.loadVu8xMethod();
      } catch (error) {
        console.warn(error);
      }

      this.isLoading = false;
    },

    startPolling() {
      this.polling = setInterval(async () => {
        await this.loadVu8xMethod(this.params);
      }, 10000);
    },
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },

  created() {
    this.startPolling();
  },

  watch: {
    "filterValues.search"(value) {
      if (value) {
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
          this.loadVu8xMethod();
        }, 400);
      } else {
        this.loadVu8xMethod();
      }
    },
    activeTab() {
      this.loadVu8xMethod();
    },
  },
};
</script>


<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";

.vu8x {
  width: 100%;
  &-header {
    &__switcher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .switcher {
        &__item {
          width: 400px;
        }
      }
    }
    &__filter {
      display: flex;
      .filters__input {
        display: flex;
        width: 80%;
        ::v-deep {
          .custom-icon {
            height: 20px;
            width: 20px;
            background-image: url("/img/input/search.svg");
          }
        }
      }
    }
    &__btn.v-btn {
      height: 46px;
    }
  }
}
</style>
