<template>
  <div class="lk-container gu46">
    <DialogModal
      ref="modalAddToGu46"
      width="550"
      @click="choosenGu46 = null"
      @close="
        () => {
          filterSearchGu46 = '';
          choosenGu46 = null;
        }
      "
    >
      <div class="modal">
        <h3 class="modal__header">Добавить вагон в ГУ-46</h3>
        <v-text-field
          class="modal__search"
          solo
          depressed
          type="text"
          v-model="filterSearchGu46"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск"
          @click.stop
        />
        <div class="modal__table">
          <div class="modal__table-header">
            <div
              class="modal__table-header_item"
              v-for="(name, key) of ['№', 'Дата открытия', 'Кол-во вагонов']"
              :key="key"
            >
              {{ name }}
            </div>
          </div>
          <div class="modal__table-content">
            <div
              class="modal__table-content_row"
              :class="{ active: gu46.id === choosenGu46 }"
              v-for="(gu46, key) of getListGu46sForModal.data"
              :key="key"
              @click.stop="choosenGu46 = gu46.id"
            >
              <div
                class="modal__table-content_row-item"
                v-for="(cell, key) of gu46"
                :key="key"
              >
                <div v-if="['created_at'].includes(key)" class="cell-date">
                  <div>
                    {{ cell.split(" ")[0] }}
                  </div>
                  <div class="color-gray">
                    {{ cell.split(" ")[1] }}
                  </div>
                </div>
                <div v-else>
                  {{ cell }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal__btns">
          <div class="modal__btns-new" @click="addWagonToGu46Method()">
            <div class="modal__btns-new_img">
              <span class="modal__btns-new_img-plus"></span>
            </div>
            <p class="modal__btns-new_text">Новая ведомость</p>
          </div>
          <div
            class="modal__btns-add"
            @click.stop="addWagonToGu46Method(choosenGu46)"
            v-if="choosenGu46"
          >
            Добавить
          </div>
        </div>
      </div>
    </DialogModal>
    <DialogModal ref="notification" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>
    <v-tabs class="gu46__tabs" v-model="currentTab">
      <v-tab class="gu46__tabs-item" :ripple="false" @click="currentTab = 0">
        <span>Вагоны</span>
      </v-tab>
      <v-tab
        class="gu46__tabs-item"
        :ripple="false"
        @click="
          () => {
            currentTab = 1;
            choosenGu46 = null;
          }
        "
      >
        <span>ГУ-46</span>
      </v-tab>
    </v-tabs>
    <keep-alive>
      <WagonsTab
        v-if="currentTab === 0"
        :isAddedWagon="isAddedWagon"
        @changeList="loadWagonMethod"
        @addToGu46="openModalGu46s"
      />
      <Gu46sTab
        :errors="errors"
        @deleteGu46="deleteGu46Method"
        @deleteWagon="deleteWagonFromGu46Method"
        @changeList="loadGu46Method"
        @closeGu46="closeGu46"
        @downloadGu46Doc="downloadGu46DocMethod"
        v-else-if="currentTab === 1"
        @chooseGu46="
          ({ id }) => {
            currentTab = 0;
            choosenGu46 = id;
          }
        "
      />
    </keep-alive>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import WagonsTab from "@/components/lk/gu46/WagonsTab.vue";
import Gu46sTab from "@/components/lk/gu46/Gu46sTab.vue";
import Field from "@/components/reuse/Field";

export default {
  components: {
    Field,
    WagonsTab,
    Gu46sTab,
  },
  mixins: [DialogModalMixin],
  async asyncData({ store }) {
    await store.dispatch("gu46/loadWagons");
    await store.dispatch("gu46/loadGu46s");
    return {
      checkedWagons: [],
      currentTab: 0,
      isLoading: false,
      tablePageAmount: {},
      page: {},
      choosenGu46: null,
      wagonParams: null,
      isAddedWagon: false,
      errors: {},
      params: {},
      notification: "",
      isError: false,
      sortBy: null,

      filterSearchGu46: "",
      debounce: null,

      polling: null,
    };
  },

  computed: {
    ...mapGetters("gu46", ["getListGu46sForModal", "getListGu46sForTable"]),
  },

  methods: {
    ...mapActions("gu46", [
      "loadGu46s",
      "loadWagons",
      "addWagonToGu46",
      "downloadGu46Doc",
      "deleteWagon",
      "deleteGu46",
      "resetState",
      "acceptGu46",
    ]),

    openModalGu46s(payload) {
      this.checkedWagons = payload;
      this.loadGu46Method();
      if (this.choosenGu46) {
        this.addWagonToGu46Method(this.choosenGu46);
      } else {
        this.changeModal("modalAddToGu46");
      }
    },

    async closeGu46(gu46_id) {
      this.isError = false;
      try {
        await this.acceptGu46({ gu46_id });
        this.notification = "Ведомость успешно закрыта";
        this.changeModal("notification");
        await this.loadGu46Method();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification = error.response.data.errorMessage;
        this.changeModal("notification");
      }
    },

    async downloadGu46DocMethod(gu46, format = null) {
      this.isLoading = true;
      try {
        const response = await this.downloadGu46Doc({
          gu46_id: gu46.id,
          file_id: gu46.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа Гу-46 №${gu46.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${gu46.id}.zip`;
            break;
          default:
            fileName = `Документ Гу-46 №${gu46.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async addWagonToGu46Method(id) {
      try {
        await this.addWagonToGu46({
          gu46_id: id,
          wagon_ids: this.checkedWagons,
        });
        await this.loadGu46Method();
        this.isAddedWagon = !this.isAddedWagon;
        this.changeModal("modalAddToGu46", false);
        this.checkedWagons = [];
      } catch (error) {
        console.warn(error);
      }
    },

    async deleteGu46Method(id) {
      try {
        await this.deleteGu46(id);
        await this.loadGu46Method({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    async deleteWagonFromGu46Method(wagon) {
      try {
        await this.deleteWagon(wagon);
        await this.loadGu46Method({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    createRequestParams(payload = { page: 1, count: 10 }, method = "gu46") {
      const {
        page,
        count,
        search,
        sortBy,
        owner,
        registry,
        left_date,
        right_date,
        isDel,
      } = payload;

      if (page) {
        this.page[method] = page;
      }

      if (
        isDel &&
        !(this.getListGu46sForTable.length - 1) &&
        this.page[method] !== 1
      ) {
        this.page[method] = 1;
      }

      if (count) {
        this.tablePageAmount[method] = count;
      }

      if (method === "gu46" && this.currentTab === 0) {
        this.tablePageAmount[method] = 0;
      }

      if (sortBy != null) {
        this.sortBy = sortBy;
      }

      if (payload) {
        this.params[method] = {
          page: this.page[method],
          count: this.tablePageAmount[method],
          search: search || null,
          order_by: this.sortBy || null,
          owner_name: owner || null,
          form_type: registry || null,
          left_date: left_date || null,
          right_date: right_date || null,
        };
      }
    },

    async loadWagonMethod(payload) {
      this.isLoading = true;
      try {
        this.createRequestParams(payload, "wagons");
        await this.loadWagons(this.params.wagons);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async loadGu46Method(payload) {
      this.isLoading = true;
      try {
        this.loadWagonMethod(this.params.wagons);
        this.createRequestParams(payload);
        await this.loadGu46s(this.params.gu46);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    startPolling() {
      this.polling = setInterval(() => {
        this.loadGu46Method(this.params.gu46);
      }, 10000);
    },
  },

  created() {
    this.startPolling();
  },

  watch: {
    filterSearchGu46(value) {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadGu46Method({ search: value });
      }, 400);
    },
  },

  beforeDestroy() {
    clearInterval(this.polling);
    this.resetState();
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";

.gu46 {
  &__tabs {
    border-bottom: 2px solid #d3dcde;
    &::v-deep {
      .v-tabs-slider-wrapper {
        z-index: 100;
      }
    }
  }
}
.modal {
  &__header {
    margin-bottom: 25px;
  }
  &__search {
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }
  &__table {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    margin-top: -15px;
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      opacity: 0;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      background: #97b0b5;
      border-radius: 22px;
    }
    &-header {
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      background-color: #f5f7f8;
      @include font(600, 15px, #68868b);
      border-bottom: 1px solid #e0e7e9;
      &_item {
        width: 30%;
      }
    }
    &-content {
      &_row {
        display: flex;
        padding: 15px 25px;
        justify-content: space-between;
        border-bottom: 1px solid #e0e7e9;
        cursor: pointer;
        &:hover {
          background-color: #2aa7c3;
        }
        &:last-child {
          border-bottom: none;
        }
        &-item {
          width: 30%;
          .cell-date {
            text-align: left;
            width: 72px;
            display: block;
          }
          .color-gray {
            @include font(400, 13px, #68868b);
          }
        }
        &.active {
          background-color: lighten(#2aa7c3, 7);
        }
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-new {
      display: flex;
      cursor: pointer;
      width: 160px;
      @include font(600, 15px, #17bc9e);
      &_text {
        margin-bottom: 0;
      }
      &_img {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        background-color: #17bc9e;
        border-radius: 50%;
        margin-right: 15px;
        &-plus {
          display: inline-block;
          text-align: center;
          padding: 5px;
          background-image: url("/img/lk/vu7x/addBtnCross.svg");
          margin: 0 auto;
          width: 12px;
          height: 12px;
        }
      }
    }
    &-add {
      @include font(600, 17px, #fff);
      padding: 11px 25px;
      cursor: pointer;
      background-color: #17bc9e;
      border-radius: 4px;
    }
  }
}
</style>