<template>
  <div class="main-page__about">
    <div class="about-container container">
      <h2 class="about__title subtitle">О сервисе</h2>
      <div class="about-content">
        <div class="about-content__column">
          <div class="about-content__card">
            <img
              src="/img/mainPage/cards/round-diagram.svg"
              alt="card-img"
              class="about-content__card-img"
            />
            <h3 class="about-content__card-title">Факторы успеха</h3>
            <p class="about-content__card-text">
              Ключ к успеху бизнеса – в инновациях, которые, в свою очередь,
              рождаются креативностью. Инновации отличают лидера от остальных.
            </p>
          </div>
          <div class="about-content__card gradient">
            <img
              src="/img/mainPage/cards/layers.svg"
              alt="card-img"
              class="about-content__card-img"
            />
            <h3 class="about-content__card-title">
              Максимальная эффективность и экономия времени
            </h3>
            <p class="about-content__card-text">
              Теперь не нужно тратить время на бесконечные звонки и письма, всё
              можно сделать в пару кликов. Портал дает возможность
              взаимодействовать со всеми заинтересованными сторонами онлайн,
              включая КТЖ.
            </p>
          </div>
        </div>
        <div class="about-content__column">
          <div class="about-content__card gradient">
            <img
              src="/img/mainPage/cards/tools.svg"
              alt="card-img"
              class="about-content__card-img"
            />
            <h3 class="about-content__card-title">
              Мы знаем всё о ремонте вагонов
            </h3>
            <p class="about-content__card-text">
              Большой штат квалифицированных специалистов, позволил нам
              интегрировать все свои знания и опыт в создание данной платформы.
            </p>
          </div>
          <div class="about-content__card">
            <img
              src="/img/mainPage/cards/vertical-graph.svg"
              alt="card-img"
              class="about-content__card-img"
            />
            <h3 class="about-content__card-title">Наши возможности</h3>
            <p class="about-content__card-text">
              Нами заключены договора со всеми вагоноремонтными предприятиями
              Республики Казахстан и ТОО «КТЖ-Грузовые перевозки». Условия
              сотрудничества предусматривают полный спектр обслуживания в сфере
              ремонта грузовых вагонов, замену необходимых деталей с прямой
              поставкой запасных частей от производителя, а также передислокацию
              колесных пар.
            </p>
          </div>
        </div>
        <div class="about-content__column">
          <div class="about-content__card gradient long">
            <img
              src="/img/mainPage/cards/blank.svg"
              alt="card-img"
              class="about-content__card-img"
            />
            <h3 class="about-content__card-title">Миссия</h3>
            <p class="about-content__card-text">
              Наша миссия - изменить правила игры раз и навсегда. Дать
              возможность по-другому взглянуть на возможности осуществления ТОР.
              Сделать этот процесс максимально удобным и эффективным для всех. У
              истоков каждого успешного предприятия стоит однажды принятое
              смелое решение. Не упустите свой шанс, становиться лучше вместе с
              нами.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.main-page {
  &__about {
    margin-bottom: 120px;
    .about {
      &-container {
        padding: 0;
      }
      &__title {
        text-align: center;
        @include font(800, 64px, #28292b);
        margin-bottom: 70px;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        &__column {
          width: 370px;
        }
        &__card.gradient {
          background: linear-gradient(235.19deg, #ffffff 7.03%, #ecfcf8 100%);
        }
        &__card.long {
          min-height: 632px;
          height: 100%;
        }
        &__card {
          min-height: 301px;
          margin-bottom: 30px;
          padding: 30px 50px 30px 35px;
          :last-child {
            margin-bottom: 0;
          }
          &-img {
            width: 52px;
            height: 52px;
            display: block;
            margin-bottom: 24px;
          }
          &-title {
            @include font(800, 24px, #28292b);
            margin-bottom: 10px;
          }
          &-text {
            @include font(400, 16px, #6e8b90);
          }
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .main-page {
    &__about {
      .about {
        &-content {
          flex-wrap: wrap;
          &__column {
            width: 50%;
            &:last-child {
              width: 100%;
            }
            .long {
              min-height: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__about {
      margin-bottom: 30px;
      .about {
        &__title.subtitle {
          font-size: 12vw;
          margin-bottom: 20px;
        }
        &-content {
          flex-wrap: wrap;
          &__column {
            width: 100%;
            &:nth-child(1) {
              display: flex;
              flex-direction: column-reverse;
            }
          }
          &__card {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
</style>