<template>
  <div class="main-page__callback">
    <DialogModal ref="notification" width="500px">
      <div class="modal">
        <div
          :class="{
            'success-icon': !isResponceError,
            'error-icon': isResponceError,
          }"
        />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>
    <h2 class="callback__title subtitle">Качество ремонта — залог успеха!</h2>
    <div class="callback__form">
      <div class="form container">
        <div class="form-contacts">
          <h3 class="form-contacts__title">
            Контакты руководства и менеджеров
          </h3>
          <div class="form-contacts__employee">
            <div class="form-contacts__employee-position">
              Коммерческий директор
            </div>
            <div class="form-contacts__employee-name"></div>
            <div class="form-contacts__employee-number">
              <span class="form-contacts__employee-number-img" />
              <span class="form-contacts__employee-number-text"
                >+7 (707) 540-55-88</span
              >
            </div>
          </div>
        </div>
        <div class="form-inputs">
          <div class="form-inputs__title" ref="form">Написать нам</div>
          <div
            class="form-inputs__item"
            v-for="(input, key) of callbackForm"
            :key="key"
          >
            <div class="form-inputs__item-name">{{ input.name }}</div>
            <Field
              class="form-inputs__item-field"
              v-if="input.type !== 'textarea'"
              :id="key"
              :type="input.type"
              :errors="input.error || errors"
              :placeholder="input.placeholder"
              v-model="input.value"
            />
            <textarea
              class="form-inputs__item-textarea"
              cols="30"
              rows="10"
              v-model="input.value"
              v-else
            ></textarea>
          </div>
          <div class="form-inputs__error" v-if="error">{{ error }}</div>
          <v-btn
            class="form-inputs__submit white--text"
            color="#189B85"
            depressed
            :loading="isLoading"
            @click="sendData"
          >
            Отправить
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Field from "@/components/reuse/Field";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    Field,
  },

  mixins: [DialogModalMixin],

  data() {
    return {
      error: null,
      isResponceError: false,
      isLoading: false,
      notification: null,
      callbackForm: {
        name: {
          id: "name",
          name: "ФИО",
          type: "text",
          error: {},
        },
        phone: {
          id: "phone",
          name: "Телефон",
          placeholder: "+7 (XXXX) XX XX XXX",
          type: "number",
          error: {},
        },
        email: {
          id: "email",
          name: "Email",
          type: "text",
          error: {},
        },
        message: {
          id: "text",
          name: "Текст сообщения",
          type: "textarea",
          error: {},
        },
      },
    };
  },

  methods: {
    ...mapActions("callback", ["sendCallbackForm"]),

    async sendData() {
      let data = {};
      this.error = null;
      this.isResponceError = false;
      this.notification = null;

      for (const key in this.callbackForm) {
        if (key !== "message" && !this.callbackForm[key].value) {
          this.callbackForm[key].error = {
            [key]: "Пожалуйста, заполните поле",
          };
          this.error = "Пожалуйста, заполните необходимые поля";
          continue;
        }

        data[key] = this.callbackForm[key].value;
        this.callbackForm[key].error = {};
      }

      if (this.error) {
        return;
      }

      this.isLoading = true;
      try {
        await this.sendCallbackForm(data);

        this.notification = "Запрос успешно отправлен";
        this.changeModal("notification");

        for (const key in this.callbackForm) {
          this.callbackForm[key].value = null;
        }
      } catch (error) {
        this.isResponceError = true;
        console.warn(error);

        const { data } = error.response;

        if (data) {
          for (const key in data) {
            if (key === "error_message") {
              break;
            }
            this.callbackForm[key].error = { [key]: data[key][0] };
          }
        }

        this.notification =
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notification");
      }
      this.isLoading = false;
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/pages/main";
@import "@/assets/styles/components/dialogModal";

.main-page {
  &__callback {
    .callback {
      &__docs {
        margin-bottom: 140px;
        &-title {
          @include font(500, 34px, #68868b);
          margin: 0 auto 30px;
          text-align: center;
        }
        &-file {
          display: flex;
          justify-content: space-between;
          width: 700px;
          margin: 0 auto;
          &-item {
            display: flex;
            align-items: center;
            &-img {
              display: inline-block;
              width: 40px;
              height: 40px;
              background-image: url("/img/mainPage/icons/file.png");
              margin-right: 15px;
            }
            &-text {
              text-decoration: underline;
              vertical-align: middle;
              @include font(400, 18px, #189b85);
            }
          }
        }
      }
      &__form {
        position: relative;
        margin-bottom: 150px;
        padding-top: 363px;
        &:before {
          content: "";
          position: absolute;
          background-image: url("/img/mainPage/bg-callback.png");
          top: 0;
          left: 0;
          width: 100%;
          background-position: 50% 56%;
          box-shadow: inset 0 691px 0 1px rgb(44 157 182 / 10%);
          height: 691px;
          z-index: 1;
        }
        .form {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 50px 60px 60px;
          background-color: #fff;
          box-shadow: 0px 10px 32px -1px rgba(70, 70, 70, 0.1);
          z-index: 2;
          &-contacts {
            flex-basis: 45%;
            &__title {
              @include font(700, 34px, #28292b);
              margin-bottom: 40px;
            }
            &__employee {
              border-bottom: 1px solid#c1c1c1;
              min-height: 100px;
              &-position {
                @include font(700, 20px, #28292b);
                margin-bottom: 10px;
              }
              &-name {
                @include font(400, 16px, #28292b);
                margin-bottom: 5px;
                height: 28px;
              }
              &-number {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                &-img {
                  display: inline-block;
                  width: 17px;
                  height: 17px;
                  background-image: url("/img/mainPage/icons/phone.png");
                  margin-right: 10px;
                }
                &-text {
                  @include font(400, 16px, #28292b);
                }
              }
            }
          }
          &-inputs {
            flex-basis: 45%;
            &__title {
              @include font(700, 34px, #28292b);
              margin-bottom: 40px;
            }
            &__item {
              margin-bottom: 30px;
              &-name {
                @include font(400, 18px, #586060);
                margin-bottom: 5px;
              }
              &-field {
                &::v-deep .field-input {
                  background: #fff;
                }
              }
              &-textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #e1e4e8;
                resize: none;
                padding: 13px 20px;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 400;
              }
            }
            &__error {
              margin-bottom: 10px;
              color: #bf2727;
            }
            &__submit {
              padding: 15px 25px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .main-page {
    &__callback {
      .callback {
        &__form {
          background-position: 50% -45%;
          &::before {
            background-size: 110% auto;
            height: 363px;
          }
          .form {
            flex-direction: column;
            &-contacts {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__callback {
      .callback {
        &__form {
          &::before {
            background-size: auto 150%;
            height: 363px;
          }
          .form {
            padding: 20px 10px;
          }
        }
      }
    }
  }
}
</style>