<template>
  <div>
    <div class="main-page__footer">
      <div class="footer__container container">
        <div class="footer-content">
          <h3 class="footer-content__title subtitle">Цифровой ТОР</h3>
          <div class="footer-content__info">
            <p class="footer-content__info-number">
              <a
                class="footer-content__info-number-link"
                href="tel:+77075405588"
                >+7 (707) 540-55-88</a
              >
            </p>
            <p class="footer-content__info-docs">
              <nuxt-link to="/"> Пользовательское соглашение </nuxt-link>
              <span> / </span>
              <nuxt-link to="/"> Политика конфиденциальности </nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";
.main-page {
  &__footer {
    background-color: #2f616c;
    .footer {
      &-content {
        padding: 35px 0 47px;
        display: flex;
        justify-content: space-between;
        &__title {
          @include font(700, 20px, #fff);
        }
        &__info {
          display: flex;
          align-items: center;
          p {
            margin-bottom: 0;
          }
          &-number {
            margin-right: 55px;
            &-link {
              @include font(400, 14px, #fff);
              text-decoration: none;
              font-family: "Source Sans Pro", sans-serif;
            }
          }
          &-docs {
            @include font(400, 14px, #fff);
            a {
              @include font(400, 14px, #fff);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .main-page {
    &__footer {
      .footer {
        &-content {
          padding: 20px 0 15px;
          flex-direction: column;
          position: relative;
          &__info {
            flex-direction: column;
            align-items: center;
            height: 60px;
            justify-content: space-between;

            &-number {
              margin-right: 0;
              position: absolute;
              right: 5px;
              top: 20px;
            }
            &-docs {
              display: flex;
              justify-content: space-between;
              span {
                display: none;
              }
              a {
                display: block;
                width: 45%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__footer {
      .footer {
        &-content {
          padding: 20px 0 15px;
          flex-direction: column;
          position: relative;
          &__title {
            margin-bottom: 20px;
          }
          &__info {
            flex-direction: column;
            align-items: center;
            height: 60px;
            justify-content: space-between;

            &-number {
              margin-right: 0;
              position: absolute;
              right: 5px;
              top: 20px;
            }
            &-docs {
              display: flex;
              justify-content: space-between;
              span {
                display: none;
              }
              a {
                display: block;
                width: 45%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .footer-content__title {
    text-align-last: left;
  }
}
</style>