<template>
  <div>
    <div class="main-page__for-client">
      <div class="for-client-container container">
        <div class="for-client__title">
          <h2 class="for-client__title-text">Всё для клиента</h2>
        </div>
        <div class="for-client__description">
          <span class="for-client__description-text">
            Сервис – это важнейшая составляющая любой компании, и мы не
            исключение. ТОО «Вагонный сервис» уделяет особое внимание данному
            аспекту, чтобы максимально удовлетворить пожелания наших клиентов.
            Цифровизация производственного процесса позволяет оптимизировать
            документальное сопровождение ремонта и сократить время простоя
            вагона.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.main-page {
  &__for-client {
    margin-bottom: 120px;
    .for-client {
      &-container {
        display: flex;
        border-left: 2px solid #4fa48f;
        padding: 0 35px;
      }
      &__title {
        margin-right: 90px;
        margin-top: -9px;
        line-height: 1;
        @include font(800, 43px, #28292b);
      }
      &__description {
        margin-top: -5px;
        @include font(400, 16px, #28292b);
      }
    }
  }
}

@media (max-width: 976px) {
  .main-page {
    &__for-client {
      .for-client {
        &-container {
          flex-wrap: wrap;
        }
        &__title {
          margin-bottom: 20px;
          margin-right: 0;
          @include font(800, 36px, #28292b);
        }
      }
    }
  }
}
</style>