<template>
  <div class="main-page__functional">
    <div class="functional-container container">
      <h2 class="functional__title subtitle">Функционал портала</h2>
      <v-tabs class="functional-content__tabs" :grow="true" v-model="roleTab">
        <v-tab class="functional-content__tabs-item" :ripple="false">
          <span>Дежурный по станции</span>
        </v-tab>
        <v-tab class="functional-content__tabs-item" :ripple="false">
          <span>Вагонный оператор</span>
        </v-tab>
        <v-tab class="functional-content__tabs-item" :ripple="false">
          <span>Мастер ТОР</span>
        </v-tab>
        <v-tab class="functional-content__tabs-item" :ripple="false">
          <span>Приемосдатчик груза и багажа</span>
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="roleTab">
        <v-tab-item v-for="(role, key) in roles" :key="key">
          <v-card flat>
            <v-card-text class="functional-content__tabs-content">
              <span class="functional-content__tabs-content-item">
                {{ role.firstBlock }}
              </span>
              <span class="functional-content__tabs-content-item">
                {{ role.secondBlock }}
              </span>
            </v-card-text>
            <img
              :src="role.img"
              alt="document"
              class="functional-content__tabs-content-img"
            />
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      roleTab: null,
      roles: {
        station_officer: {
          firstBlock:
            "Дежурный по станции является основным действующим лицом в части организации подачи и уборки вагона с пункта ТОР. Дежурный по станции либо сотрудник железнодорожной администрации выполняет проверку и приём вагонов из ремонта, совершая подписание электронных документов.",
          secondBlock:
            "Дежурный по станции в рамках производственного процесса на портале осуществляет приём заявки ВУ-78 на подачу вагона, формирует и подписывает акт формы ВУ-80, а также заявку на уборку ВУ-79 и акт уборки вагона на станцию ВУ-81. Осуществляет проверку и загружает в систему КТЖ форму уведомления ВУ-36.",
          img: "/img/mainPage/tabsRole/vu8x.png",
        },

        wagon_operator: {
          firstBlock:
            "Вагонный оператор осуществляет оперативное управление осмотрщиками и своевременное оформление документов по браковке вагонов в ТОР. Выступает инициатором процесса организации текущего ремонта на портале. Взаимодействует с другими участниками процесса для оптимального управления вагонами в рамках приданного парка.",
          secondBlock:
            "Вагонный оператор формирует и отправляет участникам процесса форму уведомление о браковке вагона ВУ-23. Записывает данные в систему АСОУП КТЖ. Осуществляет своевременное уведомление собственника и матера пункта ТОР о браковке вагона.",
          img: "/img/mainPage/tabsRole/vu23.png",
        },

        tor_master: {
          firstBlock:
            "Ключевое лицо в процессе организации текущего ремонта на пункте ТОР. В своём личном кабинете матер ТОР получает уведомления об отцепке вагонов от вагонного оператора и принимает соответствующие действия для согласования ремонта с собственником и подачи вагонов на пути пункта ТОР для выполнения оперативного ремонта и возврата вагона на станцию.",
          secondBlock:
            "Мастер ТОР в рамках согласованной с собственником заявки на ремонт подаёт заявку на подачу и уборку вагона дежурному по станции, подписывает акты подачи и уборки, формирует уведомление ВУ-36, дефектную ведомость ВУ-22 и составляет лист комплектации вагона. В рамках работы на сторонних сервисах мастер ТОР осуществляет согласование замены запчастей с собственником.",
          img: "/img/mainPage/tabsRole/vu36.png",
        },

        cargo_receiver: {
          firstBlock:
            "Отвечает за формирование базы простоя вагона на путях общего пользования и в ремонте. Выполняет контроль норм простоя и формирует ведомости.",
          secondBlock:
            "В личном кабинете формирует ведомость на подачу и уборку вагона ГУ-46, осуществляет учёт времени, формирует и передаёт данные для начисления простоя.",
          img: "/img/mainPage/tabsRole/gu46.png",
        },
      },
    };
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.main-page {
  &__functional {
    margin-bottom: 120px;
    min-height: 800px;
    .functional {
      &__title {
        @include font(800, 64px, #28292b);
        margin-bottom: 70px;
        text-align: center;
      }
      &-content {
        &__tabs {
          width: 100%;
          margin-bottom: 40px;
          border-bottom: 2px solid #ebebeb;
          ::v-deep {
            .v-slide-group__prev.v-slide-group__prev--disabled {
              display: none !important;
            }
          }
        }
        &-content {
          display: flex;
          justify-content: space-between;
          &-item {
            @include font(400, 16px, #28292b);
            width: 45%;
            padding-left: 34px;
            position: relative;
            list-style-type: none;
            &::after {
              content: "";
              width: 15px;
              height: 15px;
              background-color: #189b85;
              position: absolute;
              top: 3px;
              left: 0;
            }
          }
        }
      }
    }
    
    ::v-deep {
      .functional-content__tabs-content-img {
        width: 100%;
        max-width: 1140px;
        max-height: 787px;
        box-shadow: 0px 10px 28px -1px rgba(70, 70, 70, 0.1);
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__functional {
      margin-bottom: 30px;
      .functional {
        &__title {
          font-size: 12vw;
          margin-bottom: 20px;
        }
        &-content {
          &__tabs {
            &-content {
              flex-direction: column;
              align-items: center;
              text-align: center;
              &-item {
                width: 100%;
                padding-left: 0;
                margin-bottom: 40px;
                &::after {
                  left: 45%;
                  top: -20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>