<template>
  <div class="main-page">
    <div class="main-page__tor">
      <div class="tor-container container">
        <header class="tor-header">
          <div class="tor-header__write-us">
            <button class="tor-header__write-us-btn" @click="$emit('callback')">
              Написать нам
            </button>
          </div>
          <div class="tor-header__call-us">
            <div class="tor-header__call-us-number">
              <a href="tel:+77075405588">+7 (707) 540-55-88</a>
            </div>
            <div class="tor-header__order-call">
              <button
                class="tor-header__call-us-btn"
                @click="$emit('callback')"
              >
                Заказать звонок
              </button>
            </div>
          </div>
        </header>
        <div class="tor-сontent">
          <div class="tor-content__login">
            <nuxt-link class="tor-content__login-title" to="/"
              >Цифровой ТОР</nuxt-link
            >
            <div class="tor-content__login-links">
              <nuxt-link to="/about" class="tor-content__login-links-about">
                О нас
              </nuxt-link>
              <nuxt-link to="/login2" class="tor-content__login-links-signin">
                Вход
              </nuxt-link>
            </div>
          </div>
          <div class="tor-content__main">
            <slot name="title" />
            <slot name="desc" />
            <slot name="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style  scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.main-page {
  &__tor {
    background: linear-gradient(180deg, #2f616c 85%, transparent 15%);
    width: 100%;
    .tor {
      &-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid #588086;
        margin-bottom: 25px;
        &__write-us {
          &-btn {
            text-decoration: underline;
            background-color: inherit;
            border: none;
            box-shadow: none;
            padding: 0;
            @include font(400, 14px, #fff);
          }
        }
        &__call-us {
          display: flex;
          align-items: center;
          &-number a {
            @include font(400, 14px, #fff);
            font-family: "Source Sans Pro", sans-serif;
            margin-right: 40px;
            text-decoration: none;
          }
          &-btn {
            text-decoration: underline;
            background-color: inherit;
            border: none;
            box-shadow: none;
            padding: 0;
            @include font(400, 14px, #fff);
          }
        }
      }
      &-content {
        &__login {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 80px;
          &-title {
            @include font(700, 20px, #fff);
            text-decoration: none;
          }
          &-links {
            display: flex;
            align-items: center;
            &-about {
              @include font(500, 16px, #fff);
              margin-right: 50px;
              text-decoration: none;
            }
            &-signin {
              @include font(500, 17px, #213c40);
              padding: 10px 20px;
              line-height: 17px;
              background-color: #fff;
              box-shadow: none;
              text-decoration: none;
            }
          }
        }
        &__main {
          text-align: center;
          margin-bottom: 110px;
          &-title {
            @include font(800, 64px, #fff);
            margin-bottom: 30px;
            p {
              margin: 0;
              line-height: 76.8px;
            }
          }
          &-label {
            @include font(400, 20px, #fff);
            max-width: 940px;
            margin: 0 auto;
            margin-bottom: 50px;
          }
          &-image {
            display: block;
            width: 100%;
            height: 568px;
            background-size: cover;
            background-image: url("/img/mainPage/header/header-about.JPG");
            box-shadow: inset 0 0 0 1000px rgb(44 157 182 / 15%);
            margin-top: 50px;
          }
          &-images {
            display: flex;
            justify-content: space-between;

            &_item {
              flex: 0 1 32.5%;
              display: block;
              width: 100%;
              height: 568px;
              background-size: cover;
              box-shadow: inset 0 0 0 1000px rgb(44 157 182 / 15%);
              background-position: 50% 50%;
              &.header {
                &-img1 {
                  background-image: url("/img/mainPage/header/1.png");
                  box-shadow: none;
                }
                &-img2 {
                  background-image: url("/img/mainPage/header/2.png");
                }
                &-img3 {
                  background-image: url("/img/mainPage/header/3.png");
                }
                &-switcher {
                  background-image: url("/img/mainPage/header/header-about-switcher.JPG");
                }
                &-rails {
                  background-image: url("/img/mainPage/header/header-about-rails.JPG");
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-page {
    &__tor {
      .tor {
        &-content {
          &__main {
            &-image {
              background-position: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .main-page {
    &__tor {
      .tor {
        &-content {
          &__main {
            &-images {
              &_item {
                &.header {
                  &-wagon-service {
                    background-position: 40% 30%;
                  }
                }
              }
            }
            &-title {
              font-size: 6vw;
            }
            &-label {
              font-size: 4vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__tor {
      .tor {
        &-header {
          &__call-us {
            flex-direction: column-reverse;
            &-number a {
              margin-right: 0;
            }
            &-btn {
              margin-bottom: 15px;
            }
          }
        }
        &-content {
          &__login {
            margin-bottom: 50px;
            &-links {
              &-about {
                margin-right: 15px;
              }
            }
          }
          &__main {
            margin-bottom: 30px;
            &-title {
              font-size: 10vw;
              p {
                line-height: 1.5;
              }
            }
            &-images {
              flex-direction: column;
              min-height: 1000px;
              &_item {
                height: 500px;
                flex: 1 1 100%;
                margin-bottom: 20px;
                background-position-y: center;
                &.header {
                  &-wagon-service {
                    background-position: 40% 30%;
                    background-size: cover;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .main-page {
    &__tor {
      .tor {
        &-content {
          &__main {
            &-image {
              height: 430px;
            }
          }
        }
      }
    }
  }
}
</style>