<template>
  <div class="main-page__members">
    <div class="members-container">
      <h2 class="members__title subtitle">Участники портала</h2>
      <div class="members-map">
        <div class="map">
          <div class="map-block" ref="mapBlock">
            <RailwayMap
              v-if="visibleMap"
              :viewportWidth="viewportWidth"
              v-click-outside="closeMapPopup"
              ref="railwayMap"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RailwayMap from "@/components/railwayMap/railwayMap";
export default {
  components: {
    RailwayMap,
  },
  data() {
    return {
      intersectionObserver: null,
      visibleMap: false,
      viewportWidth: 0,
    };
  },

  methods: {
    closeMapPopup() {
      if (this.$refs.railwayMap) {
        this.$refs.railwayMap.closePopup();
      }
    },

    updateWidth() {
      this.viewportWidth = window.innerWidth;
    },
  },

  beforeMount() {
    this.intersectionObserver = new IntersectionObserver((entries) => {
      if (entries[0].intersectionRatio > 0) {
        setTimeout(() => {
          this.visibleMap = true;
          this.intersectionObserver.disconnect();
        }, 500);
      }
    });
  },

  mounted() {
    this.$nextTick(function () {
      this.intersectionObserver.observe(this.$refs.mapBlock);
    });
    window.addEventListener("resize", this.updateWidth);
    this.updateWidth();
  },

  destroyed() {
    this.intersectionObserver.disconnect();
    window.removeEventListener("resize", this.handleResize);
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.main-page {
  &__members {
    margin-bottom: 120px;
    .members {
      &-map {
        width: 100%;
        height: 100%;
        max-height: 838px;
      }
      &-about {
        background-color: #0c5565;
        width: 100%;
        padding: 70px 0 80px;
        &__wrapper {
          display: flex;
          justify-content: space-between;
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-basis: 33%;
          &-title {
            @include font(700, 20px, #fff);
            margin-bottom: 15px;
          }
          &-info {
            flex-grow: 1;
            margin-bottom: 32px;
            &-item {
              @include font(400, 18px, #fff);
            }
          }
          &-phone {
            &-icon {
              display: inline-block;
              width: 17px;
              height: 17px;
              background-image: url("/img/mainPage/icons/phone.png");
              margin-right: 10px;
            }
            &-text {
              display: inline-block;
              @include font(400, 16px, #fff);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .main-page {
    &__members {
      .members {
        &-about {
          &__wrapper {
            flex-direction: column;
          }
          &__content {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
</style>