<template>
  <div class="service container">
    <h3 class="service-title subtitle">
      ТОО «Вагонный сервис» оказывает полный спектр услуг в сфере ремонта
      грузовых вагонов
    </h3>
    <div class="service-info">
      <div class="service-info__img" />
      <div class="service-info__text">
        <p>
          В управлении нашей компании имеются пункты текущего отцепочного
          ремонта (далее ТОР) на 11-ти крупнейших станциях, а также заключены
          договора со всеми вагоноремонтными предприятиями РК и ТОО «КТЖ –
          Грузовые перевозки». Условия сотрудничества предусматривают полный
          спектр обслуживания в сфере ремонта грузовых вагонов, замену
          необходимых деталей с прямой поставкой запасных частей от
          производителя по всей территории РК и стран СНГ.
        </p>
        <p>
          Благодаря собственной on-line платформе, организовать ремонт или
          доставку запасных частей можно всего одним кликом. Кроме того, с
          помощью личного кабинета, есть возможность отслеживать весь процесс
          ТОР (онлайн 24 часа в сутки).
        </p>
      </div>
    </div>
    <div class="service-statistics">
      <div class="service-statistics__item">
        <p>Более</p>
        <p class="service-statistics__item-count">35000</p>
        <p>отремонтированных вагонов за 1 год;</p>
      </div>
      <div class="service-statistics__item">
        <p>Более</p>
        <p class="service-statistics__item-count">100</p>
        <p>
          довольных клиентов, в числе которых: АО «KTZ Express», ТОО «ТрансКом»,
          ТОО «PTC Holding», ООО «Новотранс» и т.д.
        </p>
      </div>
      <div class="service-statistics__item">
        <p>Более</p>
        <p class="service-statistics__item-count">350</p>
        <p>квалифицированных специалистов в штате;</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/sourceRaleway";
@import "@/assets/styles/sourceSansPro";
@import "@/assets/styles/pages/main";

.service {
  margin-bottom: 120px;
  &-title {
    @include font(700, 35px, #28292a);
    margin-bottom: 30px;
    text-align: left;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
    &__img {
      width: 200px;
      height: 140px;
      background-image: url("/img/mainPage/wagon-service.png");
    }
    &__text {
      flex-basis: 78%;
      @include font(400, 16px, #28292a);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
  }
  &-statistics {
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #4fa48f;
    padding: 30px 60px;
    background: linear-gradient(235.19deg, #ffffff 7.03%, #ecfcf8 100%);
    &__item {
      flex: 0 1 20%;
      gap: 160px;
      &:nth-child(2) {
          flex: 0 1 31%;
      }
      &-count {
        @include font(800, 54px, #189b85);
        line-height: 50px;
      }
    }
  }
}

@media (max-width: 840px) {
  .service {
    &-info {
      flex-direction: column-reverse;
      align-items: start;
    }
    &-statistics {
      flex-direction: column;
    }
  }
}
</style>