<template>
  <div class="lk-container tor-page">
    <ModalCreateTor
      ref="modalCreateTor"
      :editedTor="editedTor"
      :errors="errors"
      :isLoading="isLoading"
      @createTor="createTorMethod"
      @clearErrors="errors = {}"
    />

    <DialogModal ref="deleteTorSuccess" maxWidth="400">
      <div class="modal">
        <div class="success-icon" />
        <h3 class="title title--center">Пункт ТОР удален</h3>
        <p class="description">Вы успешно удалили пункт ТОР.</p>
      </div>
    </DialogModal>

    <div class="tor-page__content">
      <div class="tor-page__filters">
        <v-text-field
          class="tor-page search"
          solo
          depressed
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по таблице"
          v-model="filterSearch"
        ></v-text-field>

        <v-btn
          class="filters-btn"
          depressed
          color="primary"
          @click="$refs.modalCreateTor.changeModal('createTor')"
        >
          Добавить
        </v-btn>
      </div>
      <Table
        v-if="getTorList"
        paginate
        :list="getTorList"
        :columns="tableColumns"
        paginationTitle="ТОР"
        @changeList="loadTorMethod"
      >
        <div v-if="!getTorList.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <div
          v-else
          class="table-row"
          v-for="(tor, index) in getTorList.data"
          :key="tor.id"
        >
          <div v-for="(cell, key) in tor" :key="key" class="table-cell">
            <Field
              v-if="
                editedTor.id === tor.id && editedTor[key] && editedTor[key].id
              "
              class="edit-field"
              :id="editedTor[key].id"
              v-model="editedTor[key].value"
              :type="editedTor[key].type"
              :listValues="editedTor[key].listValues"
              :actionLoader="editedTor[key].actionLoader"
              :defaultOpts="editedTor[key].defaultOpts"
              :errors="errors"
            />

            <span v-else>
              {{ cell || "-" }}
            </span>
          </div>

          <div v-if="editedTor.id === tor.id" class="edit-icon">
            <div class="edit-icon-accept" @click="updateTorMethod" />
            <div class="edit-icon-decline" @click="handleOpenEdit(null)" />
          </div>
          <div v-else class="extra-wrapper">
            <v-btn
              class="extra-btn"
              :ripple="false"
              icon
              depressed
              @click.stop="changeExtra(index)"
            />
            <Popup v-if="openExtraIdx === index" v-click-outside="closeExtra">
              <div class="extra-content">
                <p
                  v-for="(option, idx) in getExtraOptions(tor)"
                  :key="idx"
                  class="extra-el"
                  @click.stop="callExtraMethod(option, tor, index)"
                >
                  {{ option.name }}
                </p>
              </div>
            </Popup>
          </div>
        </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import DialogModal from "@/components/reuse/DialogModal";
import ModalCreateTor from "@/components/lk/tor/ModalCreateTor";

import { PopupMixin } from "@/mixins/PopupMixin";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    DialogModal,
    Field,
    Table,
    Popup,
    ModalCreateTor,
  },

  mixins: [PopupMixin, DialogModalMixin],

  async asyncData({ store }) {
    await store.dispatch("tor/loadTors", { is_paginate: true });

    return {
      isLoading: false,
      tablePageAmount: 10,
      currentPage: 1,
      debouncer: null,
      polling: null,
      filterSearch: null,
      openExtraIdx: null,

      editedTor: {
        id: null,
        tor_name: null,
        longitude: { id: "longitude", type: "text", value: null },
        latitude: { id: "latitude", type: "text", value: null },
        depot: null,
        station: null,
      },

      errors: {
        station_id: null,
        longitude: null,
        latitude: null,
      },
    };
  },
  computed: {
    ...mapGetters("tor", ["getTorList"]),

    tableColumns() {
      return {
        labels: [
          "ID",
          "Название пункта ТОР",
          "Депо",
          "Станция",
          "Широта",
          "Долгота",
          "",
        ],
        width: ["30px", "1fr", "1fr", "1fr", "1fr", "1fr", "30px"],
      };
    },
  },

  methods: {
    ...mapActions("tor", [
      "resetState",
      "loadTors",
      "createTor",
      "updateTor",
      "deleteTor",
    ]),

    callExtraMethod(option, payload, idx) {
      if (option.method) {
        this[option.method](payload);
      }
      this.changeExtra(idx);
    },

    getExtraOptions() {
      const options = [
        {
          name: "Редактировать",
          method: "handleOpenEdit",
        },
      ];

      return options;
    },

    handleOpenEdit(tor) {
      this.openExtraIdx = null;
      this.errors = {};

      if (!tor) {
        this.editedTor.id = null;
        for (const key in this.editedTor) {
          if (this.editedTor[key] && typeof this.editedTor[key] === "object") {
            this.editedTor[key].value = null;
            this.editedTor[key].defaultOpts = null;
            this.editedTor[key].listValues = [];
          } else {
            this.editedTor[key] = null;
          }
        }
        return;
      }

      for (const key in this.editedTor) {
        switch (key) {
          case "id":
          case "tor_name":
            this.editedTor[key] = tor[key];
            break;
          case "station":
          case "depot":
            this.editedTor[key] = tor[key + "_id"];
            break;
          default:
            this.editedTor[key].value = tor[key];
            break;
        }
      }
    },

    createRequestParams(payload = {}) {
      const { count, page } = payload;

      if (count) {
        this.tablePageAmount = count;
      }

      return {
        search: this.filterSearch,
        count: this.tablePageAmount,
        is_paginate: true,
        page,
      };
    },

    async loadTorMethod(payload) {
      try {
        const params = this.createRequestParams(payload);
        await this.loadTors(params);
      } catch (error) {
        console.warn(error);
      }
    },

    async createTorMethod(createdTor) {
      this.isLoading = true;

      try {
        await this.createTor(createdTor);
        await this.loadTorMethod();
        this.$refs.modalCreateTor.changeModal("createTorSuccess");
        this.errors = {};
      } catch (error) {
        if (error.response) {
          this.errors = error.response.data;
        }
      }

      this.isLoading = false;
    },

    async updateTorMethod() {
      this.isLoading = true;

      try {
        const params = {
          id: this.editedTor.id,
          tor_name: this.editedTor.tor_name,
          latitude: this.editedTor.latitude.value,
          longitude: this.editedTor.longitude.value,
          station_id: this.editedTor.station,
          depot_id: this.editedTor.depot,
        };
        await this.updateTor(params);
        await this.loadTorMethod();
        this.handleOpenEdit(null);
        this.errors = {};
      } catch (error) {
        if (error.response) {
          this.errors = error.response.data;
        }
      }

      this.isLoading = false;
    },

    async deleteTorMethod(tor) {
      this.isLoading = true;

      try {
        await this.deleteTor(tor);
        await this.loadTorMethod();
        this.changeModal("deleteTorSuccess");
        this.errors = {};
      } catch (error) {
        if (error.response) {
          this.errors = error.response.data;
        }
      }

      this.isLoading = false;
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(async () => {
        await this.loadTorMethod();
      }, 400);
    },
  },

  beforeDestroy() {
    clearInterval(this.polling);
    this.resetState();
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";
.tor-page {
  &__content {
    margin-top: 30px;
  }

  &__filters {
    display: flex;
    .filters-btn {
      margin-left: 10px;
      min-height: 48px;
    }
  }

  .edit {
    &-field {
      max-width: 95%;
      &::v-deep {
        .v-input__slot {
          margin-bottom: 0;
        }
        .v-text-field__details {
          display: none;
        }
      }
      &.errors {
        background-color: black;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-accept {
        cursor: pointer;
        margin-bottom: 5px;
        height: 30px;
        width: 30px;
        background-image: url("/img/input/accept-box.svg");
      }
      &-decline {
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-image: url("/img/input/decline-box.svg");
      }
    }

    &.cancel-select {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: -7px;
      width: 16px;
      height: 16px;
      background-image: url("/img/components/subTable/delete.svg");
    }
  }
}

.table-cell {
  position: relative;
}
</style>
