<template>
  <div class="">
    <DialogModal ref="createTor" width="500" @close="handleCloseModal">
      <div>
        <h3>Добавление пункта ТОР</h3>
        <Field
          v-for="(field, key, index) in inputFields"
          :key="index"
          :id="field.id"
          :ref="field.id"
          :type="field.type"
          :label="field.label"
          :actionLoader="field.actionLoader"
          :listValues="field.listValues"
          :errors="errors"
          v-model="inputValues[field.id]"
        />
        <v-btn
          style="margin-top: 30px"
          color="primary"
          :loading="isLoading"
          @click="$emit('createTor', inputValues)"
        >
          Добавить
        </v-btn>
      </div>
    </DialogModal>

    <DialogModal
      ref="createTorSuccess"
      maxWidth="400"
      @close="changeModal('createTor', false)"
    >
      <div class="modal">
        <div class="success-icon" />
        <h3 class="title title--center">Пункт ТОР создан</h3>
        <p class="description">Вы успешно добавлили пункт ТОР.</p>
      </div>
    </DialogModal>
  </div>
</template>

<script>
import Field from "@/components/reuse/Field";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    Field,
  },

  mixins: [DialogModalMixin],

  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
    editedTor: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      inputValues: {
        tor_name: null,
        depot_id: null,
        station_id: null,
        latitude: null,
        longitude: null,
      },

      inputFields: {
        tor_name: {
          id: "tor_name",
          label: "Название пункта ТОР",
          type: "text",
        },
        depot_id: {
          id: "depot_id",
          type: "autocomplete",
          label: "Код депо",
          actionLoader: "dictionary/loadDepots",
          listValues: [],
        },
        station_id: {
          id: "station_id",
          type: "autocomplete",
          label: "Код станции",
          actionLoader: "dictionary/loadStations",
          listValues: [],
        },
        latitude: {
          id: "latitude",
          label: "Широта",
          type: "text",
        },
        longitude: {
          id: "longitude",
          label: "Долгота",
          type: "text",
        },
      },
    };
  },

  methods: {
    handleCloseModal() {
      for (const key in this.inputValues) {
        this.inputValues[key] = null;
      }
      for (const fieldKey in this.inputFields) {
        const fieldId = this.inputFields[fieldKey].id;
        this.$refs[fieldId][0].restoreDefault();
      }
      this.$emit("clearErrors");
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/dialogModal";
</style>
