<template>
  <div class="lk-container vu36">
    <DialogModal
      ref="modalAddToVu36"
      width="550"
      @click="choosenVu36 = null"
      @close="
        () => {
          filterSearchVu36 = '';
          choosenVu36 = null;
        }
      "
    >
      <div class="modal">
        <h3 class="modal__header">Добавить вагон в ВУ-36</h3>
        <v-text-field
          class="modal__search"
          solo
          depressed
          type="text"
          v-model="filterSearchVu36"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск"
          @click.stop
        />
        <div class="modal__table">
          <div class="modal__table-header">
            <div
              class="modal__table-header_item"
              v-for="(name, key) of ['№', 'Дата создания', 'Кол-во вагонов']"
              :key="key"
            >
              {{ name }}
            </div>
          </div>
          <div class="modal__table-content">
            <div
              class="modal__table-content_row"
              :class="{ active: vu36.id === choosenVu36 }"
              v-for="(vu36, key) of getListVu36sForModal.data"
              :key="key"
              @click.stop="choosenVu36 = vu36.id"
            >
              <div
                class="modal__table-content_row-item"
                v-for="(cell, key) of vu36"
                :key="key"
              >
                <div v-if="['created_at'].includes(key)" class="cell-date">
                  <div>
                    {{ cell.split(" ")[0] }}
                  </div>
                  <div class="color-gray">
                    {{ cell.split(" ")[1] }}
                  </div>
                </div>
                <div v-else>
                  {{ cell }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal__btns">
          <div class="modal__btns-new" @click="addWagonToVu36Method()">
            <div class="modal__btns-new_img">
              <span class="modal__btns-new_img-plus"></span>
            </div>
            <p class="modal__btns-new_text">Новая ведомость</p>
          </div>
          <div
            class="modal__btns-add"
            @click.stop="addWagonToVu36Method(choosenVu36)"
            v-if="choosenVu36"
          >
            Добавить
          </div>
        </div>
      </div>
    </DialogModal>

    <DialogModal ref="signWarning" width="600px">
      <div class="modal" v-if="modalPayload">
        <p class="description">
          ВУ-36 №{{ modalPayload.id }} от {{ modalPayload.created_at }} будет
          отправлен в АСОУП. Все переданные данные формы будут сохранены,
          перезаписать их будет невозможно. Нажав кнопку “Продолжить” Вы
          подтверждаете, что форма заполнена без ошибок. Хотите продолжить
          подписание?
        </p>
        <div class="modal__warning-btn-wrapper">
          <v-btn
            color="primary"
            depressed
            @click="signVu36Method(modalPayload)"
          >
            Продолжить
          </v-btn>
          <v-btn
            class="btn--black-text"
            outlined
            depressed
            @click="openSignWarningModal()"
          >
            Отменить</v-btn
          >
        </div>
      </div>
    </DialogModal>

    <DialogModal ref="signDoc" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>

    <v-tabs
      v-if="getUser.role_id !== constRoles.RAILWAY_EMPLOYEE"
      class="vu36__tabs"
      v-model="currentTab"
    >
      <v-tab class="vu36__tabs-item" :ripple="false" @click="currentTab = 0">
        <span>Вагоны</span>
      </v-tab>
      <v-tab
        class="vu36__tabs-item"
        :ripple="false"
        @click="
          () => {
            currentTab = 1;
            choosenVu36 = null;
          }
        "
      >
        <span>ВУ-36</span>
      </v-tab>
    </v-tabs>
    <keep-alive>
      <WagonsTab
        v-if="currentTab === 0"
        :isAddedWagon="isAddedWagon"
        @changeList="loadWagonMethod"
        @addToVu36="openModalVu36s"
      />
      <Vu36sTab
        v-else-if="currentTab === 1"
        :errors="errors"
        @deleteVu36="deleteVu36Method"
        @deleteWagon="deleteWagonFromVu36Method"
        @changeList="loadVu36Method"
        @declineVu36="declineVu36Method"
        @downloadVu36Doc="downloadVu36DocMethod"
        @signVu36="openSignWarningModal"
        @chooseVu36="
          ({ id }) => {
            currentTab = 0;
            choosenVu36 = id;
          }
        "
      />
    </keep-alive>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import WagonsTab from "@/components/lk/vu36/WagonsTab.vue";
import Vu36sTab from "@/components/lk/vu36/Vu36sTab.vue";
import Field from "@/components/reuse/Field";
import { getCurrentDate } from "@/utils/getDate";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import {
  roles as constRoles,
  docType as constDocType,
} from "@/helpers/constants.js";

export default {
  components: {
    Field,
    WagonsTab,
    Vu36sTab,
  },
  mixins: [DialogModalMixin],
  async asyncData({ store }) {
    const user = store.getters["auth/getUser"];
    await store.dispatch("vu36/loadWagons");
    await store.dispatch("vu36/loadVu36s");
    return {
      constRoles,
      checkedWagons: [],
      currentTab: user.role_id === constRoles.RAILWAY_EMPLOYEE ? 1 : 0,
      isLoading: false,
      tablePageAmount: 10,
      notification: "",
      page: 1,
      modalPayload: null,
      choosenVu36: null,
      wagonParams: null,
      isAddedWagon: false,
      isError: false,
      errors: {},
      params: {},

      filterSearchVu36: "",
      debounce: null,
    };
  },

  computed: {
    ...mapGetters("vu36", ["getListVu36sForModal", "getListVu36sForTable"]),
    ...mapGetters("auth", ["getUser"]),
  },

  methods: {
    ...mapActions("vu36", [
      "loadVu36s",
      "loadWagons",
      "addWagonToVu36",
      "downloadVu36Doc",
      "deleteWagon",
      "deleteVu36",
      "resetState",
      "signVu36",
      "declineVu36",
    ]),

    getCurrentDate,

    openSignWarningModal(vu36) {
      if (this.getUser.role_id === constRoles.TOR_MASTER) {
        this.signVu36Method(vu36);
      } else {
        this.modalPayload = vu36;
        this.changeModal("signWarning", !!vu36);
      }
    },
    openModalVu36s(payload) {
      this.checkedWagons = payload;
      this.loadVu36Method();
      if (this.choosenVu36) {
        this.addWagonToVu36Method(this.choosenVu36);
      } else {
        this.changeModal("modalAddToVu36");
      }
    },

    async signVu36Method(vu36) {
      this.isLoading = true;
      this.isError = false;

      try {
        this.changeModal("signWarning", false);
        const currentDocument = vu36.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );
        const uuid = currentDocument.file_id;
        const requestData = { uuid };

        const documentBase64 = await this.downloadVu36Doc({
          vu36_id: vu36.id,
          file_id: uuid,
          format: "base64",
          isNotBlob: true,
        });

        requestData.sig = await ncaLayerSign(documentBase64);

        await this.signVu36({
          vu36_id: vu36.id,
          requestData,
        });

        this.notification = `Вы успешно подписали документ ВУ-36 от ${this.getCurrentDate()}.
        Документ зарегистрирован и будет храниться в системе Цифровой ТОР.`;
        this.changeModal("signDoc");

        await this.loadVu36Method();
      } catch (error) {
        if (error.message !== "500: action.canceled") {
          this.isError = true;
          this.notification =
            error.response?.data?.errorMessage ||
            "Непредвиденная ошибка, пожалуйста попробуйте снова";
          this.changeModal("signDoc");
          console.warn(error);
        }
      }

      this.isLoading = false;
    },

    async declineVu36Method(vu36) {
      this.isLoading = true;
      try {
        await this.declineVu36({
          vu36_id: vu36.id,
        });
        this.loadVu36Method();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async downloadVu36DocMethod(vu36, format = null) {
      this.isLoading = true;
      try {
        const response = await this.downloadVu36Doc({
          vu36_id: vu36.id,
          file_id: vu36.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа Ву-36 №${vu36.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu36.id}.zip`;
            break;
          default:
            fileName = `Документ Ву-36 №${vu36.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async addWagonToVu36Method(id) {
      try {
        await this.addWagonToVu36({
          vu36_id: id,
          wagon_ids: this.checkedWagons,
        });
        await this.loadVu36Method();
        this.isAddedWagon = !this.isAddedWagon;
        this.changeModal("modalAddToVu36", false);
        this.checkedWagons = [];
      } catch (error) {
        console.warn(error);
      }
    },

    async deleteVu36Method(id) {
      try {
        await this.deleteVu36(id);
        await this.loadVu36Method({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    async deleteWagonFromVu36Method(wagon) {
      try {
        await this.deleteWagon(wagon);
        await this.loadVu36Method({ isDel: true });
      } catch (error) {
        console.warn(error);
      }
    },

    createRequestParams(payload = { page: 1, count: 10 }, method = "vu36") {
      const { page, count, search, left_date, right_date, wagon_type, isDel } =
        payload;

      if (page) {
        this.page = page;
      }

      if (isDel && !(this.getListVu36sForTable.length - 1) && this.page !== 1) {
        this.page = 1;
      }

      if (count) {
        this.tablePageAmount = count;
      }

      if (method === "vu36" && this.currentTab === 0) {
        this.tablePageAmount = 0;
      }

      if (payload) {
        this.params[method] = {
          page: this.page,
          count: this.tablePageAmount,
          search: search || null,
          wagon_type: wagon_type || null,
          left_date: left_date || null,
          right_date: right_date || null,
        };
      }
    },

    async loadWagonMethod(payload) {
      try {
        this.createRequestParams(payload, "wagons");
        await this.loadWagons(this.params.wagons);
      } catch (error) {
        console.warn(error);
      }
    },

    async loadVu36Method(payload) {
      this.isLoading = true;
      try {
        this.loadWagonMethod(this.params.wagons);
        this.createRequestParams(payload);
        await this.loadVu36s(this.params.vu36);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    startPolling() {
      this.polling = setInterval(async () => {
        try {
          await this.loadVu36Method(this.params.vu36);
        } catch (error) {
          console.warn(error);
        }
      }, 10000);
    },
  },
  watch: {
    filterSearchVu36(value) {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadVu36Method({ search: value });
      }, 400);
    },
  },
  beforeDestroy() {
    clearInterval(this.polling);
    this.resetState();
  },
  created() {
    this.startPolling();
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/dialogModal";
@import "@/assets/styles/mixins";

.vu36 {
  &__tabs {
    border-bottom: 2px solid #d3dcde;
    &::v-deep {
      .v-tabs-slider-wrapper {
        z-index: 100;
      }
    }
  }
}
.modal {
  &__header {
    margin-bottom: 25px;
  }
  &__search {
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }
  &__table {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    margin-top: -15px;
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      opacity: 0;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      background: #97b0b5;
      border-radius: 22px;
    }
    &-header {
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      background-color: #f5f7f8;
      @include font(600, 15px, #68868b);
      border-bottom: 1px solid #e0e7e9;
      &_item {
        width: 30%;
      }
    }
    &-content {
      &_row {
        display: flex;
        padding: 15px 25px;
        justify-content: space-between;
        border-bottom: 1px solid #e0e7e9;
        cursor: pointer;
        &:hover {
          background-color: #2aa7c3;
        }
        &:last-child {
          border-bottom: none;
        }
        &-item {
          width: 30%;
          .cell-date {
            text-align: left;
            width: 72px;
            display: block;
          }
          .color-gray {
            @include font(400, 13px, #68868b);
          }
        }
        &.active {
          background-color: lighten(#aabbbe, 7);
        }
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-new {
      display: flex;
      cursor: pointer;
      width: 160px;
      @include font(600, 15px, #17bc9e);
      &_text {
        margin-bottom: 0;
      }
      &_img {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        background-color: #17bc9e;
        border-radius: 50%;
        margin-right: 15px;
        &-plus {
          display: inline-block;
          text-align: center;
          padding: 5px;
          background-image: url("/img/lk/vu7x/addBtnCross.svg");
          margin: 0 auto;
          width: 12px;
          height: 12px;
        }
      }
    }
    &-add {
      @include font(600, 17px, #fff);
      padding: 11px 25px;
      cursor: pointer;
      background-color: #17bc9e;
      border-radius: 4px;
    }
  }

  &__warning {
    &-btn-wrapper {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
