<template>
  <div class="create-equip">
    <div class="create-equip__form form">
      <div v-for="(row, key) in equipBlank" :key="key" class="form__row">
        <span class="form__row-name" v-if="row.name">{{ row.name }}</span>
        <div class="form__row-input double" v-if="row.type === 'double'">
          <div
            class="double__item"
            v-for="(input, key) in row.inputs"
            :key="key"
          >
            <span class="form__row-name" v-if="!row.name">
              {{ input.name }}
            </span>
            <Field
              :ref="input.id"
              :id="input.id"
              :class="{ 'with-error': input.error }"
              :type="input.type"
              :errors="input.error || errors"
              :listValues="input.listValues"
              v-model="blankValues[input.id]"
              :disabled="input.disabled"
              :placeholder="input.placeholder"
            />
            <div v-if="input.error">
              <small
                class="error-message"
                v-for="(error, key) in input.error"
                :key="key"
                >{{ error }}</small
              >
            </div>
          </div>
        </div>
        <Field
          v-else-if="row.type !== 'date'"
          :ref="row.id"
          :class="{ 'form__row-input': true, 'with-error': row.error }"
          :id="row.id"
          :type="row.type"
          :errors="row.error || errors"
          :actionLoader="row.actionLoader"
          :listValues="row.listValues"
          v-model="blankValues[row.id]"
          :disabled="row.disabled"
        />
      </div>
      <div v-if="errors.massage" class="create-equip__form-error">
        {{ errors.massage }}
      </div>
      <v-btn
        class="create-equip__form-btn"
        color="primary"
        depressed
        @click="sendData"
      >
        {{ getIsEdit ? "Изменить деталь" : "Добавить деталь" }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";

export default {
  components: {
    Field,
  },

  props: ["partIdx"],

  data() {
    const equipType = this.$store.getters["stateHeader/getEquipType"];
    return {
      isOpenModal: false,
      errors: {},
      equipType,
      blankValues: {
        part_type_id: equipType === "Колесная пара" ? 1 : "",
        part_number: "",
        mfr_code: "",
        issue_year: "",
        position_under_car: "",
        administration_code: "",
        extended_life_year_end: "",
        service_stamp: "",
        repair_scope: "",

        part_name: "",
        survey_code: "",
        survey_year: "",
        survey_mounth: "",
        wheel_issue_year: "",
        rim_left: "",
        rim_right: "",
        owner_code: "",
      },
    };
  },

  computed: {
    ...mapGetters("equip", ["getPartLists", "getBogie", "getWheels"]),
    ...mapGetters("stateHeader", ["getIsEdit"]),

    currentPart() {
      if (this.partIdx === null) {
        return null;
      }

      switch (this.equipType) {
        case "Детали тележек":
          return this.getBogie.data[this.partIdx];
        case "Колесная пара":
          return this.getWheels.data[this.partIdx];
      }
    },

    equipBlank() {
      const currentYear = new Date().getFullYear() + 50;
      const startYear = 1949;
      const listYears = [...Array(currentYear - startYear).keys()]
        .map((item) => String(item + 1 + startYear))
        .reverse();
      let blank;
      switch (this.equipType) {
        case "Детали тележек":
          blank = [
            {
              id: "part_type_id",
              type: "select",
              name: "Наименование детали",
              listValues: [
                { text: "Надрессорная балка", value: 3 },
                { text: "Боковая рама", value: 2 },
              ],
              value:
                this.currentPart?.part_type.id || this.blankValues.part_type_id,
              sendedValue: "part_type_id",
              required: true,
            },
            {
              id: "part_number",
              type: "number",
              name: "№ детали",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 1
                )?.value || this.blankValues.part_number,
              sendedValue: { part_params: { id: 1, value: "" } },
              required: true,
            },
            {
              id: "mfr_code",
              type: "number",
              name: "Код завода изготовителя",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 2
                )?.value || this.blankValues.mfr_code,
              sendedValue: { part_params: { id: 2, value: "" } },
              required: true,
            },
            {
              id: "issue_year",
              type: "select",
              name: "Год выпуска",
              listValues: listYears,
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 3
                )?.value || this.blankValues.issue_year,
              sendedValue: { part_params: { id: 3, value: "" } },
              required: true,
            },
            {
              id: "position_under_car",
              type: "select",
              name: "Положение боковой рамы под вагоном",
              listValues: ["Левая", "Правая"],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 10
                )?.value || this.blankValues.position_under_car,
              sendedValue: { part_params: { id: 10, value: "" } },
              required: false,
            },
            {
              id: "administration_code",
              type: "number",
              name: "Код администрации собственника детали",
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 11
                )?.value || this.blankValues.administration_code,
              sendedValue: { part_params: { id: 11, value: "" } },
              required: false,
            },
            {
              id: "extended_life_year_end",
              type: "select",
              name: "Год окончания продлённого срока службы",
              listValues: listYears,
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 12
                )?.value || this.blankValues.extended_life_year_end,
              sendedValue: { part_params: { id: 12, value: "" } },
              required: false,
            },
            {
              id: "service_stamp",
              type: "text",
              name: "Клеймо организации, продлившей срок службы",
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 13
                )?.value || this.blankValues.service_stamp,
              sendedValue: { part_params: { id: 13, value: "" } },
              required: false,
            },
            {
              id: "repair_scope",
              type: "text",
              name: "Объём ремонта детали",
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 14
                )?.value || this.blankValues.repair_scope,
              sendedValue: { part_params: { id: 14, value: "" } },
              required: false,
            },
            {
              id: "part_name",
              type: "text",
              name: "Наименование детали тележки",
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 15
                )?.value || this.blankValues.part_name,
              sendedValue: { part_params: { id: 15, value: "" } },
              required: false,
            },
          ];
          break;
        case "Колесная пара":
          blank = [
            {
              id: "part_type_id",
              type: "select",
              name: "Наименование детали",
              listValues: [{ text: "Колесная пара", value: 1 }],
              sendedValue: "part_type_id",
              value: 1,
              disabled: true,
            },
            {
              id: "part_number",
              type: "number",
              name: "№ детали",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 1
                )?.value || this.blankValues.part_number,
              sendedValue: { part_params: { id: 1, value: "" } },
              required: true,
            },
            {
              id: "administration_code",
              type: "number",
              name: "Код администрации собственника детали",
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 11
                )?.value || this.blankValues.administration_code,
              sendedValue: { part_params: { id: 11, value: "" } },
              required: false,
            },
            {
              id: "survey_code",
              type: "number",
              name: "Код предприятия освидетельствования",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 4
                )?.value || this.blankValues.survey_code,
              sendedValue: { part_params: { id: 4, value: "" } },
              required: true,
            },
            {
              type: "double",
              name: "Дата освидетельствования",
              inputs: [
                {
                  id: "survey_mounth",
                  type: "select",
                  placeholder: "Месяц",
                  name: "Месяц",
                  listValues: [...Array(12).keys()].map((item) => item + 1),
                  value:
                    +this.currentPart?.parameter.find(
                      (item) => item.parameter_id === 6
                    )?.value || this.blankValues.survey_mounth,
                  sendedValue: { part_params: { id: 6, value: "" } },
                  required: true,
                },
                {
                  id: "survey_year",
                  type: "select",
                  placeholder: "Год",
                  name: "Год",
                  listValues: listYears,
                  value:
                    this.currentPart?.parameter.find(
                      (item) => item.parameter_id === 5
                    )?.value || this.blankValues.survey_year,
                  sendedValue: { part_params: { id: 5, value: "" } },
                  required: true,
                },
              ],
            },
            {
              id: "mfr_code",
              type: "number",
              name: "Код предприятия изготовления оси",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 2
                )?.value || this.blankValues.mfr_code,
              sendedValue: { part_params: { id: 2, value: "" } },
              required: true,
            },
            {
              id: "wheel_issue_year",
              type: "select",
              name: "Год выпуска",
              listValues: listYears,
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 3
                )?.value || this.blankValues.wheel_issue_year,
              sendedValue: { part_params: { id: 3, value: "" } },
              required: true,
            },
            {
              type: "double",
              inputs: [
                {
                  id: "rim_right",
                  type: "number",
                  name: "Толщина левая, мм",
                  listValues: [],
                  value:
                    this.currentPart?.parameter.find(
                      (item) => item.parameter_id === 7
                    )?.value || this.blankValues.rim_right,
                  sendedValue: { part_params: { id: 7, value: "" } },
                  required: true,
                },
                {
                  id: "rim_left",
                  type: "number",
                  name: "Толщина правая, мм",
                  listValues: [],
                  value:
                    this.currentPart?.parameter.find(
                      (item) => item.parameter_id === 8
                    )?.value || this.blankValues.rim_left,
                  sendedValue: { part_params: { id: 8, value: "" } },
                  required: true,
                },
              ],
            },
            {
              id: "owner_code",
              type: "number",
              name: "Код собственника",
              listValues: [],
              value:
                this.currentPart?.parameter.find(
                  (item) => item.parameter_id === 9
                )?.value || this.blankValues.owner_code,
              sendedValue: { part_params: { id: 9, value: "" } },
              required: true,
            },
          ];
          break;
      }
      return blank;
    },
  },

  methods: {
    sendData() {
      this.errors = {};
      let data = {
        part_params: [],
      };
      this.equipBlank.forEach((item, idx) => {
        if (item.type === "double") {
          item.inputs.forEach((itemDouble, idxDouble) => {
            if (!itemDouble.value && itemDouble.required) {
              this.errors = { massage: "Не все поля заполнены" };
              itemDouble.error = { [itemDouble.id]: "Пустое поле" };
            } else {
              delete item.error;
            }
          });
        } else {
          if (!item.value && item.required) {
            this.errors = { massage: "Не все поля заполнены" };
            item.error = { [item.id]: "Пустое поле" };
          } else {
            delete item.error;
          }
        }

        if (this.errors.massage) {
          return;
        }

        if (item.type === "double") {
          item.inputs.forEach((itemDouble) => {
            if (itemDouble.value) {
              data.part_params.push({
                id: itemDouble.sendedValue.part_params.id,
                value: itemDouble.value,
              });
            }

            if (this.partIdx === null) {
              itemDouble.value = "";
              if (itemDouble.id) {
                this.blankValues[itemDouble.id] = "";
                this.$refs[itemDouble.id][0].reset();
              }
            }
          });
        } else {
          if (typeof item.sendedValue === "string") {
            data = { ...data, ...{ [item.sendedValue]: item.value } };
          } else {
            if (item.value) {
              data.part_params.push({
                id: item.sendedValue.part_params.id,
                value: item.value,
              });
            }
          }
          if (!item.disabled && this.partIdx === null) {
            item.value = null;
            if (item.id) {
              this.blankValues[item.id] = "";
              this.$refs[item.id][0].reset();
            }
          }
        }
      });

      if (this.errors.massage) {
        return;
      }

      delete this.errors.massage;

      if (this.partIdx === null) {
        this.$emit("addEquip", data);
      } else {
        let idCurrentPart = this.currentPart.id;
        this.$emit("editEquip", data, idCurrentPart);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
.create-equip {
  &__bid {
    @include font(600, 17px, #2aa7c3);
    margin-bottom: 28px;
  }
  &__form {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    padding: 30px 40px;
    width: 700px;
    .form {
      &__row {
        margin-bottom: 18px;
        &-name {
          @include font(400, 17px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }
        &-input {
          width: 620px;
          height: 46px;
          &.double {
            display: flex;
            justify-content: space-between;
            height: auto;
          }
          .double__item {
            flex-basis: 47%;
          }
        }
        &-input.with-error {
          margin-bottom: 50px;
        }
        &-date {
          display: block;
          width: 620px;
          height: 46px;
          background-color: #f4f6f9;
          border: 1px solid #e1e4e8;
          border-radius: 4px;
          padding: 12px 20px 13px;
          &-error {
            color: red;
            font-size: 80%;
          }
        }
      }
    }
    &-error {
      @include font(700, 17px, rgb(231, 0, 0));
      margin-bottom: 20px;
    }
    &-btn.v-btn {
      width: 171px;
      height: 46px;
    }
  }
}
</style>