<template>
  <div>
    <div class="search">
      <v-text-field
        class="filters__input search-input"
        solo
        depressed
        v-model="filterSearch"
        prepend-inner-icon="custom-icon"
        placeholder="Поиск по номеру, названию"
      ></v-text-field>
      <div
        class="cancel"
        v-if="filterSearch"
        @click="filterSearch = null"
      ></div>
    </div>
    <div
      class="wagon-card"
      v-for="(wagon, key, index) of getPartLists"
      :key="key"
      @click="showParts(wagon)"
    >
      <div class="wagon-card__info" v-if="isShow(wagon)">
        <div class="info__title">Вагон №{{ wagon.wagon_num }}</div>
        <div class="info__data">
          <div class="info__data-item">
            Создано: {{ wagon.created_at.split(" ")[0] }}
          </div>
          <div class="info__data-item">№ пп: {{ wagon.id }}</div>
        </div>
      </div>
      <div class="wagon-card__btns">
        <div
          class="wagon-card__btns-item"
          v-if="!isSended(wagon)"
          @click.stop="$emit('sendPartList', { id: wagon.wagon_id })"
        >
          {{
            getUser.role_id === constRoles.TOR_MASTER ? "Отправить" : "Принять"
          }}
        </div>
        <div class="wagon-card__btns-item send" v-else>
          {{
            getUser.role_id === constRoles.TOR_MASTER ? "Отправлено" : "Принято"
          }}
        </div>
        <div class="extra-wrapper">
          <v-btn
            class="extra-btn"
            :ripple="false"
            icon
            depressed
            @click.stop="changeExtra(key)"
          />
          <Popup v-if="openExtraIdx === key" v-click-outside="closeExtra">
            <div class="extra-content">
              <p
                v-for="(option, idx) in getExtraOptions(wagon)"
                :key="idx"
                class="extra-el"
                @click.stop="callExtraMethod(option, wagon, index)"
              >
                {{ option.name }}
              </p>
            </div>
          </Popup>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Popup from "@/components/reuse/Popup";
import { PopupMixin } from "@/mixins/PopupMixin";
import { roles as constRoles, partListStatus } from "@/helpers/constants.js";

export default {
  components: {
    Popup,
  },
  mixins: [PopupMixin],

  data() {
    return {
      debounce: null,
      filterSearch: null,
      openExtraIdx: null,
      constRoles,
    };
  },

  computed: {
    ...mapGetters("equip", ["getPartLists"]),
    ...mapGetters("auth", ["getUser"]),
  },

  methods: {
    ...mapActions("stateHeader", ["showInfo"]),

    isSended(wagon) {
      return (
        (this.getUser.role_id === constRoles.TOR_MASTER &&
          wagon.status.id !== partListStatus.WAITING_MASTER_TOR) ||
        (this.getUser.role_id === constRoles.WAGON_OPERATOR &&
          wagon.status.id !== partListStatus.WAITING_WAGON_OPERATOR)
      );
    },

    isShow(wagon) {
      return (
        !(
          this.getUser.role_id === constRoles.WAGON_OPERATOR &&
          wagon.status.id === partListStatus.WAITING_MASTER_TOR
        ) || this.getUser.role_id === constRoles.TOR_MASTER
      );
    },

    showParts(wagon) {
      this.$emit("showParts", { id: wagon.wagon_id });
      this.showInfo({ isOpen: true, id: wagon.wagon_num });
    },

    callExtraMethod(option, payload, idx) {
      if (option.method) {
        this.$emit(option.method, payload, option.payload);
      }
      this.changeExtra(idx);
    },

    getExtraOptions(wagon) {
      const options = [
        {
          name: "Скачать лист комплектаций",
          method: "downloadPartList",
        },
      ];

      if (
        wagon.status.id === partListStatus.WAITING_WAGON_OPERATOR &&
        this.getUser.role_id === constRoles.TOR_MASTER
      ) {
        options.push({
          name: "Отменить",
          method: "declinePartList",
        });
      }

      return options;
    },

    changePartList(payload = {}) {
      const params = {
        search: this.filterSearch,
      };
      this.$emit("changeList", params);
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.changePartList();
      }, 400);
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";

.search {
  width: 100%;
  margin: 30px 0;
  height: 48px;
  background-color: #f4f6f9;
  position: relative;
  @include cancel();

  &-input {
    width: 100%;
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }
}

.wagon-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  border-radius: 4px;
  border: 1px solid #d3dcde;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;

  &__info {
    width: 250px;

    .info {
      &__title {
        @include font(700, 24px, #28292b);
        margin-bottom: 20px;
      }

      &__data {
        display: flex;
        justify-content: space-between;
        @include font(400, 17px, #68868b);
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
    min-width: min-content;

    &-item {
      @include repiar-status(#fff, #17bc9e, #17bc9e);
      @include font(600, 15px, #17bc9e);
      height: 38px;
      border-radius: 4px;
      padding: 8px 25px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: #17bc9e;
        color: #fff;
      }

      &.send {
        @include repiar-status(#e5e8ff, #2f35bc, #2f35bc);
        @include font(600, 15px, #2f35bc);
        height: 38px;
        border-radius: 4px;
        padding: 8px 25px;
        white-space: nowrap;
      }
    }
  }
}
</style>
