<template>
  <div>
    <v-tabs class="equip__tabs" v-model="currentTab" v-if="!getIsCreateEquip">
      <v-tab class="equip__tabs-item" :ripple="false" @click="currentTab = 0">
        <span>Литые детали тележек</span>
      </v-tab>
      <v-tab class="equip__tabs-item" :ripple="false" @click="currentTab = 1">
        <span>Колесная пара</span>
      </v-tab>
    </v-tabs>
    <div class="search-field__filters" v-if="!getIsCreateEquip">
      <div class="search">
        <v-text-field
          class="filters__input search-input"
          solo
          depressed
          v-model="filterSearch"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру, названию"
        ></v-text-field>
        <div
          class="cancel"
          v-if="filterSearch"
          @click="filterSearch = null"
        ></div>
      </div>
      <div
        v-if="!isSended"
        class="add-equip__btn"
        @click="addEquip"
      >
        Добавить деталь
      </div>
    </div>
    <Table
      v-if="!isLoading"
      paginate
      :list="tableData.list"
      :columns="tableData.columns"
      paginationTitle="Деталей"
      @changeList="changeEquipList"
    >
      <div v-if="!tableData.list.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>
      <div
        v-else
        class="table-row"
        v-for="(part, index) in tableData.list.data"
        :key="index"
      >
        <div v-for="(cell, key) in part" :key="key">
          <div v-if="key === 'popup'">
            <div
              class="extra-wrapper"
              v-if="getExtraOptions(part)"
            >
              <v-btn
                class="extra-btn"
                :ripple="false"
                icon
                depressed
                @click="changeExtra(index)"
              />
              <Popup
                v-if="openExtraIdx === index"
                v-click-outside="closeExtra"
                :last="index === tableData.list.data.length - 1"
              >
                <div class="extra-content">
                  <p
                    v-for="(option, index) in getExtraOptions(part)"
                    :key="index"
                    class="extra-el"
                    @click="callExtraMethod(option, part)"
                  >
                    {{ option.name }}
                  </p>
                </div>
              </Popup>
            </div>
          </div>
          <span v-else>
            {{ cell.value || cell }}
          </span>
        </div>
        <div
          class="extra-wrapper"
          v-if="getExtraOptions(part) && currentTab === 0"
        >
          <v-btn
            class="extra-btn"
            :ripple="false"
            icon
            depressed
            @click="changeExtra(index)"
          />
          <Popup
            v-if="openExtraIdx === index"
            v-click-outside="closeExtra"
            :last="index === tableData.list.data.length - 1"
          >
            <div class="extra-content">
              <p
                v-for="(option, index) in getExtraOptions(part)"
                :key="index"
                class="extra-el"
                @click="callExtraMethod(option, part, openExtraIdx)"
              >
                {{ option.name }}
              </p>
            </div>
          </Popup>
        </div>
      </div>
    </Table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import { PopupMixin } from "@/mixins/PopupMixin";
import { partListStatus, partParameter } from "@/helpers/constants.js";

export default {
  components: {
    Table,
    Popup,
  },
  mixins: [PopupMixin],

  props: ["isLoading", "wagonId"],

  data() {
    return {
      tablePageAmount: 10,
      filterSearch: null,
      currentTab: 0,
      openExtraIdx: null,
    };
  },

  computed: {
    ...mapGetters("equip", ["getPartLists", "getBogie", "getWheels"]),
    ...mapGetters("stateHeader", ["getIsCreateEquip"]),

    isSended() {
      const partList = this.getPartLists.find(
        (item) => item.wagon_id === this.wagonId
      );
      return partList?.status?.id !== partListStatus.WAITING_MASTER_TOR;
    },

    equipType() {
      let part = "Детали тележек";
      switch (this.currentTab) {
        case 0:
          part = "Детали тележек";
          break;
        case 1:
          part = "Колесная пара";
          break;
      }
      return part;
    },

    isWheel() {
      let isWheel = false;
      switch (this.currentTab) {
        case 0:
          isWheel = false;
          break;
        case 1:
          isWheel = true;
          break;
      }
      return isWheel;
    },

    tableData() {
      let result = {};
      switch (this.currentTab) {
        case 0:
          result.columns = {
            labels: [
              "Наименование детали",
              "№ детали",
              "Код завода изготовителя",
              "Год выпуска",
              "",
            ],
            width: ["1fr", "1fr", "1fr", "1fr", "50px"],
          };
          result.list = Object.assign({}, this.getBogie);
          result.list.data = this.getBogie?.data.map((item, idx) => {
            let result = {
              name: item.part_type.name,
              id:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.SERIAL_NUMBER
                ) || "",
              plantСode:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.MFR_CODE
                ) || "",
              yearIssue:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.ISSUE_YEAR
                ) || "",
            };
            Object.defineProperty(result, "idx", {
              value: idx,
              enumerable: false,
            });
            Object.defineProperty(result, "partId", {
              value: item.id,
              enumerable: false,
            });
            return result;
          });
          break;

        case 1:
          result.columns = {
            labels: [
              "Наименование детали",
              "№ детали",
              "Код предприятия освидетельствования",
              "Дата освидетельствования",
              "Код предприятия изготовления оси",
              "Год выпуска",
              "Толщина левая, мм",
              "Толщина правая, мм",
              "Код собственника",
              "",
            ],

            width: [
              "200px",
              "200px",
              "200px",
              "200px",
              "200px",
              "200px",
              "200px",
              "200px",
              "200px",
              "50px",
            ],
          };
          result.list = Object.assign({}, this.getWheels);
          result.list.data = this.getWheels.data.map((item, idx) => {
            let result = {
              name: item.part_type.name,
              id:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.SERIAL_NUMBER
                ) || "",
              inspectionСompanyСode:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.SURVEY_CODE
                ) || "",
              inspectionDate: this.getInspectionDate(item),
              plantСode:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.MFR_CODE
                ) || "",
              yearIssue:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.ISSUE_YEAR
                ) || "",
              widthLeft:
                item.parameter.find(
                  (item) =>
                    item.parameter_id === partParameter.RIGHT_RIM_THICKNESS
                ) || "",
              widthRight:
                item.parameter.find(
                  (item) =>
                    item.parameter_id === partParameter.LEFT_RIM_THICKNESS
                ) || "",
              ownerCode:
                item.parameter.find(
                  (item) => item.parameter_id === partParameter.OWNER_CODE
                ) || "",
              popup: "",
            };
            Object.defineProperty(result, "idx", {
              value: idx,
              enumerable: false,
            });
            Object.defineProperty(result, "partId", {
              value: item.id,
              enumerable: false,
            });
            return result;
          });
          break;
      }
      return result;
    },
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateEquip"]),

    addEquip() {
      this.openCreateEquip({ isOpen: true, equipType: this.equipType });
      this.$emit("addEquip")
    },

    getInspectionDate(part) {
      let year = part.parameter.find(
        (item) => item.parameter_id === partParameter.SURVEY_YEAR
      )?.value;
      let month = part.parameter.find(
        (item) => item.parameter_id === partParameter.SURVEY_MOUNTH
      )?.value;

      if (!year && !month) {
        return "";
      }

      if (month < 10) month = "0" + month;

      return month + "." + year;
    },

    callExtraMethod(option, payload, idx) {
      if (option.method) {
        this.$emit(option.method, { data: payload, equipType: this.equipType });
      }
      this.changeExtra(idx);
    },

    getExtraOptions() {
      if (!this.isSended) {
        return [
          {
            name: "Редактировать",
            method: "editEquip",
          },
          {
            name: "Удалить",
            method: "deleteEquip",
          },
        ];
      }
      return null;
    },

    changeEquipList(payload = {}) {
      const { count, page } = payload;
      if (count) this.tablePageAmount = payload.count;
      const params = {
        page,
        count: this.tablePageAmount,
        search: this.filterSearch,
        is_wheel: this.isWheel,
      };
      this.$emit("changeList", params);
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.changeEquipList();
      }, 400);
    },
    isWheel() {
      this.changeEquipList({ isWheel: this.isWheel });
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";

.search-field__filters {
  justify-content: space-between;
  margin-bottom: 0;
}

.search {
  margin-bottom: 25px;
  width: 100%;
  height: 48px;
  background-color: #f4f6f9;
  position: relative;
  @include cancel();

  .filters__input.search-input {
    width: 100%;
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }
}

.add-equip__btn {
  @include repiar-status(#17bc9e, #17bc9e, #17bc9e);
  @include font(600, 17px, #fff);
  margin-left: 30px;
  height: 47px;
  border-radius: 4px;
  padding: 10px 25px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    transition: all 0.1s ease;
    background-color: #fff;
    color: #17bc9e;
  }
}

.equip {
  &__tabs {
    border-bottom: 2px solid #d3dcde;
    margin-bottom: 15px;

    &::v-deep {
      .v-tabs-slider-wrapper {
        z-index: 100;
      }
    }
  }
}
</style>
