<template>
  <div class="lk-container notific">
    <div class="notific-filters"></div>
    <AdminTable
      v-if="getUser.role_id === constRoles.ADMIN"
      @markNotification="markNotificationMethod"
      @markAllNotification="markAllNotificationMethod"
    />
    <NotificationMain
      v-else
      @markNotification="markNotificationMethod"
      @markAllNotification="markAllNotificationMethod"
    />
  </div>
</template>

<script>
import AdminTable from "@/components/lk/notification/AdminTable";
import NotificationMain from "@/components/lk/notification/NotificationMain";
import { mapActions, mapGetters } from "vuex";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    NotificationMain,
    AdminTable,
  },

  async asyncData({ store }) {
    await store.dispatch("notification/loadNotification", { isPage: true });
    await store.dispatch("auth/loadRoles");

    return {
      isLoading: false,
      constRoles,
    };
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),
  },

  methods: {
    ...mapActions("notification", [
      "resetState",
      "loadNotification",
      "markNotification",
      "markAllNotification",
    ]),

    async markNotificationMethod(payload = {}) {
      this.isLoading = true;
      try {
        await this.markNotification(payload);
        await this.loadNotification({ isPage: true });
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = true;
    },

    async markAllNotificationMethod() {
      this.isLoading = true;
      try {
        await this.markAllNotification();
        await this.loadNotification({ isPage: true });
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = true;
    },
  },

  beforeDestroy() {
    this.resetState();
  },
};
</script>

<style scoped lang="scss">
</style>
