<template>
  <div class="">
    <DialogModal ref="modalRegister" width="500" @close="handleCloseModal">
      <div>
        <h3>Добавление пользователя</h3>
        <Field
          v-for="(field, key, index) in registerFields"
          :key="index"
          :id="field.id"
          :ref="field.id"
          :type="field.type"
          :label="field.label"
          :actionLoader="field.actionLoader"
          :listValues="field.listValues"
          :errors="errors"
          v-model="registeredUser[field.id]"
        />
        <v-btn
          style="margin-top: 30px"
          color="primary"
          :loading="isLoading"
          @click="$emit('addUser', registeredUser)"
        >
          Зарегистрировать
        </v-btn>
      </div>
    </DialogModal>

    <DialogModal ref="modalRegisterSuccess" maxWidth="500" @close="changeModal('modalRegister', false)">
      <div class="modal">
        <div class='success-icon' />
        <h3>Пользователь зарегистрирован</h3>
        <p>
          Вы успешно создали учётную запись пользователя:
          <strong>{{ registeredUser.name }}</strong>.
        </p>
        <p>
          Мы отправим ему уведомление на почту <strong> {{ registeredUser.email }} </strong> , чтобы
          он мог задать пароль для входа в личный кабинет.
        </p>
      </div>
    </DialogModal>
  </div>
</template>

<script>
import Field from "@/components/reuse/Field";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    Field,
  },

  mixins: [DialogModalMixin],

  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    roles: {
      type: Array,
      default() {
        return {};
      },
    },
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      registeredUser: {
        name: null,
        email: null,
        phone: null,
        org_full_name: null,
        org_itn: null,
        role_id: null,
      },

      registerFields: {
        name: {
          id: "name",
          label: "Имя",
          type: "text",
        },
        email: {
          id: "email",
          label: "E-mail",
          type: "text",
        },
        phone: {
          id: "phone",
          label: "Телефон",
          type: "text",
        },
        organizationName: {
          id: "org_full_name",
          label: "Полное имя организации",
          type: "text",
        },
        inn: {
          id: "org_itn",
          label: "БИН организации",
          type: "number",
        },
        role: {
          id: "role_id",
          label: "Должность",
          type: "select",
          listValues: {},
        },
        depot: {
          id: "depot_id",
          type: "autocomplete",
          label: "Код предприятия",
          actionLoader: "dictionary/loadDepots",
          listValues: [],
        },
      },
    };
  },

  methods: {
    handleCloseModal() {
      for (const key in this.registeredUser) {
        this.registeredUser[key] = null;
      }
      for (const fieldKey in this.registerFields) {
        const fieldId = this.registerFields[fieldKey].id;
        this.$refs[fieldId][0].restoreDefault();
      }
      this.$emit("clearErrors");
    },
  },

  mounted() {
    this.registerFields.role.listValues = this.roles;
  },
  watch: {
    "registeredUser.role_id"(val) {
      if (val === constRoles.TOR_MASTER) {
        this.registerFields.station = {
          id: "station_id",
          type: "autocomplete",
          label: "Станция",
          actionLoader: "dictionary/loadStations",
          listValues: [],
        };
      } else {
        delete this.registerFields.station;
        this.registeredUser.station_id = null;
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/dialogModal";
</style>
