<template>
  <div>
    <div class="company__form">
      <div
        v-for="field in companyFields"
        :key="field.id"
        :class="{
          form__row_edit: isEdit,
          form__row: !isEdit,
        }"
      >
        <span
          class="form__field-name"
          v-if="!isEdit || (isEdit && field.editable)"
        >
          {{ field.name }}
        </span>
        <span class="form__field-value" v-if="!isEdit">
          {{ field.staticValue }}
        </span>
        <Field
          v-else-if="field.editable"
          class="form__field-input"
          :id="field.id"
          type="text"
          :errors="errors"
          v-model="editedCompany[field.id]"
        />
      </div>
      <span class="form__edit edit-btn" v-if="!isEdit" @click="isEdit = true">
        <img
          class="edit-btn__img"
          src="/img/lk/personal/pencil.svg"
          alt="pencil"
        />
        <span class="edit-btn__label">Редактировать</span>
      </span>
      <div class="form__edit" v-else>
        <v-btn
          class="edit-btn_save"
          color="primary"
          depressed
          :loading="isLoading"
          :disabled="isBlockEdit"
          @click="updateOrgMethod"
        >
          Сохранить
        </v-btn>
        <v-btn
          class="btn--black-text edit-btn_cancel"
          outlined
          depressed
          @click="closeForm()"
        >
          Отменить
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Field from "@/components/reuse/Field";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    Field,
  },
  asyncData({ store }) {
    const user = store.getters["auth/getUser"];
    return {
      isLoading: false,
      errors: {},
      isEdit: false,
      editedCompany: { ...user.organization },
    };
  },
  methods: {
    ...mapActions("user", ["updateUser"]),
    ...mapActions("auth", ["loadAuthUser"]),
    ...mapActions("organization", ["updateOrg"]),

    async updateOrgMethod() {
      this.isLoading = true;
      this.errors = {};
      try {
        await this.updateOrg(this.editedCompany);
        await this.loadAuthUser();
        this.isEdit = false;
      } catch (error) {
        this.errors = error.response.data;
      }
      this.isLoading = false;
    },

    closeForm() {
      this.editedCompany = { ...this.getUser.organization };
      this.isEdit = false;
      this.errors = {};
    },
  },
  computed: {
    ...mapGetters("auth", ["getUser"]),
    companyFields() {
      const fieldResult = [
        {
          id: "full_name",
          name: "Название компании",
          staticValue: this.getUser.organization.full_name,
          editable: true,
        },
        {
          id: "itn",
          name: "БИН",
          staticValue: this.getUser.organization.itn,
          editable: true,
        },
        {
          id: "legal_address",
          name: "Юридический адрес",
          staticValue: this.getUser.organization.legal_address,
          editable: true,
        },
      ];

      if (this.getUser.role_id !== constRoles.ADMIN) {
        fieldResult.push({
          id: "depot_name",
          name: "Депо",
          staticValue: this.getUser.depot?.name || "Не указано",
          editable: false,
        });
      }

      if (this.getUser.role_id === constRoles.TOR_MASTER) {
        fieldResult.push({
          id: "station_name",
          name: "Станция",
          staticValue: this.getUser.station?.name || "Не указано",
          editable: false,
        });
      }

      return fieldResult;
    },
    isBlockEdit() {
      return !Object.values(this.editedCompany).every((field) => field);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/components/lkForm";

.company {
  &__form {
    margin-top: 20px;
    max-width: 770px;
    width: 100vw;
    border: 1px solid #e0e7e9;
    padding: 40px 30px;
  }
}
</style>
