<template>
  <div class="lk-container gu46">
    <div class="gu46__content content">
      <div class="search-field__filters">
        <div class="search">
          <v-text-field
            class="filters__input search-input"
            solo
            depressed
            v-model="filterSearch"
            prepend-inner-icon="custom-icon"
            placeholder="Поиск по номеру, названию"
          ></v-text-field>
          <div
            class="cancel"
            v-if="filterSearch"
            @click="filterSearch = null"
          ></div>
        </div>
        <div class="date-input">
          <input
            class="filters__select date"
            v-model="dateValue"
            type="text"
            @click.stop="isChangeDate = true"
            placeholder="Дата"
          />
          <v-date-picker
            v-if="isChangeDate"
            class="date-input__calendar"
            v-model="dates"
            range
            :first-day-of-week="1"
            locale="ru"
            :title-date-format="titleDate"
            v-click-outside="changePickerVisibility"
            tabindex="0"
          />
          <div
            class="date-input__cancel"
            v-if="!isChangeDate && dates.length"
            @click="dates = []"
          ></div>
        </div>
      </div>
      <Table
        v-if="getListGu46sForTable"
        paginate
        class="gu46__table"
        :list="getListGu46sForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="changeGu46List"
      >
        <div v-if="!getListGu46sForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <TableExpansionRow
          v-else
          v-for="(gu46, key) in getListGu46sForTable.data"
          :key="gu46.id"
          class="content-dropdown"
          :class="{ 'opened-extra': openExtraIdx === key }"
        >
          <template v-slot:header>
            <div></div>
            <div v-for="(cellText, keyGu46) in gu46" :key="keyGu46">
              <span
                v-if="
                  cellText === 'btn' &&
                  getListWagonsForSubTable[key].isCloseable
                "
                class="add-wagon__btn"
                @click.stop="$emit('closeGu46', [gu46.id])"
              >
                Закрыть
              </span>
              <span
                v-else-if="
                  cellText === 'btn' &&
                  !getListWagonsForSubTable[key].isCloseable
                "
                class="add-wagon__btn disabled"
              >
                Закрыть
              </span>
              <div v-else-if="['created_at'].includes(key)" class="cell-date">
                <div>
                  {{ cellText.split(" ")[0] }}
                </div>
                <div class="color-gray">
                  {{ cellText.split(" ")[1] }}
                </div>
              </div>
              <span v-else>
                {{ cellText }}
              </span>
            </div>
            <div class="extra-wrapper">
              <v-btn
                class="extra-btn"
                :ripple="false"
                icon
                depressed
                @click.stop="changeExtra(key)"
              />
              <Popup
                v-if="openExtraIdx === key"
                v-click-outside="closeExtra"
                :last="key === getListGu46sForTable.data.length - 1"
              >
                <div class="extra-content">
                  <p
                    v-for="(option, index) in getExtraOptions(gu46)"
                    :key="index"
                    class="extra-el"
                    @click.stop="callExtraMethod(option, gu46, key)"
                  >
                    {{ option.name }}
                  </p>
                </div>
              </Popup>
            </div>
          </template>
          <template v-slot:content>
            <SubTable
              :columnList="subtableTitlesList"
              :contentList="getListWagonsForSubTable[key].data"
              :deletable="gu46.closing_date === 'btn'"
              @delete="
                (payload) =>
                  $emit('deleteWagon', {
                    wagon_id: payload.id,
                    gu46_id: gu46.id,
                  })
              "
            />
            <button
              class="content-dropdown__btn"
              v-if="gu46.closing_date === 'btn'"
              @click="$emit('chooseGu46', { id: gu46.id })"
            >
              <span class="content-dropdown__btn-img">
                <img src="@/static/img/lk/vu7x/addBtnCross.svg" alt="add" />
              </span>
              Добавить вагон
            </button>
          </template>
        </TableExpansionRow>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import SubTable from "@/components/reuse/SubTable";
import TableExpansionRow from "@/components/reuse/TableExpansionRow";
import { PopupMixin } from "@/mixins/PopupMixin";

import { titleDate } from "@/utils/calendarTitleFormat";

export default {
  components: {
    Table,
    SubTable,
    TableExpansionRow,
    Popup,
  },

  mixins: [PopupMixin],

  props: {
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      isLoading: false,
      tablePageAmount: 10,
      page: 1,
      openExtraIdx: null,
      filterSearch: "",
      filterDate: "",
      isChangeDate: false,
      dates: [],
      subtableTitlesList: [
        "№ вагона",
        "Собственник",
        "Дата ВУ-23",
        "Дата ВУ-80",
        "Дата ВУ-36",
        "Дата ВУ-81",
      ],
    };
  },

  computed: {
    ...mapGetters("gu46", ["getListGu46sForTable", "getListWagonsForSubTable"]),
    tableColumns() {
      return {
        labels: [
          "",
          "№ ведомости",
          "Дата открытия",
          "Кол-во вагонов",
          "Дата закрытия",
          "",
        ],
        width: ["40px", "1fr", "1fr", "1fr", "1fr", "40px"],
      };
    },
    dateValue() {
      if (
        new Date(this.dates[0]).getTime() >= new Date(this.dates[1]).getTime()
      )
        this.dates.reverse();
      return this.dates.join(" ~ ");
    },
  },
  watch: {
    filterSearch() {
      this.$emit("changeList", { search: this.filterSearch });
    },
    dateValue() {
      this.$emit("changeList", { date: this.dates });
    },
    dateValue() {
      this.changeGu46List();
    },
  },
  methods: {
    titleDate,

    changePickerVisibility() {
      if (this.isChangeDate) {
        this.isChangeDate = !this.isChangeDate;
      }
    },
    changeGu46List(payload = {}) {
      const { page, count } = payload;
      if (page) this.page = page;
      if (count) this.tablePageAmount = count;
      const params = {
        page: this.page,
        count: this.tablePageAmount,
        search: this.filterSearch,
        left_date: this.dates[0],
        right_date: this.dates[1],
      };
      this.$emit("changeList", params);
    },

    callExtraMethod(option, payload, idx) {
      if (option.method) this.$emit(option.method, payload, option.payload);
      if (option.method === "deleteGu46") this.changeExtra(idx);
    },

    getExtraOptions(gu46) {
      const result = [
        {
          name: "Скачать файл ГУ-46",
          method: "downloadGu46Doc",
        },
      ];

      if (gu46.closing_date === "btn") {
        result.push({
          name: "Удалить",
          method: "deleteGu46",
        });
      }

      return result;
    },
  },
};
</script>


<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";
@import "@/assets/styles/components/searchField";

.delete {
  cursor: pointer;
  background-image: url("/img/components/subTable/delete.svg");
  background-position: center;
  width: 20px;
  height: 20px;
}
.cell-date {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 72px;
}

.search-field__filters {
  .search {
    margin-bottom: 0;
    width: 80%;
    margin-right: 30px;
    height: 48px;
    background-color: #f4f6f9;
    position: relative;
    @include cancel();
    &-input {
      width: 100%;
    }
  }
}

.date-input {
  position: relative;
  .date {
    width: 292px;
    background-color: #f4f6f9;
    &-input {
      position: relative;
      &__calendar {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1000;
        border: 1px solid #000;
      }
      &__cancel {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("/img/components/subTable/delete.svg");
      }
    }
  }
}

.color-gray {
  @include font(400, 13px, #68868b);
}
.add-wagon__btn {
  @include repiar-status(#fff, #17bc9e, #17bc9e);
  @include font(600, 15px, #17bc9e);
  border-radius: 4px;
  padding: 11px 20px;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: #17bc9e;
    color: #fff;
  }

  &.disabled {
    cursor: auto;
    @include repiar-status(#dae9ec, #97a6a9, #97a6a9);
    border-radius: 4px;
    padding: 11px 20px;
    white-space: nowrap;
  }
}
</style>
