<template>
  <div class="gu46-wagon">
    <div class="search-field__filters">
      <div class="search-input">
        <v-text-field
          class="filters__input"
          solo
          depressed
          v-model="filterSearch"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру, названию"
        ></v-text-field>
        <div
          class="cancel"
          v-if="filterSearch"
          @click="filterSearch = null"
        ></div>
      </div>
      <div class="owner-input">
        <Field
          class="filters__input"
          type="autocomplete"
          actionLoader="gu46/getWagonOwner"
          :listValues="listOwners"
          placeholder="Собственик"
          v-model="filterOwner"
        />
        <div class="cancel" v-if="filterOwner" @click="filterOwner = ''"></div>
      </div>
      <div class="date-input">
        <input
          class="filters__select date"
          v-model="dateValue"
          type="text"
          @click.stop="isChangeDate = true"
          placeholder="Дата"
        />
        <v-date-picker
          v-if="isChangeDate"
          class="date-input__calendar"
          v-model="dates"
          :first-day-of-week="1"
          :title-date-format="titleDate"
          locale="ru-RU"
          range
          v-click-outside="changePickerVisibility"
          tabindex="0"
        />
        <div
          class="date-input__cancel"
          v-if="!isChangeDate && dates.length"
          @click="dates = []"
        ></div>
      </div>
      <div class="registry-input">
        <Field
          class="filters__input"
          type="select"
          placeholder="Реестр"
          v-model="filterRegistry"
          :listValues="listDocuments"
        />
        <div
          class="cancel"
          v-if="filterRegistry"
          @click="filterRegistry = null"
        ></div>
      </div>
    </div>
    <div
      class="gu46-wagon__btn"
      v-if="idsCheckedWagons.length"
      @click="$emit('addToGu46', idsCheckedWagons)"
    >
      <div class="gu46-wagon__btn-img">
        <span class="gu46-wagon__btn-img_plus"></span>
      </div>
      <p>Добавить в ГУ-46</p>
    </div>
    <Table
      paginate
      :list="getListWagons"
      :columns="tableColumns"
      paginationTitle="Документов"
      @changeList="changeWagonList"
      @sort="sort"
    >
      <div v-if="!getListWagons.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>
      <div
        v-else
        class="table-row"
        v-for="wagonRow in getListWagons.data"
        :key="wagonRow.id"
      >
        <div>
          <input
            type="checkbox"
            class="checkbox"
            v-model="checkedWagons[wagonRow.id]"
            :disabled="!!wagonRow.gu46_id"
            @click="changeCheckedWagons(wagonRow.id)"
          />
        </div>
        <div v-for="(cell, key) in wagonRow" :key="key">
          <span
            v-if="cell === 'btn'"
            class="add-wagon__btn"
            @click="$emit('addToGu46', [wagonRow.id])"
          >
            Добавить в ГУ-46
          </span>
          <div
            v-else-if="
              cell !== getAltDate &&
              ['vu23_at', 'vu80_at', 'vu36_at', 'vu81_at', 'gu46_at'].includes(
                key
              )
            "
            class="cell-date"
          >
            <div>
              {{ cell.split(" ")[0] }}
            </div>
            <div class="color-gray">
              {{ cell.split(" ")[1] }}
            </div>
          </div>
          <span
            v-else-if="cell === getAltDate"
            :class="{ 'color-gray': cell === getAltDate }"
          >
            {{ cell }}
          </span>
          <span v-else>
            {{ cell }}
          </span>
        </div>
      </div>
    </Table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";

import { titleDate } from "@/utils/calendarTitleFormat"

export default {
  components: {
    Field,
    Table,
  },
  props: {
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
    isAddedWagon: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      countOnPage: 15,
      page: 0,
      sortBy: null,
      idsCheckedWagons: [],
      filterSearch: "",
      filterOwner: "",
      filterDate: "",
      filterRegistry: null,
      checkedWagons: {},
      typeInputDate: "text",
      isChangeDate: false,
      dates: [],
      listOwners: [],
      listDocuments: [
        {
          text: "ВУ-23",
          value: "vu23",
        },
        {
          text: "ВУ-80",
          value: "vu80",
        },
        {
          text: "ВУ-36",
          value: "vu36",
        },
        {
          text: "ВУ-81",
          value: "vu81",
        },
        {
          text: "ГУ-46",
          value: "gu46",
        },
      ],
    };
  },
  computed: {
    ...mapGetters("gu46", ["getListWagons", "getAltDate"]),

    tableColumns() {
      return {
        labels: [
          "",
          "№ вагона",
          "Собственник",
          "Дата ВУ-23",
          "Дата ВУ-80",
          "Дата ВУ-36",
          "Дата ВУ-81",
          "№ ведомости",
          "Дата ведомости",
        ],
        width: ["40px", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr"],
        sorted: [3, 4, 5, 6, 8],
      };
    },
    dateValue() {
      if (
        new Date(this.dates[0]).getTime() >= new Date(this.dates[1]).getTime()
      )
        this.dates.reverse();
      return this.dates.join(" ~ ");
    },
  },
  methods: {
    titleDate,

    sort(idx) {
      switch (idx) {
        case 3:
          this.sortBy = "vu23";
          break;
        case 4:
          this.sortBy = "vu80";
          break;
        case 5:
          this.sortBy = "vu36";
          break;
        case 6:
          this.sortBy = "vu81";
          break;
        case 8:
          this.sortBy = "gu46";
          break;
        default:
          this.sortBy = false;
          break;
      }
      this.changeWagonList();
    },

    changeCheckedWagons(wagonId) {
      if (this.checkedWagons[wagonId]) {
        this.idsCheckedWagons = this.idsCheckedWagons.filter(
          (item) => item !== wagonId
        );
      } else {
        this.idsCheckedWagons.push(wagonId);
      }
    },

    changeWagonList(payload = {}) {
      const { page, count } = payload;
      if (page) this.page = page;
      if (count) this.countOnPage = count;
      const params = {
        page: this.page,
        count: this.countOnPage,
        sortBy: this.sortBy,
        search: this.filterSearch,
        owner: this.filterOwner,
        left_date: this.dates[0],
        right_date: this.dates[1],
        registry: this.filterRegistry,
      };
      this.$emit("changeList", params);
    },

    changePickerVisibility() {
      if (this.isChangeDate) {
        this.isChangeDate = !this.isChangeDate;
      }
    },
  },
  watch: {
    filterSearch() {
      this.changeWagonList();
    },
    filterOwner() {
      this.changeWagonList();
    },
    dateValue() {
      this.changeWagonList();
    },
    filterRegistry() {
      this.changeWagonList();
    },
    getListWagons() {
      this.getListWagons.data.forEach((item) => {
        this.checkedWagons = { [item.id]: false, ...this.checkedWagons };
      });
    },
    isAddedWagon() {
      for (const key in this.checkedWagons) {
        this.checkedWagons[key] = false;
      }
      this.idsCheckedWagons = [];
    },
  },
  mounted() {
    this.getListWagons.data.forEach((item) => {
      this.checkedWagons = { [item.id]: false, ...this.checkedWagons };
    });
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/mixins";

.gu46-wagon {
  .search-field__filters {
    .filters__input {
      width: 234px;
      &:last-child {
        margin-right: 0;
      }
    }
    .filters__input {
      width: 100%;
    }
    .date {
      margin-right: 30px;
      width: 292px;
      background-color: #f4f6f9;
      &-input {
        position: relative;
        &__calendar {
          position: absolute;
          top: 50px;
          left: 0;
          border: 1px solid #000;
          z-index: 1;
        }
        &__cancel {
          position: absolute;
          top: 18px;
          right: 45px;
          width: 16px;
          height: 16px;
          background-image: url("/img/components/subTable/delete.svg");
        }
      }
    }
    .search {
      &-input {
        margin-bottom: 0;
        width: 40%;
        margin-right: 30px;
        height: 48px;
        background-color: #f4f6f9;
        position: relative;
        @include cancel();
      }
    }
    .owner {
      &-input {
        margin-bottom: 0;
        width: 20%;
        height: 48px;
        margin-right: 30px;
        background-color: #f4f6f9;
        position: relative;
        @include cancel();
        .filters__input {
          ::v-deep {
            .custom-icon {
              background-image: none;
            }
          }
        }
      }
    }
    .registry {
      &-input {
        margin-bottom: 0;
        width: 20%;
        height: 48px;
        background-color: #f4f6f9;
        position: relative;
        @include cancel();
        .filters__input {
          ::v-deep {
            .custom-icon {
              background-image: none;
            }
          }
        }
      }
    }
  }
  &__btn {
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    width: 160px;
    margin-bottom: 20px;
    @include font(600, 15px, #17bc9e);
    &-img {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      background-color: #17bc9e;
      border-radius: 50%;
      margin-right: 15px;
      &_plus {
        display: inline-block;
        text-align: center;
        padding: 5px;
        background-image: url("/img/lk/addBtnCheck.png");
        background-position: -1px 0;
        margin: 0 auto;
        width: 12px;
        height: 13px;
      }
    }
  }
  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #d2dddf;
    margin: 0 auto;
    display: inline-block;
    &:checked::after {
      content: " ";
      background-image: url("/img/input/accept-box.svg");
      background-position: -5px -4px;
      color: #2aa7c3;
      border: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      visibility: visible;
      border-radius: 2px;
    }
  }
  .add-wagon__btn {
    @include repiar-status(#fff, #17bc9e, #17bc9e);
    @include font(600, 15px, #17bc9e);
    border-radius: 4px;
    padding: 11px 20px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background-color: #17bc9e;
      color: #fff;
    }
  }
  .cell-date {
    text-align: left;
    width: 72px;
    display: block;
    margin: 0 auto;
  }
  .color-gray {
    @include font(400, 13px, #68868b);
  }
}
</style>