.modal {
  &-img {
    display: block;
    margin: 0 auto 18px;
  }

  .title {
    margin-bottom: 35px;
  }
  .title--center {
    text-align: center;
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 10px;
    text-align: center;
  }
  .btn {
    margin-top: 20px;
    width: 100%;
  }
  .success-icon {
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("/img/lk/vu7x/modalOK.svg");
    background-position: center;
    background-size: 40px;
  }
  .error-icon {
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("/img/lk/error.svg");
    background-position: center;
    background-size: 40px;
  }
}
