.form {
    max-width: 770px;
    margin-top: 50px;
    border: 1px solid #e0e7e9;
    border-radius: 6px;
    padding: 30px 40px;
    min-width: 770px;
  
    &__title {
      @include font(700, 24px, #28292b);
      margin-bottom: 23px;
    }
  
    &__row {
      display: flex;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #e0e7e9;
  
      &_edit {
        border: none;
        margin-bottom: 20px;
      }
    }
    &__field {
      &-name {
        @include font(400, 17px, #6e8b90);
        width: 20%;
      }
      &-value {
        @include font(400, 17px, #28292b);
        width: 80%;
      }
      &-input {
        display: block;
        width: 90%;
        margin-top: 10px;
      }
    }
    &__edit {
      display: flex;
      align-items: center;
      max-width: fit-content;
      cursor: pointer;
      width: 100%;
      height: fit-content;
      margin-top: 30px;
      .edit-btn__img {
        margin-right: 23px;
        width: 15px;
        height: 15px;
      }
      .edit-btn__label {
        @include font(600, 17px, #23c1a5);
      }
    }
  }
  .edit-btn_save.v-btn {
    display: block;
    padding: 12px 25px;
    margin-right: 15px;
    height: 46px;
    width: 132px;
  }
  
  .edit-btn_cancel.v-btn {
    display: block;
    padding: 12px 25px;
    border: 1px solid #97b0b5;
    border-radius: 4px;
    height: 46px;
    width: 126px;
  }