@import "@/assets/styles/mixins";

.search-field {
    &__filters {
      margin: 30px 0;
      display: flex;
      align-self: center;
      &__title {
        @include font(700, 32px, #28292b);
      }
      .filters__input {
        margin-right: 30px;
        width: 50%;
        ::v-deep {
          .custom-icon {
            height: 20px;
            width: 20px;
            background-image: url("/img/input/search.svg");
          }
        }
      }
      .filters__select {
        width: 190px;
        background-color: #f5f7f8;
        border: 1px solid #d2dddf;
        border-radius: 4px;
        height: 48px;
        padding: 0 10px;
        width: 20%;
      }
      .add-btn {
        min-height: 48px;
      }
    }
  }