@import "@/assets/styles/mixins";

.status {
    &-1 {
      @include repiar-status(#fff2da, #dd9300, #dd9300);
    }
    &-2 {
      @include repiar-status(#daf1ff, #2293d3, #2293d3);
    }
    &-3 {
      @include repiar-status(#e5e8ff, #2f35bc, #2f35bc);
    }
  }
  
  .content-dropdown {
    border-top: 1px solid #d3dcde;
    &__btn {
      margin: 20px 0 20px 70px;
      display: block;
      @include font(600, 15px, #17bc9e);
      &-img {
        display: inline-flex;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #17bc9e;
        margin-right: 15px;
        background-image: url('@/static/img/lk/vu7x/addBtnCross.svg');
        background-position: 50% 50%;
        img {
          margin: 0 auto;
        }
      }
    }
    &.opened-extra {
      transition: all 0.6s ease;
      ::v-deep {
        .exparsion-row__panel {
          z-index: 10;
        }
      }
    }
  }
  
  .color-gray {
    color: #97a6a9;
  }
  .green-massage {
    padding: 8px 20px;
    border: 1px solid #17bc9e;
    border-radius: 4px;
    color: #17bc9e;
    font-weight: 600;
    font-size: 15px;
    &:hover {
      transition: all 0.1s ease;
      background-color: #17bc9e;
      color: #fff;
    }
    &:active {
      background-color: darken($color: #17bc9e, $amount: 10);
    }
  }

  .disabled-massage {
    background-color: #dae9ec;
    border: 1px solid #97a6a9;
    color: #97a6a9;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
  }

  .purple-massage {
    padding: 5px 10px;
    background-color: #e5e8ff;
    border-radius: 4px;
    color: #2f35bc;
    font-weight: 600;
    font-style: 15px;
  }