<template>
  <div class="lk-container search-field">
    <DialogModal ref="modalSignSuccess" width="500px">
      <div class="modal">
        <div class="success-icon" />
        <p class="description">
          Вы успешно подписали документ ВУ-23 от {{ getCurrentDate() }}.
        </p>
        <p class="description">
          Документ зарегистрирован и будет храниться в системе Цифровой ТОР.
        </p>
      </div>
    </DialogModal>

    <DialogModal ref="modalAddedWagon" width="500px">
      <div class="modal">
        <div class="success-icon" />
        <p class="description">Вагон успешно добавлен</p>
      </div>
    </DialogModal>

    <div class="search-field__content">
      <div class="search-field__filters">
        <v-text-field
          v-model="filterSearch"
          class="filters__input"
          solo
          depressed
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру, названию"
        ></v-text-field>
        <Field
          class="form__select"
          type="select"
          :listValues="vu23Status"
          v-model="vu23FilterStatus"
        />
        <Field 
          v-if="isTMorWO"
          class="form__select"
          type="select"
          :listValues="applicationStatus"
          v-model="applicationFilterStatus"
        />
        <div class="date-input">
          <input
            class="filters__select date"
            v-model="filterDate"
            type="text"
            @click.stop="isChangeDate = true"
            placeholder="Дата"
          />
          <v-date-picker
            v-if="isChangeDate"
            class="date-input__calendar"
            v-model="filterDate"
            v-click-outside="changePickerVisibility"
            tabindex="0"
            :first-day-of-week="1"
            locale="ru"
          />
          <div
            class="date-input__cancel"
            v-if="filterDate"
            @click="filterDate = ''"
          ></div>
        </div>
      </div>

      <Table
        v-if="vu23Response"
        paginate
        :list="listForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="loadVu23Method"
      >
        <div v-if="!listForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <div
          v-else
          class="table-row"
          v-for="(vu23Row, index) in listForTable.data"
          :key="vu23Row.id"
        >
          <div v-for="(cell, key) in vu23Row" :key="key">
            <span v-if="key === 'status'" :class="'status-' + cell.id">
              {{ cell.name }}
            </span>
            <span v-else>
              {{ cell }}
            </span>
          </div>
          <div class="extra-wrapper">
            <v-btn
              class="extra-btn"
              :ripple="false"
              icon
              depressed
              @click="changeExtra(index)"
            />
            <Popup
              v-if="openExtraIdx === index"
              v-click-outside="closeExtra"
              :last="index === listForTable.data.length - 1"
            >
              <div class="extra-content">
                <p
                  v-for="(option, index) in getExtraOptions(vu23Row)"
                  :key="index"
                  class="extra-el"
                  @click="callExtraMethod(option, vu23Row)"
                >
                  {{ option.name }}
                </p>
              </div>
            </Popup>
          </div>
        </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Popup from "@/components/reuse/Popup";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import { PopupMixin } from "@/mixins/PopupMixin";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import { getCurrentDate } from "@/utils/getDate";
import {
  roles as constRoles,
  docType as constDocType,
} from "@/helpers/constants.js";

export default {
  components: {
    Popup,
    Field,
    Table,
  },

  mixins: [PopupMixin, DialogModalMixin],

  async asyncData({ store }) {
    let vu23Response = await store.dispatch("vu23/loadVu23");

    return {
      currentTab: 0,
      isLoading: false,
      tablePageAmount: 10,
      debounce: null,
      openExtraIdx: null,
      ncalayerClient: false,
      isChangeDate: false,

      filterSearch: "",
      vu23FilterStatus: "Неважно",
      applicationFilterStatus: "Неважно",
      filterDate: "",
      vu23Response: vu23Response.data,
      params: {},
      errors: {},
      vu23Status: [
        "Неважно",
        "Планируется в ТОР",
        "В ходе выполнения ТОР",
        "Вышел из ТОР",
      ],
      applicationStatus: [
        "Неважно",
        "Не загружена",
        "Направлена в ремонт",
        "Ремонт выполнен",
      ]
    };
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),
    isTMorWO() {
      return this.getUser.role_id === constRoles.TOR_MASTER 
        || this.getUser.tole_id === constRoles.WAGON_OPERATOR;
    },
    tableColumns() {
      const columns = {
        labels: [
          "№ вагона",
          "Дата",
          "Тип вагона",
          "Собственник",
          "Заявка",
          "Статус ремонта",
          "Статус заявки",
          "",
        ],
        width: ["90px", "1fr", "1fr", "1fr", "1fr", "240px", "1fr", "50px"],
      };

      if (!this.isTMorWO) {
        columns.labels.splice(4, 1);
        columns.width.splice(4, 1);
      }

      return columns;
    },

    listForTable() {
      const result = Object.assign({}, this.vu23Response);
      const data = this.vu23Response.data.map((item) => {
        let result = {
          wagon_num: item.wagon.wagon_num,
          date: item.created_at,
          wagon_type: item.wagon.type.name,
          owner_name: item.wagon.owner_name,
          application_status: item.application.status.name,
          status: item.status,
          sign_status: item.signs.length ? "Подписано" : "Требует подписания",
        };
        if (!this.isTMorWO) {
          delete result.application_status
        }
        Object.defineProperty(result, "id", {
          value: item.id,
          enumerable: false,
        });
        Object.defineProperty(result, "documents", {
          value: item.documents,
          enumerable: false,
        });
        Object.defineProperty(result, "signs", {
          value: item.signs,
          enumerable: false,
        });
        Object.defineProperty(result, "vu78_ids", {
          value: item.wagon.vu78_ids,
          enumerable: false,
        });
        Object.defineProperty(result, "application", {
          value: item.application.file,
          enumerable: false,
        });

        return result;
      });

      result.data = data;
      return result;
    },
  },

  methods: {
    ...mapActions("vu23", ["loadVu23", "downloadVu23Doc", "signVu23"]),
    ...mapActions("vu7x", ["addWagonToVu78"]),
    ...mapActions("wagon", ["downloadApplication"]),

    getCurrentDate,

    callExtraMethod(option, payload) {
      if (option.method) this[option.method](payload, option.payload);
    },

    changePickerVisibility() {
      if (this.isChangeDate) {
        this.isChangeDate = !this.isChangeDate;
      }
    },

    getExtraOptions(vu23) {
      const result = [
        {
          name: "Скачать файл ВУ-23",
          method: "downloadVu23DocMethod",
        },
      ];

      const isSigned = vu23.signs.length;

      const canSigned = vu23.signs.some(
        (sign) => sign.user_id === this.getUser.id
      );

      if (this.isTMorWO && vu23.application) {
        result.push({
          name: "Скачать заявку",
          method: "downloadApplicationMethod",
        })
      }

      if (isSigned) {
        result.push({
          name: "Скачать архив документов",
          method: "downloadVu23DocMethod",
          payload: "archive",
        });
      }

      if (this.getUser.role_id === constRoles.WAGON_OPERATOR && !canSigned) {
        result.push({
          name: "Подписать",
          method: "signVu23Method",
        });
      }

      if (
        this.getUser.role_id === constRoles.TOR_MASTER &&
        !vu23.vu78_ids.length
      ) {
        result.push({
          name: "Добавить в ВУ-78",
          method: "addWagonToVu78Method",
        });
      }

      return result;
    },

    createRequestParams(payload) {
      const { page, count } = payload;
      if (count) this.tablePageAmount = payload.count;
      this.params = {
        page,
        count: this.tablePageAmount,
        search: this.filterSearch,
        vu23Status: this.vu23Status.findIndex((item) => item === this.vu23FilterStatus),
        applicationStatus: this.applicationStatus.findIndex((item) => item === this.applicationFilterStatus),
        date: this.filterDate,
      };
    },

    async loadVu23Method(payload = {}) {
      try {
        this.createRequestParams(payload);
        const response = await this.loadVu23(this.params);
        this.vu23Response = response.data;
      } catch (error) {
        console.warn(error);
      }
    },

    async signVu23Method(vu23) {
      this.isLoading = true;
      try {
        const currentDocument = vu23.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );
        const uuid = currentDocument.file_id;
        const requestData = { uuid };
        const documentBase64 = await this.downloadVu23Doc({
          vu23_id: vu23.id,
          file_id: uuid,
          format: "base64",
          isNotBlob: true,
        });
        requestData.sig = await ncaLayerSign(documentBase64);
        await this.signVu23({
          vu23_id: vu23.id,
          requestData,
        });
        this.changeModal("modalSignSuccess");
        await this.loadVu23Method(this.params);
        this.openExtraIdx = null;
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async downloadVu23DocMethod(vu23, format = null) {
      this.isLoading = true;
      try {
        const mainFormDoc = vu23.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );
        const response = await this.downloadVu23Doc({
          vu23_id: vu23.id,
          file_id: mainFormDoc.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-23 №${vu23.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu23.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-23 №${vu23.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async downloadApplicationMethod (vu23) {
      try {
        const response = await this.downloadApplication(vu23.id);
        const fileName = vu23.application.file_name;
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (e) {
        console.warn(e);
      }
    },

    async addWagonToVu78Method(vu23) {
      this.isLoading = true;
      try {
        await this.addWagonToVu78({ vu23_id: vu23.id });
        this.changeModal("modalAddedWagon");
        this.openExtraIdx = null;
        await this.loadVu23Method(this.params);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    startPolling() {
      this.polling = setInterval(async () => {
        try {
          await this.loadVu23Method(this.params);
        } catch (error) {
          console.warn(error);
        }
      }, 10000);
    },
  },

  mounted() {
    this.loadVu23Method();
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {
    this.startPolling();
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadVu23Method();
      }, 400);
    },
    filterDate() {
      if (
        this.filterDate.match(/^\d{4}([./-])\d{2}\1\d{2}$/) ||
        !this.filterDate
      ) {
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
          this.loadVu23Method();
        }, 400);
      } else {
        this.filterDate = "";
      }
    },
    vu23FilterStatus() {
      this.loadVu23Method();
    },
    applicationFilterStatus() {
      this.loadVu23Method();
    },
  },
};
</script>


<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";
@import "@/assets/styles/components/dialogModal";

.search-field__title {
  @include font(700, 32px, #28292b);
}

.search-field__filters {
  column-gap: 30px;
  .filters__input {
    margin-right: 0;
  }
}

.date {
  width: 292px;
  background-color: #f4f6f9;

  &-input {
    position: relative;

    &__calendar {
      position: absolute;
      top: 50px;
      left: 0;
      border: 1px solid #000;
      z-index: 5;
    }

    &__cancel {
      position: absolute;
      top: 18px;
      right: 15px;
      width: 16px;
      height: 16px;
      background-image: url("/img/components/subTable/delete.svg");
    }
  }
}

.search-field__filters .filters__select.date, .form__select {
  width: 262px;
}
</style>
