<template>
    <vl-feature :id="'points_' + index" class="point">
        <vl-geom-point
                :coordinates="depotInfo.coordinates">
        </vl-geom-point>
        <vl-style-box :z-index="zIndex">
            <vl-style-icon
                    :anchor="[0.5, 46]"
                    anchorXUnits="fraction"
                    anchorYUnits="pixels"
                    :src="activeIcon"/>
        </vl-style-box>
    </vl-feature>
</template>

<script>
    import mapPoint from '@/static/img/mainPage/maps/marker.svg';
    import mapPointBlue from '@/static/img/mainPage/maps/markerActive.svg';

    export default {
        name: 'point',
        data: function() {
          return {
              icon: mapPoint,
              blueIcon: mapPointBlue,
              activeIcon: "",
              isSelected: false
          }
        },
        computed: {
            zIndex: function () {
                return (this.activeDepoIndex === this.index) ? 1 : 0;
            }
        },
        props: {
            depotInfo: Object,
            index: Number,
            activeDepoIndex: Number
        },
        mounted: function () {
            this.activeIcon = this.icon;
        },
        watch: {
            activeDepoIndex: function (value) {
                this.activeIcon = (value === this.index) ? this.blueIcon : this.icon;
                this.isSelected = (value === this.index);
            }
        }
    }
</script>

<style>
    .point {
        cursor: pointer;
    }
    .selected-icon {
        z-index: 100;
    }
</style>