<template>
  <vl-overlay
    :position="depotInfo.coordinates"
    v-show="show"
    id="popup"
    positioning="top-center"
  >
    <template slot-scope="scope">
      <div class="depot-info">
        <strong> Наименование пункта ТОР </strong>
        <div class="depot-info-title">{{ depotInfo.name }}</div>
        <strong> Название станции примыкания </strong>
        <div class="depot-info-title">{{ depotInfo.station }}</div>
        <strong> Код станции </strong>
        <div class="depot-info-title">{{ depotInfo.code }}</div>
        <div class="depot-info__close-button" @click="closePopup">
          <i class="mdi mdi-close"></i>
        </div>
      </div>
    </template>
  </vl-overlay>
</template>

<script>
export default {
  name: "popup",
  props: {
    depotInfo: Object,
    show: Boolean,
  },
  methods: {
    closePopup() {
      this.$emit("closePopup");
    },
  },
};
</script>

<style scoped lang="scss">
.depot-info {
  width: 310px;
  background: white;
  border: 1px solid rgba(235, 235, 235, 0.6);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.12), 0 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 20px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #161c2b;
  position: relative;
  .legend {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: #9eadb4;
    &-item {
      .circle {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .depot-info-title {
    font-size: 18px;
  }
  .no-detals {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #9eadb4;
    margin-top: 7px;
  }
  .circle {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .red-circle {
    background: #ff636c;
  }
  .green-circle {
    background: #29c171;
  }
  .details-list {
    margin-top: 10px;
  }
  .detail-price {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #616470;
  }
  &_gray {
    color: #9eadb4;
    font-size: 14px;
  }

  &_count {
    color: #616470;
    font-size: 14px;
    font-family: Roboto, sans-serif;
  }

  &__scroll {
    max-height: 180px;
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #9eadb4;
    font-size: 20px;
    padding: 13px;
    cursor: pointer;
  }
}
</style>