<template>
  <vl-map
    :load-tiles-while-animating="true"
    :load-tiles-while-interacting="true"
    data-projection="EPSG:4326"
    :style="'cursor: ' + (pointer ? 'pointer' : 'default')"
    @singleclick="togglePopup"
    @pointermove="cursorPointer"
    @pointerdrag="closePopup"
    class="map"
    @created="mapCreated"
    ref="map"
  >
    <vl-view
      :zoom.sync="zoom"
      :center.sync="center"
      :rotation.sync="rotation"
    />

    <vl-layer-tile id="OpenRailwayMap" :visible="true" :z-index="1">
      <vl-source-xyz
        attributions='<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA 2.0</a>'
        url="https://{a-c}.tiles.openrailwaymap.org/standard/{z}/{x}/{y}.png"
        :cross-origin="null"
        :opaque="true"
        :max-zoom="19"
        :tile-pixel-ratio="2"
      >
      </vl-source-xyz>
    </vl-layer-tile>

    <vl-layer-tile id="osm" :z-index="0">
      <vl-source-osm></vl-source-osm>
    </vl-layer-tile>

    <template v-for="depot in getTorForMap">
      <point
        :key="depot.id"
        v-if="showCoordinates(depot.coordinates)"
        :depotInfo="depot"
        :index="depot.id"
        :activeDepoIndex="activeDepoIndex"
      />
    </template>

    <popup
      v-if="currentDepot"
      :depotInfo="currentDepot"
      :show="showPopup"
      @closePopup="closePopup"
    />
  </vl-map>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import point from "./point";
import popup from "./popup";

export default {
  name: "RailwayMap",

  components: {
    point,
    popup,
  },

  props: ["viewportWidth"],

  data() {
    return {
      zoom: 6,
      center: [65, 48],
      rotation: 0,
      currentDepot: null,
      pointer: false,
      showPopup: true,
      activeDepoIndex: null,
      getFeatureId,
    };
  },

  computed: {
    ...mapGetters("tor", ["getTorForMap"]),
  },

  methods: {
    ...mapActions("tor", ["resetState", "loadTors"]),

    closePopup() {
      this.showPopup = false;
      this.activeDepoIndex = null;
    },

    showCoordinates(coordinates) {
      return (
        coordinates &&
        coordinates.length &&
        Number(coordinates[0]) &&
        Number(coordinates[1])
      );
    },

    togglePopup(evt) {
      this.closePopup();
      const feature = this.$refs.map.forEachFeatureAtPixel(
        evt.pixel,
        function (feature) {
          return feature;
        }
      );
      if (feature) {
        this.$refs.map.$el.children.forEach((item) => {
          if (item.classList.contains("ol-viewport")) {
            item.style.removeProperty("overflow");
          }
        });

        const featureId = this.getFeatureId(feature);
        const depotId = +featureId.slice(featureId.indexOf("_") + 1);
        this.activeDepoIndex = depotId;
        const depotIndex = this.getTorForMap.findIndex(
          (depot) => depot.id === depotId
        );
        this.currentDepot = this.getTorForMap[depotIndex];
      }
      this.showPopup = !!feature;
    },
    cursorPointer(evt) {
      const hit = this.$refs.map.forEachFeatureAtPixel(
        evt.pixel,
        function (feature, layer) {
          return true;
        }
      );
      this.pointer = !!hit;
    },

    mapCreated() {
      const wheelZoom = this.$refs.map.$map.getInteractions();
      wheelZoom.array_.splice(7, 1);
    },
  },

  watch: {
    viewportWidth() {
      if (this.viewportWidth > 1300) {
        this.zoom = 6;
      } else if (this.viewportWidth > 585) {
        this.zoom = 5;
      } else {
        this.zoom = 4.5;
      }
    },
  },

  async created() {
    await this.loadTors();
    this.currentDepot = this.getTorForMap[0];
    if (this.viewportWidth > 1300) {
      this.zoom = 6;
    } else if (this.viewportWidth > 585) {
      this.zoom = 5;
    } else {
      this.zoom = 4.5;
    }

    setTimeout(() => {
      this.showPopup = false;
    }, 300);
  },
};
</script>

<style lang="scss">
.map {
  height: 838px;
}

@media (max-width: 976px) {
  .map {
    height: 600px;
  }
}

.ol-zoom {
  top: 40%;
}
</style>