@mixin font ($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

@mixin repiar-status($bgc, $borderColor, $fontColor) {
    background-color: $bgc;
    border-radius: 95px;
    border: 1px solid $borderColor;
    padding: 5px 10px;
    color: $fontColor;
}


@mixin cancel() {
    .cancel {
        cursor: pointer;
        position: absolute;
        top: 18px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("/img/components/subTable/delete.svg");
    }
}