$grey: #e1e4e8;
$grey3: #949daf;
$grey4: #b6c0d2;
$light-grey: #f4f6f9;
$blue: #00a9c7;
$black: #222727;

$gray: #28292b;
$middleGray: #5d767b;
$grayIcon: #97b0b5;
$grayInput: #f5f7f8;
$blueLink: #066096;
$borderInput: #D2DDDF;

@import "./sourceSansPro";

* {
  font-family: "Source Sans Pro", sans-serif;
}

.v-application {
  a {
    color: $blueLink;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  .v-expansion-panel {
    margin-bottom: 0px;

    &::before {
      box-shadow: none;
    }

    &-content__wrap {
      padding: 0;
    }
  }
}

.v-btn__content {
  display: block;
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: normal;
  text-align: center;

  color: #FFFFFF;
}

// Default styles
.btn--black-text {
  border: 1px solid #97B0B5;

  .v-btn__content {

    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 600;
    line-height: 23px;
    color: $gray;
  }
}

.btn--no-padding {
  &.v-btn.v-size--default {
    min-width: 36px;
    padding: 0;

    .v-btn__content {
      display: flex;
    }
  }
}

// Custom UI
.v-input.checkbox {
  &.v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
  }

  .v-icon.notranslate.mdi.mdi-checkbox-blank-outline.theme--light {
    &::after {
      content: "";
    }

    &::before {
      content: "";
    }
  }

  .v-input--selection-controls__ripple {
    background: url("/img/lk/checkbox/off-icon.svg");

    &.primary--text {
      background: url("/img/lk/checkbox/on-icon.svg");
    }

    &,
    &.primary--text {
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

// Search bar
.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .dictionary-select {
    .v-input__slot {
      margin: 0;

      .v-select__selections {
        input {
          display: none;
        }
      }
    }
  }

  .v-select .v-icon.theme--light {
    &::before {
      content: "";
      background: url("/img/input/expand.svg");
      width: 0;
      height: 6px;
    }
  }

  .search-input {
    width: 50%;

    .v-input__slot {
      margin: 0;

      .v-text-field__slot {
        margin-left: 7px;
      }
    }

    .v-input__icon.v-input__icon--prepend-inner {
      &::before {
        content: "";
        background-image: url("/img/lk/claim/search.svg");
        position: absolute;
        width: 18px;
        height: 18px;
      }
    }
  }
}

// Custom input form
.field-input::placeholder {
  color: $middleGray;
}

.v-text-field__details {
  display: none;
}

.theme--light.v-text-field.v-text-field--solo {
  &:not(.v-text-field--solo-flat) .v-input__control .v-input__slot {
    box-shadow: none;
  }

  &.v-text-field--single-line {
    .v-input__control {
      min-height: 48px;

      .v-input__slot {
        background-color: $light-grey;
        border: 1px solid $grey;
        box-shadow: none;
      }
    }
  }
}

//Custom input phone
.field-phone.vue-tel-input {
  box-sizing: border-box;
  width: 100%;

  background: #f4f6f9;
  border: 1px solid #e1e4e8;
  border-radius: 4px;

  &:focus-within {
    box-shadow: none;
    border: 2px solid black;
  }

  &.errorInput,
  &.errorInput:focus {
    border: 1px solid red;
  }

  .vti__dropdown {
    padding: 10px 4px;
    outline: none;
    user-select: none;

    &-list {
      &.below {
        top: 40px;
      }
    }
  }
}

.v-label.theme--light {
  padding: 0 0 0 10px;
  position: relative !important;
  margin: 5px 4px 5px 0;
  color: #949daf;

  .v-text-field__details {
    display: none;
  }

  .v-input__slot {
    box-shadow: none;
    background-color: $light-grey;
    border: 1px solid $grey;
  }
}

.v-text-field.v-text-field--solo.v-input--dense>.v-input__control {
  min-height: 48px;
}

.error-message {
  color: red;
}

.theme--light.field,
.field {
  position: relative;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 21px;

  &-label {
    margin: 20px 0 20px;
    color: #949daf;
  }

  &-info {
    position: absolute;
    bottom: -20px;
    left: 50%;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    padding: 2px 5px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #68868b;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 5;
  }

  &-input {
    border: 1px solid $grey;
    border-radius: 4px;
    background: $light-grey;
    padding: 12px 20px 13px;
    width: 100%;
  }

  .number-input[type="number"] {
    -moz-appearance: textfield;
  }

  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .v-select {
    .v-select__selections {
      padding: 0 0 2px 10px;
    }

    .custom-icon {
      height: 6px;
      width: 12px;
      background-image: url("/img/input/expand.svg");
    }

    .v-input__slot fieldset {
      color: $grey !important;
      background-color: $light-grey;
      padding: 5px 0;

      .v-text-field--outlined.v-input--is-focused fieldset {
        border: 1px solid currentColor;
      }
    }
  }
}

.static {
  border-bottom: 1px solid $grey;
  display: flex;

  span {
    display: block;

    &:first-child {
      width: 30%;
    }

    &:last-child {
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .static-data {
    margin: 20px 0;
    align-self: center;
  }
}

.normal-wrap .static-data {
  white-space: normal;
}

.nowrap .static-data {
  white-space: nowrap;
}

.switch {
  &-input {
    min-height: 48px;
    background: $light-grey;
    border: 1px solid $grey;
    border-radius: 4px;
    display: flex;
  }

  &-el {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &.active {
      font-weight: bold;
      border: 3px solid $blue;
      border-radius: 4px;

      &:hover {
        color: $black;
      }
    }
  }
}

.v-autocomplete {
  .v-input__control .v-select__slot {
    input {
      padding: 0 10px;
    }
  }
}

.comment-wrapper {
  position: relative;

  input.field-input {
    padding-right: 36px;
  }

  .send-btn.v-btn.v-btn--icon.theme--light {
    position: absolute;
    right: 7px;
    top: 5px;

    img {
      transform: translate(-1px, 2px);
    }
  }
}

.change-modal {
  &.theme--light.v-input--radio-group {
    .v-label.theme--light {
      color: $black;
    }
  }
}

//datepicker
.v-date-picker-table .v-btn__content { 
  color: #000;
};

.v-date-picker-header .v-btn__content {
  color: #000;
}