<template>
  <div class="craete-vu7x">
    <div class="craete-vu7x__form form">
      <div class="craete-vu7x__bid">
        {{ vu7xId ? `Номер заявки ${vu7xId}` : `Новая заявка` }}
      </div>
      <div class="form__row">
        <span class="form__row-name"> Заявка {{ vu7xId }}</span>
        <Field
          class="form__row-input"
          type="select"
          :errors="errors"
          :disabled="!!vu7xId"
          :listValues="[
            { text: 'ВУ-78', value: 78 },
            { text: 'ВУ-79', value: 79 },
          ]"
          v-model="formType"
        />
      </div>
      <div
        v-for="(row, key, index) in vu7xFields"
        :key="index"
        class="form__row"
      >
        <template>
          <span class="form__row-name">{{ row.name }}</span>
          <Field
            :class="{ 'form__row-input': true, 'with-error': row.error }"
            :id="key"
            :type="row.type"
            :errors="errors"
            :actionLoader="row.actionLoader"
            :actionPayload="row.actionPayload"
            :listValues="row.listValues"
            :disabled="row.disabled"
            v-model="vu7xValues[key]"
          />
        </template>
      </div>
      <v-btn
        class="craete-vu7x__form-btn"
        color="primary"
        depressed
        :loading="isLoading"
        @click="sendWagon"
      >
        Добавить вагон
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Field from "../../reuse/Field";

export default {
  name: "CreateVu78",

  components: {
    Field,
  },

  props: {
    vu7xId: {
      type: Number,
      default: null,
    },
    currentTabForm: {
      type: Number,
      default: 78,
    },
    isLoading: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      isOpenModal: false,
      formType: 78,
      vu7xValues: {
        wagon_id: null,
        park_number: null,
        driveway_number: null,
        station_name: null,
        depot_name: null,
      },
      errors: { wagon_id: null, park_number: null, driveway_number: null },
    };
  },

  computed: {
    vu7xFields() {
      const resultFields = {
        wagon_id: {
          type: "autocomplete",
          name: "Номер вагона",
          actionLoader: "vu7x/loadWagonNum",
          actionPayload: { form_type: this.formType },
          listValues: [],
        },
      };

      if (this.vu7xValues.wagon_id) {
        Object.assign(resultFields, {
          station_name: {
            type: "text",
            name: "Название станции",
            disabled: true,
          },
          depot_name: {
            type: "text",
            name: "Название депо",
            disabled: true,
          },
          park_number: {
            type: "number",
            name: "Номер парка",
          },
          driveway_number: {
            type: "number",
            name: "Номер пути",
          },
        });
      }

      return resultFields;
    },
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateForm"]),
    ...mapActions("wagon", ["showWagon"]),

    sendWagon() {
      let isHasErrors = false;
      for (const key in this.errors) {
        this.errors[key] = null;
      }

      const requestPayload = {
        wagon_id: this.vu7xValues.wagon_id,
        park_number: this.vu7xValues.park_number,
        driveway_number: this.vu7xValues.driveway_number,
      };

      for (const key in requestPayload) {
        if (!requestPayload[key]) {
          isHasErrors = true;
          this.errors[key] = ["Поле обязательно для заполнения."];
        }
      }

      if (!isHasErrors) {
        this.$emit("sendData", requestPayload);
      }
    },

    async showWagonMethod() {
      try {
        const response = await this.showWagon({
          wagon_id: this.vu7xValues.wagon_id,
        });
        this.vu7xValues.station_name = response.data.station?.name;
        this.vu7xValues.depot_name = response.data.depot.name;
        this.vu7xValues.park_number = response.data.park_number;
        this.vu7xValues.driveway_number = response.data.driveway_number;
      } catch (error) {}
    },

    clearInputs() {
      for (const key in this.vu7xFields) {
        this.vu7xFields[key].value = null;
      }
      this.formType = null;
    },
  },

  watch: {
    formType(val) {
      this.openCreateForm(val);
      for (const key in this.vu7xValues) {
        this.vu7xValues[key] = null;
      }
    },
    
    "vu7xValues.wagon_id"(val) {
      if (val) {
        this.showWagonMethod();
        for (const key in this.error) {
          this.error[key] = null;
        }
      }
    },
  },

  mounted() {
    this.formType = this.currentTabForm;
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
.craete-vu7x {
  &__bid {
    @include font(600, 17px, #2aa7c3);
    margin-bottom: 28px;
  }
  &__form {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    padding: 30px 40px;
    width: 700px;
    .form {
      &__row {
        margin-bottom: 18px;
        &-name {
          @include font(400, 17px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }
        &-input {
          width: 620px;
        }
        &-input.with-error {
          margin-bottom: 50px;
        }
        &-date {
          display: block;
          width: 620px;
          height: 46px;
          background-color: #f4f6f9;
          border: 1px solid #e1e4e8;
          border-radius: 4px;
          padding: 12px 20px 13px;
          &-error {
            color: red;
            font-size: 80%;
          }
        }
      }
    }
    &-error {
      @include font(700, 17px, rgb(177, 0, 0));
      margin-bottom: 20px;
    }
    &-btn.v-btn {
      width: 171px;
      height: 46px;
    }
  }
}
</style>