<template>
  <div class="lk-container vu7x">
    <div class="vu7x__content content">
      <Table
        v-if="vu7x"
        paginate
        :list="listForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="(payload) => $emit('changeList', payload)"
      >
        <div v-if="!listForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <TableExpansionRow
          v-else
          v-for="(vu78, key) in listForTable.data"
          :key="vu78.id"
          class="content-dropdown"
          :class="{ 'opened-extra': openExtraIdx === key }"
        >
          <template v-slot:header>
            <div></div>
            <div v-for="(cellText, key) in vu78" :key="key">
              <span v-if="key === 'sign_button' && !isNeedSign"></span>
              <span
                v-else-if="
                  key === 'sign_button' && getIsSignedVu78(vu78.signs) === false
                "
                class="green-massage"
                @click.stop="$emit('sign', vu78)"
              >
                {{ cellText }}
              </span>

              <span
                v-else-if="
                  key === 'sign_button' && getIsSignedVu78(vu78.signs) === null
                "
                class="disabled-massage"
              >
                {{ cellText }}
              </span>

              <span
                v-else-if="key === 'sign_button' && getIsSignedVu78(vu78.signs)"
                class="purple-massage"
              >
                {{ cellText }}
              </span>

              <span
                :class="{
                  'color-gray':
                    [
                      'master_tor_sign_date',
                      'station_officer_sign_date',
                    ].includes(key) && cellText.includes('Ожидает'),
                }"
                v-else
              >
                {{ cellText }}
              </span>
            </div>

            <div class="extra-wrapper">
              <div
                class="extra-btn table-row__popup-btn"
                @click.stop="changeExtra(key)"
              />
              <Popup
                v-if="openExtraIdx === key"
                v-click-outside="closeExtra"
                :last="key === listForTable.data.length - 1"
              >
                <div class="extra-content">
                  <p
                    v-for="(option, index) in getExtraOptions(vu78)"
                    :key="index"
                    class="extra-el"
                    @click.stop="callExtraMethod(option, vu78)"
                  >
                    {{ option.name }}
                  </p>
                </div>
              </Popup>
            </div>
          </template>
          <template v-slot:content>
            <SubTable
              :columnList="subtableTitlesList"
              :contentList="listForSubTable[key]"
              :deletable="getIsCanAddWagon(vu78.signs)"
              :editable="getIsCanAddWagon(vu78.signs)"
              :editableFields="['park_number', 'driveway_number']"
              :wagonId="listForSubTable[key].wagon_id"
              @delete="(payload) => $emit('deleteWagon', payload)"
              @edit="(payload) => $emit('updateWagon', payload)"
            />
            <button
              v-if="getIsCanAddWagon(vu78.signs)"
              class="content-dropdown__btn"
              @click="$emit('addWagon', { id: vu78.id })"
            >
              <span class="content-dropdown__btn-img">
                <img src="@/static/img/lk/vu7x/addBtnCross.svg" alt="add" />
              </span>
              Добавить вагон
            </button>
          </template>
        </TableExpansionRow>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import SubTable from "@/components/reuse/SubTable";
import TableExpansionRow from "@/components/reuse/TableExpansionRow";
import { PopupMixin } from "@/mixins/PopupMixin";
import { roles as constRoles } from "@/helpers/constants.js";
export default {
  components: {
    Field,
    Table,
    Popup,
    SubTable,
    TableExpansionRow,
  },

  mixins: [PopupMixin],

  props: {
    vu7x: {
      type: Object,
      default() {
        return {};
      },
    },
    currentTabForm: {
      type: Number,
      default: 78,
    },
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  data() {
    return {
      currentTab: 0,
      isLoading: false,
      tablePageAmount: 10,
      openExtraIdx: null,
      subtableTitlesList: ["№ вагона", "№ п/п", "№ парка", "№ пути"],
    };
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),

    isNeedSign() {
      return [constRoles.TOR_MASTER, constRoles.STATION_OFFICER].includes(
        this.getUser.role_id
      );
    },

    tableColumns() {
      return {
        labels: [
          "",
          "№ заявки",
          "Дата подачи заявки",
          "Дата приема заявки",
          "",
          "",
        ],
        width: ["40px", "100px", "1fr", "1fr", "300px", "40px"],
      };
    },

    listForTable() {
      const result = Object.assign({}, this.vu7x);
      const data = this.vu7x.data.map((item) => {
        const isSigned = this.getIsSignedVu78(item.signs);
        let signButtonName = "";

        if (this.getUser.role_id === constRoles.TOR_MASTER) {
          signButtonName = isSigned
            ? "Подписано и отправлено"
            : "Подписать и отправить ДС";
        } else if (this.getUser.role_id === constRoles.STATION_OFFICER) {
          signButtonName = isSigned ? "Подписано" : "Подписать";
        }

        const masterTorSign = item.signs.find(
          (sign) => sign.role_id === constRoles.TOR_MASTER
        );
        const stationOfficerSign = item.signs.find(
          (sign) => sign.role_id === constRoles.STATION_OFFICER
        );

        const mapResult = {
          id: item.id,
          master_tor_sign_date: masterTorSign
            ? masterTorSign.created_at
            : "Ожидает подписания",
          station_officer_sign_date: stationOfficerSign
            ? stationOfficerSign.created_at
            : "Ожидает получения ДС",
          sign_button: signButtonName,
        };

        Object.defineProperty(mapResult, "documents", {
          value: item.documents,
          enumerable: false,
        });
        Object.defineProperty(mapResult, "signs", {
          value: item.signs,
          enumerable: false,
        });
        Object.defineProperty(mapResult, "vu80_ids", {
          value: item.vu80_ids,
          enumerable: false,
        });
        Object.defineProperty(mapResult, "vu81_ids", {
          value: item.vu81_ids,
          enumerable: false,
        });

        return mapResult;
      });

      result.data = data;
      return result;
    },

    listForSubTable() {
      const data = this.vu7x.data.map((item) =>
        item.wagons.map((wagon) => {
          const mapResult = {
            wagon_num: wagon.wagon_num,
            id: wagon.id,
            park_number: wagon.park_number || '-',
            driveway_number: wagon.driveway_number || '-',
          };
          Object.defineProperty(mapResult, "vu7x_id", {
            value: item.id,
            enumerable: false,
          });
          return mapResult;
        })
      );

      return data;
    },
  },

  methods: {
    getIsSignedVu78(signs) {
      if (
        this.getUser.role_id === constRoles.STATION_OFFICER &&
        signs.length < 1
      ) {
        return null;
      }

      return signs.some((sign) => sign.user_id === this.getUser.id);
    },

    getIsCanAddWagon(signs) {
      return (
        this.getUser.role_id === constRoles.TOR_MASTER &&
        this.getIsSignedVu78(signs) === false
      );
    },

    getExtraOptions(vu7x) {
      const result = [
        {
          name: "Скачать файл ВУ-" + this.currentTabForm,
          emit: "downloadDocument",
        },
      ];

      if (
        this.getUser.role_id === constRoles.TOR_MASTER &&
        !vu7x.signs.length
      ) {
        result.push({
          name: "Удалить заявку",
          emit: "deleteVu78",
        });
      }
      if (vu7x.signs.length) {
        result.push({
          name: "Скачать архив формы",
          emit: "downloadDocument",
          format: "archive",
        });
      }

      if (
        this.currentTabForm === 78 &&
        this.getUser.role_id === constRoles.STATION_OFFICER &&
        vu7x.signs.length >= 2 &&
        !vu7x.vu80_ids.length
      ) {
        result.push({
          name: "Добавить в ВУ-80",
          emit: "createVu8x",
        });
      }

      if (
        this.currentTabForm === 79 &&
        this.getUser.role_id === constRoles.STATION_OFFICER &&
        vu7x.signs.length >= 2 &&
        !vu7x.vu81_ids.length
      ) {
        result.push({
          name: "Добавить в ВУ-81",
          emit: "createVu8x",
        });
      }

      return result;
    },

    callExtraMethod(option, vu78) {
      const emitPayload = {
        vu78,
        format: option.format,
      };

      this.$emit(option.emit, emitPayload);
    },
  },

  watch: {
    vu7x() {
      this.openExtraIdx = null;
    },
  },
};
</script>


<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";
@import "@/assets/styles/components/table";
</style>
