<template>
	<div class="all-wagons">
    <div class="search">
      <v-text-field
        solo
        depressed
        prepend-inner-icon="custom-icon"
        placeholder="Поиск по номеру"
        @input="searchFieldChange"
        v-model="search"
      />
      <span class="error">{{ validationError }}</span>
    </div>
    <FirstFormBlock
      v-if="!(Object.keys(this.currentWagon).length)"
      :isError="isError"
    >
      <p class="first-form__content-text">
        {{ currentWagonError }}
      </p>
    </FirstFormBlock>
    <div
      class="wagon-card"
      v-else
    >
      <div class="wagon-card__info">
        <div class="info__title">Вагон №{{ currentWagon.wagon_num }}</div>
        <div class="info__data">
          <div class="info__data-item">
            Создано: {{ currentWagon.created_at.split(" ")[0] }}
          </div>
          <div class="info__data-item">№ пп: {{ currentWagon.id }}</div>
        </div>
      </div>
      <div class="wagon-card__btns">
        <div
          class="wagon-card__btns-item"
          v-if="!currentWagon.user_id"
          @click="handleAddButtonClick()"
        >
          Добавить
        </div>
        <div 
          class="wagon-card__btns-item send"
          disabled 
          v-else
        >
          Добавлено
        </div>
      </div>
    </div>
	</div>
</template>

<script>
import FirstFormBlock from "@/components/reuse/FirstFormBlock";
import { mapActions, mapGetters } from "vuex";

export default {
	components: {
    FirstFormBlock
  },
  data: () => {
    return {
      search: '',
      validationError: '',
    }
  },
  computed: {
    ...mapGetters('wagon', {currentWagon: 'getCurrentCustomerWagon', currentWagonError: 'getError'}),
    isError() {
      return this.currentWagonError !== "Укажите номер вагона в поиске"
    }
  },
  methods: {
    ...mapActions(
      'wagon', 
      [
        'showWagonByNum',
        'dropCurrentWagon',
        'dropCurrentWagonError',
        'addWagonToUser'
      ]),
    searchFieldChange(value) {
      if (value.length !== 8) this.validationError = 'Неверная длина номера';
      if (isNaN(value)) this.validationError = 'Номер должен состоять из цифр';
      if (!value.length) this.validationError = '';
      if (value.length === 8 && !isNaN(value)) {
        this.validationError = '';
        this.showWagonByNum(value);
        return;
      }
      this.dropCurrentWagon();
      this.dropCurrentWagonError();
    },
    handleAddButtonClick() {
      this.addWagonToUser(this.currentWagon.wagon_num);
    }
  },
}
</script>

<styles scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";

.all-wagons .search {
  margin: 30px 0;
  .v-input__slot {
    margin-bottom: 0;
  }
  .custom-icon {
    height: 20px;
    width: 20px;
    background-image: url("/img/input/search.svg");
  }
  .error {
    background-color: transparent !important;
    color: red;
    font-size: 12px;
    font-family: "Source Sans Pro";
  }
}

.wagon-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  border-radius: 4px;
  border: 1px solid #d3dcde;
  margin-bottom: 25px;
  position: relative;

  &__info {
    width: 250px;

    .info {
      &__title {
        @include font(700, 24px, #28292b);
        margin-bottom: 20px;
      }

      &__data {
        display: flex;
        justify-content: space-between;
        @include font(400, 17px, #68868b);
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min-content;

    &-item {
      @include repiar-status(#fff, #17bc9e, #17bc9e);
      @include font(600, 15px, #17bc9e);
      height: 38px;
      border-radius: 4px;
      padding: 8px 25px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: #17bc9e;
        color: #fff;
      }

      &.send {
        @include repiar-status(#e5e8ff, #2f35bc, #2f35bc);
        @include font(600, 15px, #2f35bc);
        height: 38px;
        border-radius: 4px;
        padding: 8px 25px;
        white-space: nowrap;
        cursor: default;
      }
    }
  }
}
</styles>