<template>
  <div class="lk-container user-wagons">
    <div class="user-wagons-header__filters filters">
      <v-text-field
        solo
        depressed
        prepend-inner-icon="custom-icon"
        placeholder="Поиск по номеру"
        v-model="search"
        class="filters__input search"
      ></v-text-field>
      <Field
        class="form__select"
        type="select"
        :listValues="vu23Status"
        v-model="vu23FilterStatus"
      />
      <Field 
        class="form__select"
        type="select"
        :listValues="applicationStatus"
        v-model="applicationFilterStatus"
      />
      <div class="date-input">
        <input
          class="filters__select date"
          v-model="filterDate"
          type="text"
          @click.stop="isChangeDate = true"
          placeholder="Дата"
        />
        <v-date-picker
          v-if="isChangeDate"
          class="date-input__calendar"
          v-model="filterDate"
          v-click-outside="changePickerVisibility"
          tabindex="0"
          :first-day-of-week="1"
          locale="ru"
        />
        <div
          class="date-input__cancel"
          v-if="filterDate"
          @click="filterDate = ''"
        ></div>
      </div>
    </div>
    <div class="user-wagons__content content">
      <Table
        v-if="wagonsList"
        :columns="tableColumns"
        :list="wagonsList"
        paginate
        paginationTitle="Вагонов"
        @changeList="loadUserWagonsMethod"
      >
      <div v-if="!wagonsList.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>
      <div 
        v-else
        class="table-row"
        v-for="(wagon, index) of createTableList(wagonsList.data)"
        :key="wagon.id"
      >
        <div
          v-for="(cell, key) of wagon"
          class="table-cell"
          :key="key"
        >
          <span 
            v-if="key === 'vu23_status'"
            :class="'status-' + cell.id"
          >
            {{ cell.name }}
          </span>
          <span v-else>{{ cell }}</span>
        </div>

        <div class="extra-wrapper">
          <v-btn
            class="extra-btn"
            :ripple="false"
            icon
            depressed
            @click="changeExtra(index)"
          />
          <Popup
            v-if="openExtraIdx === index"
            v-click-outside="closeExtraPopup"
            :last="index === wagonsList.data.length - 1"
          >
            <div class="extra-content">
              <p
                v-for="(option, index) in getExtraOptions(wagon)"
                :key="index"
                class="extra-el"
                @click="callExtraMethod(option, wagon)"
              >
                {{ option.name }}
              </p>
              <Popup 
                class="upload-file-popup" 
                v-if="isUploadingApplication"
                :last="index === wagonsList.data.length - 1"
              >
                <CustomFileInput v-model="file"></CustomFileInput>
                
                <v-btn color="primary" @click="handleUploadFileSubmit(wagon, index)">
                  Отправить
                </v-btn>
              </Popup>
            </div>
          </Popup>
        </div>

      </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Table from "@/components/reuse/Table";
import Popup from "@/components/reuse/Popup";
import Field from "@/components/reuse/Field";
import { PopupMixin } from "@/mixins/PopupMixin";
import { docType as constDocType } from "@/helpers/constants.js";
import CustomFileInput from "@/components/reuse/CustomFileInput";

export default {
  components: {
    Table,
    Popup,
    Field,
    CustomFileInput,
  },

  mixins: [PopupMixin],

  data() {
    return {
      search: '',
      openExtraIdx: null,
      vu23FilterStatus: "Неважно",
      applicationFilterStatus: "Неважно",
      isChangeDate: false,
      isUploadingApplication: false,
      filterDate: "",
      debounce: null,
      file: null,
      vu23Status: [
        "Неважно",
        "Планируется в ТОР",
        "В ходе выполнения ТОР",
        "Вышел из ТОР",
      ],
      applicationStatus: [
        "Неважно",
        "Не загружена",
        "Направлена в ремонт",
        "Ремонт выполнен",
      ]
    }
  },

  computed: {
    ...mapGetters('wagon', {wagonsList: 'getUserWagons'}),
    tableColumns() {
      return {
        labels: [
          "№ Вагона",
          "Дата создания вагона",
          "П/П",
          "ВУ-23 (статус документа)",
          "Статус заявки",
          "Заявка на ремонт",
          "",
        ],
        width: [
          "1fr",
          "1fr",
          "2fr",
          "2fr",
          "2fr",
          "2fr",
          "50px",
        ],
      };
    },
  },

  created() {
    this.loadUserWagons({});
  },

  methods: {
    ...mapActions('wagon', ['loadUserWagons', 'uploadApplication', 'downloadApplication', 'deleteApplication']),
    ...mapActions("vu23", ["downloadVu23Doc"]),

    createTableList(array) {
      return array.map((item) => {
        return {
          wagon_num: item.wagon_num,
          created_at: item.created_at,
          driveway_number: 
            item.driveway_number 
              ? item.driveway_number 
              : '-',
          vu23_status: item.vu23.status,
          application_status: item.application.status.name,
          application_document: 
            item.application.document?.file_name
              ? item.application.document.file_name
              : '-',
        }
      });
    },

    getExtraOptions(wagon) {
      const res = [
        {
          name: "Скачать ВУ-23",
          method: "downloadVu23DocMethod"
        }
      ]

      if (wagon.application_status === 'Не загружена') {
        res.push({
          name: "Загрузить заявку",
          method: "changeUploadingPopupVisibility",
        })
      } else {
        res.push(
          {
            name: "Скачать заявку",
            method: "downloadApplicationMethod",
          }, 
          {
            name: "Удалить заявку",
            method: "deleteApplicationMethod",
          }
        )
      }

      return res;
    },

    callExtraMethod(option, payload) {
      if (option.method) this[option.method](payload, option.payload)
    },

    async downloadVu23DocMethod(data, format = null) {
      try {
        const vu23 = this.wagonsList.data.find((item) => item.wagon_num === data.wagon_num).vu23;
        const mainFormDoc = vu23.documents.find(
          (doc) => doc.type_id === constDocType.MAIN_FORM
        );
        const response = await this.downloadVu23Doc({
          vu23_id: vu23.id,
          file_id: mainFormDoc.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа ВУ-23 №${vu23.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${vu23.id}.zip`;
            break;
          default:
            fileName = `Документ ВУ-23 №${vu23.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (e) {
        console.warn(e);
      }
      
    },

    changePickerVisibility() {
      this.isChangeDate = false;
    },

    createRequestParams({ page, count }) {
      this.params = {
        page,
        count,
        search: this.search,
        vu23Status: this.vu23Status.findIndex(
          (item) => item === this.vu23FilterStatus
        ),
        applicationStatus: this.applicationStatus.findIndex(
          (item) => item === this.applicationFilterStatus
        ),
        date: this.filterDate,
      }
    },

    async loadUserWagonsMethod(payload = {}) {
      try {
        this.createRequestParams(payload);
        this.loadUserWagons(this.params);
      } catch (error) {
        console.warn(error);
      }
    },

    closeExtraPopup(event) {
      this.closeExtra(event)
      this.isUploadingApplication = false;
      this.file = null;
    },

    changeUploadingPopupVisibility() {
      this.isUploadingApplication = !this.isUploadingApplication;
      this.file = null;
    },

    getVu23Id(wagon) {
      return this.wagonsList.data.find((item) => {
        return item.wagon_num === wagon.wagon_num;
      }).vu23.id;
    },

    handleUploadFileSubmit(wagon) {
      const vu23Id = this.getVu23Id(wagon);
      const file = this.file;
      if (file) {
        this.uploadApplication({
          file,
          vu23Id
        })
        this.changeUploadingPopupVisibility();
      }
    },

    async downloadApplicationMethod(wagon) {
      try {
        const vu23Id = this.getVu23Id(wagon);
        const response = await this.downloadApplication(vu23Id);
        const fileName = wagon.application_document;
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (e) {
        console.warn(e);
      }
    },

    deleteApplicationMethod(wagon) {
      const vu23Id = this.getVu23Id(wagon);
      this.deleteApplication(vu23Id);
    }
  },

  watch: {
    search() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.loadUserWagonsMethod()
      }, 400)
    },
    filterDate() {
      if (
        this.filterDate.match(/^\d{4}([./-])\d{2}\1\d{2}$/) ||
        !this.filterDate
      ) {
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
          this.loadUserWagonsMethod();
        }, 400);
      } else {
        this.filterDate = "";
      }
    },
    vu23FilterStatus() {
      this.loadUserWagonsMethod();
    },
    applicationFilterStatus() {
      this.loadUserWagonsMethod();
    }
  }
};
</script>

<style scoped lang="scss"> 
  @import "@/assets/styles/components/table";
  .filters {
    margin-bottom: 30px;
    display: flex;
    column-gap: 30px;
  }

  .user-wagons .search {
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }

  .upload-file-popup {
    max-width: none !important;
    width: min-content;
    padding: 10px;
    right: 210px;
    top: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .file-error {
      padding: 0;
      color: red;
      font-size: 12px;
    }
  }

  .date {
    width: 292px;
    padding: 0 12px;
    border: 1px solid #e1e4e8;
    height: 48px;
    border-radius: 3px;
    background-color: #f4f6f9;
  
    &-input {
      position: relative;
  
      &__calendar {
        position: absolute;
        top: 50px;
        left: 0;
        border: 1px solid #000;
        z-index: 5;
      }
  
      &__cancel {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("/img/components/subTable/delete.svg");
      }
    }
  }
</style>