<template>
  <v-dialog
    v-model="isOpen"
    :min-width="width || minWidth"
    :max-width="width || maxWidth"
  >
    <div class="submit-modal" @click="$emit('click')">
      <img class="close--btn" src="/img/input/close.svg" @click="close" />
      <div class="modal-content">
        <slot></slot>
      </div>
    </div>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogModal",
  props: {
    width: {
      default: null,
    },
    minWidth: {
      default: "fit-content",
    },
    maxWidth: {
      default: "fit-content",
    },
  },
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    close() {
      this.isOpen = false;
    },
  },
  watch: {
    isOpen(value) {
      if (!value) {
        this.$emit("close");
      }
    },
  },
};
</script>

<style scoped lang="scss">
.submit-modal {
  display: flex;
  flex-direction: column;
  .modal-content {
    padding: 20px;
  }

  background-color: #fff;
  padding: 20px;

  .close--btn {
    align-self: flex-end;
    cursor: pointer;
  }
}

.modal {
  &-img {
    display: block;
    margin: 0 auto 18px;
  }
  &-btn {
    margin-top: 30px;
    margin-right: 5px;
  }
}
</style>
