<template>
  <div class="field-wrapper">
    <div
      class="field"
      v-if="isFilled"
      @mouseover="hover(true)"
      @mouseleave="hover(false)"
    >
      <p class="field-label" v-if="label">{{ label }}</p>
      <div class="field-info" v-if="isHover && showInfo">{{ info }}</div>

      <!-- Input text -->
      <input
        v-if="type === 'text'"
        class="field-input"
        type="text"
        :disabled="disabled"
        :placeholder="placeholder"
        :maxlength="maxLength"
        :value="value"
        @input="$emit('input', $event.target.value)"
        @keypress="$emit('keypress', $event)"
        @paste="$emit('paste', $event)"
      />

      <!-- Input number -->
      <input
        v-if="type === 'number'"
        class="field-input number-input"
        type="text"
        :maxlength="maxLength"
        :placeholder="placeholder"
        :value="value"
        :disabled="disabled"
        @input="$emit('input', $event.target.value)"
        @keypress="isNumber($event)"
      />

      <!-- Input email -->
      <input
        v-if="type === 'email'"
        class="field-input number-input"
        type="email"
        :maxlength="maxLength"
        :placeholder="placeholder"
        :value="value"
        :disabled="disabled"
        autocomplete="on"
        @input="$emit('input', $event.target.value)"
        @keyup.enter="$emit('enter')"
        ref="email"
      />

      <!-- Input password -->
      <input
        v-if="type === 'password'"
        class="field-input"
        type="password"
        :maxlength="maxLength"
        :placeholder="placeholder"
        :value="value"
        :disabled="disabled"
        @input="$emit('input', $event.target.value)"
        @keyup.enter="$emit('enter')"
      />

      <!-- Input select -->
      <v-select
        v-if="type === 'select'"
        class="field-select"
        solo
        dense
        color="#adadad"
        :append-icon="!disabled ? 'custom-icon' : ''"
        :disabled="disabled"
        :placeholder="placeholder"
        :items="listValues"
        :hide-details="hideDetails"
        @change="handleInput"
        :value="value"
        @input="$emit('input', $event)"
        :ref="id"
      >
      </v-select>

      <!-- Input telephone -->
      <vue-tel-input
        v-if="type === 'phone'"
        class="field-phone"
        :value="value"
        :disabled="disabled"
        @input="$emit('input', $event.target.value)"
      ></vue-tel-input>

      <!-- Input autocomplete -->
      <v-autocomplete
        v-if="type === 'autocomplete'"
        append-icon="custom-icon"
        solo
        :placeholder="placeholder"
        :items="asyncOpts"
        :value="value"
        :disabled="disabled"
        @input="$emit('input', $event)"
        :search-input.sync="searchInput"
        :maxlength="maxLength"
        @change="handleInput"
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-title v-if="searchInput && searchInput.length > 2">
              Значения не найдены
            </v-list-item-title>
            <v-list-item-title v-else> Введите значение </v-list-item-title>
          </v-list-item>
        </template>
      </v-autocomplete>

      <!-- Input switch -->
      <div class="switch-input" v-if="type === 'switch'">
        <div
          class="switch-el"
          v-for="(item, name, idx) in listValues"
          :key="idx"
          @click="
            () => {
              value = item.value;
              handleInput(item.value);
            }
          "
          :class="{ active: item.value === value }"
        >
          <span class="switch-label">{{ item.text }}</span>
        </div>
      </div>
      <small class="error-message" v-if="errors[id]">
        {{ Array.isArray(errors[id]) ? errors[id][0] : errors[id] }}
      </small>
    </div>

    <div class="static" v-if="!isFilled">
      <span class="field-label pa-0 mr-5">{{ label }}</span>
      <span class="static-data" v-if="type === 'select'">
        {{ selectText }}
      </span>
      <span
        class="static-data"
        v-else-if="type === 'text' || type === 'number'"
      >
        {{ defaultValue }}
      </span>
    </div>
  </div>
</template>

<script>
import { isNumber } from "@/utils/validations";

export default {
  data() {
    return {
      searchInput: "",
      asyncOpts: [],
      debounce: {},
      isHover: false,
    };
  },
  created() {
    if (this.value && this.defaultOpts) {
      this.asyncOpts = this.defaultOpts;
    }
  },
  props: {
    id: {
      default: null,
    },
    value: {
      type: [String, Number, Array, Object, Boolean],
      default: null,
    },
    defaultValue: {
      default: null,
    },
    defaultOpts: {
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: "text",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    maxLength: {
      default: false,
    },
    isFilled: {
      type: Boolean,
      default: true,
    },
    hideDetails: {
      type: Boolean,
      default: false,
    },
    defaultSelect: {
      default: null,
    },
    actionLoader: {
      default: null,
    },
    actionPayload: {
      type: Object,
      default() {
        return {};
      },
    },
    listValues: {
      type: Array,
      default() {
        return [];
      },
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Object,
      default() {
        return {};
      },
    },
    info: {
      type: [String, Number],
      default: 'text'
    },
    showInfo: {
      type: [Boolean],
      default: false
    }
  },
  computed: {
    selectText() {
      let currentText = "";

      this.listValues.forEach((option) => {
        if (option.value === this.defaultValue) {
          currentText = option.text;
        } else {
          currentText = "";
        }
      });

      return currentText;
    },
  },
  watch: {
    searchInput(val) {
      let selectedItem = this.asyncOpts.filter(
        (item) => item.value === this.value
      );
      if (!val) this.asyncOpts = [];
      val && val !== selectedItem[0]?.text && this.getOptions();
    },
    defaultValue(val) {
      this.value = val;
    },
  },
  methods: {
    isNumber,
    hover(status) {
      this.isHover = status;
      this.$emit("hover", status);
    },
    reset() {
      if (this.id && this.$refs[this.id]) {
        this.$refs[this.id].setValue(this.defaultValue);
      }
    },
    restoreDefault() {
      this.$emit("input", this.defaultValue);
    },
    handleInput(event) {
      const valueForEmit = event?.target ? event?.target.value : event;
      this.$emit("changeField", valueForEmit, this.id);
    },
    async getOptions() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(async () => {
        if (this.searchInput) {
          this.actionPayload.search = this.searchInput;
          const response = await this.$store.dispatch(
            this.actionLoader,
            this.actionPayload
          );

          const result = [];

          response.data.map((item) => {
            if (typeof item === "object") {
              result.push({
                text:
                  item.decoded_name ||
                  item.name ||
                  item.full_name ||
                  item.short_name ||
                  String(item.wagon_num),
                value: item.id,
              });
            } else {
              result.push(item);
            }
          });
          this.asyncOpts = result;
        }
      }, 400);

      if (!this.searchInput) {
        clearTimeout(this.debounce);
        this.debounce = null;
        this.asyncOpts = [];
        this.$emit("input", null);
      }
    },
  },
};
</script>

<style scoped lang="scss">
// in vuetify.scss
</style>
