<template>
  <div>
    <div class="first-form__content">
      <img
        :src="getImage(image)"
        alt="listItems"
        class="first-form__content-img"
      />
      <slot />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "FirstFormBlock",

  props: {
    isError: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    image() {
      return this.isError 
        ? "error.svg" 
        : "vu7x/listItems.svg"
    }
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateForm"]),
    getImage(path) {
      return require("@/static/img/lk/" + path);
    }
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
.first-form {
  &__content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e7e9;
    border-radius: 6px;
    max-width: 80vw;
    width: 100%;
    &-img {
      margin-bottom: 15px;
      width: 60px;
    }
    &-text {
      @include font(400, 17px, #1d2331);
      text-align: center;
      max-width: 100%;
      margin-bottom: 0;
    }
    &-btn.v-btn {
      margin-top: 25px;
      height: 46px;
    }
  }
}
</style>