<template>
  <div
    class="popup"
    :class="{ last }"
    :style="{ maxWidth: maxWidth ? maxWidth : '200px' }"
  >
    <div class="triangle"></div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ["maxWidth", "last"],
};
</script>

<style lang="scss">
$blueLink: #066096;

.extra {
  &-wrapper {
    position: relative;
    z-index: 4;
    padding: 0 4px;
    height: 100%;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    &.absolute {
      position: absolute;
      margin-top: -20px;
      height: 55px;
      left: calc(100% - 23px);
      top: auto;
      height: auto;
    }

    .popup {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      line-height: 16px;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translate(0, -50%);

      span {
        padding: 20px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .triangle {
        box-shadow: -2px -2px 3px -1px rgba(0, 0, 0, 0.15);
        position: absolute;
        right: -6px;
        width: 14px;
        top: calc(50% - 7px);
        height: 14px;
        background-color: white;
        transform: rotate(130deg);
      }

      &.last {
        transform: translateY(0);
        top: auto;
        bottom: 0;

        .triangle {
          top: auto;
          bottom: 10px;
        }
      }
    }
  }

  &-content {
    padding: 10px 20px;
    min-width: 200px;
    text-align: left;
  }

  &-el {
    text-align: start;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin: 0 !important;
    padding: 10px 0;

    &:hover {
      color: $blueLink;
      text-decoration: underline;
      transition: all 0.1s ease;
    }
  }

  &-btn {
    cursor: pointer;
    width: 100%;
    height: 25px;
    background-image: url("/img/input/v-elipsis.svg");
    background-position: center;
    background-size: 25px;
  }
}
</style>
