<template>
  <div class="subtable">
    <template v-if="contentList.length">
      <header class="subtable__header">
        <div
          class="subtable__header-item"
          v-for="(column, key) in headerList"
          :key="key"
          :class="{ empty: !column }"
        >
          {{ column }}
        </div>
      </header>
      <div class="subtable__content">
        <div v-for="(row, subTableKey) in contentList" :key="subTableKey">
          <template v-for="(cell, cellKey) in row">
            <input
              type="text"
              class="subtable__content-input"
              v-if="editableFields.includes(cellKey) && editRow === subTableKey"
              :key="cellKey"
              v-model="editValues[cellKey]"
              @input="$emit('input', $event.target.value)"
              @keypress="isNumber($event)"
            />
            <div v-else :key="cellKey">
              {{ cell }}
            </div>
          </template>

          <div
            v-if="editable && editRow !== subTableKey"
            class="subtable__content-edit edit"
            @click="setEditableRow(subTableKey)"
          />
          <div
            v-else-if="editable"
            class="subtable__content-accept edit"
            @click="changeWagon(subTableKey)"
          />

          <div
            v-if="deletable && editRow !== subTableKey"
            class="subtable__content-delete delete"
            @click="$emit('delete', row)"
          />
          <div
            v-else-if="deletable"
            class="subtable__content-cancel edit"
            @click="editRow = null"
          />
        </div>
      </div>
    </template>
    <div v-else>Вагоны не добавленны</div>
  </div>
</template>

<script>
import { isNumber } from '@/utils/validations'

export default {
  name: "SubTable",
  props: {
    wagonId: {
      type: Number,
      default: 0,
    },
    columnList: {
      type: Array,
      default() {
        return [];
      },
    },
    contentList: {
      type: Array,
      default() {
        return [];
      },
    },
    deletable: {
      type: Boolean,
      default: false,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    editableFields: {
      type: Array,
      default() {
        return [];
      },
    },
  },

  data() {
    return {
      editRow: null,
      editValues: {},
    };
  },

  computed: {
    headerList() {
      const list = [...this.columnList];

      if (this.deletable) {
        list.push("");
      }

      if (this.editable) {
        list.push("");
      }

      return list;
    },
  },

  methods: {
    isNumber,
    changeWagon(idx) {
      this.$emit('edit', { id: this.contentList[idx].id, ...this.editValues })
      this.editValues = {};
      this.editRow = null;
    },

    setEditableRow(idx) {
      this.editValues = { ...this.contentList[idx] };
      this.editRow = idx;
    }
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
.subtable {
  width: 90%;
  margin-left: 70px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f5f7f8;
    @include font(600, 13px, #68868b);

    div {
      width: 100%;
      max-width: 15%;
      text-align: center;

      &.empty {
        width: 20px;
      }
    }
  }

  &__content {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include font(600, 13px, #68868b);
      border-bottom: 1px solid #e0e7e9;
      padding: 15px 20px;

      div {
        width: 100%;
        max-width: 15%;
        text-align: center;

        &.edit {
          height: 20px;
          width: 20px;
        }

        &.delete {
          width: 20px;
        }
      }
    }

    &-input {
      border: 1px solid #272829;
      border-radius: 4px;
      background-color: #f4f6f9;
      min-width: 15%;
      padding: 5px 15px;
    }

    &-edit {
      cursor: pointer;
      background-image: url("/img/components/subTable/pencil.png");
      background-position: center;
    }

    &-accept {
      cursor: pointer;
      background-image: url("/img/input/accept-box.svg");
      background-position: center;
      border-radius: 4px;
    }

    &-cancel {
      cursor: pointer;
      background-image: url("/img/input/decline-box.svg");
      background-position: center;
      border: 1px solid #272829;
      border-radius: 4px;
    }

    &-delete {
      cursor: pointer;
      background-image: url("/img/components/subTable/delete.svg");
      background-position: center;
      height: 20px;
      width: 20px;
    }
  }
}
</style>