<template>
  <div class="change-tabs">
    <div
      v-for="tab in currentTabs"
      :key="tab.id"
      @click="currentForm = tab.id"
      class="tab"
      :class="{ active: currentForm === tab.id }"
    >
      <span class="tab-label">{{ tab.label }}</span>
    </div>
    <div
      class="active_tab"
      :style="{ left: tabs[currentForm].positionL }"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    tabs: {
      default() {
        return [];
      },
    },
    mountedTab: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      currentForm: 0,
    };
  },
  computed: {
    currentTabs() {
      const result = this.tabs;
      result.forEach(
        (item, idx, arr) => (item.positionL = idx * (100 / arr.length) + "%")
      );
      return result;
    },
  },
  watch: {
    currentForm() {
      this.$emit("changeSwitch", this.currentForm);
    },
  },
  mounted() {
    if(this.mountedTab) {
      this.currentForm = this.mountedTab;
    }
  },
  methods: {},
};
</script>

<style scoped lang="scss">
$gray: #28292b;
$borderInput: #d2dddf;

.change-tabs {
  margin: 40px 0;
  position: relative;
  display: flex;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid $borderInput;
  border-radius: 85px;
  max-width: 200px;

  .tab {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: 50%;
    border-radius: 28px;
    cursor: pointer;
    span {
      display: block;
    }
    &-label {
      color: $gray;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 17px;
      font-weight: 600;
    }

    &.active {
      .tab-label {
        transition: all ease-in 0.1s;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }

  .active_tab {
    background-color: #2aa7c3;
    border-radius: 28px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: left ease-out 0.2s;
  }
}
</style>
