<template>
  <div class="exparsion-row">
    <v-expansion-panels accordion multiple class="exparsion-row__panel">
      <v-expansion-panel class="exparsion-row__panel-header panel-header">
        <v-expansion-panel-header class="table-row">
          <slot name="header" />
        </v-expansion-panel-header>
        <v-expansion-panel-content class="exparsion-row__panel-content content">
          <slot name="content" />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
$middleGray: #5d767b;
$grayInput: #f5f7f8;
$grayBorder: #e0e7e9;

.exparsion-row {
  &__panel {
    &-header {
      ::v-deep {
        .panel-header {
          margin-bottom: 0;
        }
        .v-expansion-panel-header__icon {
          position: absolute;
          top: 43%;
          left: 25px;
          background-color: #eaf7fa;
          border: 1px solid #d2dddf;
          border-radius: 2px;
          .v-icon {
            color: #2aa7c3 !important;
          }
        }
      }
    }
    .table {
      &-row {
        font-family: "Source Sans Pro", sans-serif;
        display: grid;
        grid-template-columns: repeat(3, 1fr) minmax(220px, 1fr) 100px 110px;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid $grayBorder;
        > div:first-child {
          text-align-last: left;
        }
        &__popup {
          &-btn {
            display: flex;
            align-items: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;

            img {
              margin: 0 auto;
            }
            &:hover {
              background-color: #5d767b20;
            }
          }
        }
      }
    }
  }
}
</style>