<template>
  <div class="table-wrapper">
    <div class="table-list">
      <div class="table-content" ref="table">
        <div class="table-row table-headline">
          <div
            v-for="(col, name, idx) in makeTableProps(columns)"
            :key="col.key ? col.key : idx"
            class="table-headline-title"
          >
            <span
              v-if="col.sorted"
              class="sorted"
              :class="{ active: currentSort === name }"
              @click="sortBy(name)"
            >
              {{ col.label }}
            </span>
            <span v-else>
              {{ col.label }}
            </span>
          </div>
        </div>
        <slot />
      </div>
      <div v-if="paginate && pagination.total" class="pagination">
        <div class="count">
          <span class="count-title"> {{ paginationTitle }} на странице</span>
          <v-select
            class="count-input"
            v-model="pageAmount"
            outlined
            dense
            hide-details
            append-icon="custom-icon"
            :items="[5, 10, 15, 25, 30]"
            @change="toPage"
          ></v-select>
        </div>
        <div class="pagination-control">
          <img
            v-if="pagination.current_page > 1"
            class="pagination-control-icon"
            src="/img/input/chevron-left.svg"
            @click="toPage('prev')"
          />
          <span class="pagination-control-info">
            {{ itemCounter }}
          </span>
          <img
            v-if="pagination.current_page != pagination.last_page"
            class="pagination-control-icon"
            src="/img/input/chevron-right.svg"
            @click="toPage('next')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: ["list", "columns", "paginate"],
  props: {
    list: {
      type: Object,
      default() {
        return {};
      },
    },
    columns: {
      type: Object,
      default() {
        return {};
      },
    },
    paginate: {
      type: Boolean,
      default: false,
    },
    paginationTitle: {
      type: String,
      default: "Элементов",
    },
  },
  data() {
    return {
      pageAmount:
        this.paginate !== false ? Number(this.list.meta.per_page) : null,
      currentSort: null,
    };
  },
  computed: {
    grid() {
      let grid = "";
      this.makeTableProps(this.columns).forEach((col) =>
        col.width ? (grid += " " + col.width) : (grid += " 1fr")
      );
      return grid;
    },
    pagination() {
      return this.list.meta;
    },
    itemCounter() {
      const { current_page, per_page, total } = this.pagination;

      let firstElem = total ? (current_page - 1) * per_page + 1 : 0;
      let lastElem = per_page * current_page;
      lastElem = lastElem > total ? total : lastElem;
      return `${firstElem} - ${lastElem} из ${total}`;
    },
  },
  methods: {
    ...mapActions(["changeShowModal"]),

    sortBy(idx) {
      this.currentSort = this.currentSort === idx ? null : idx;
      this.$emit("sort", this.currentSort);
    },
    toPage(page) {
      let chosenPage = 1;
      const { current_page, last_page } = this.pagination;
      switch (page) {
        case "prev":
          if (current_page - 1) chosenPage = current_page - 1;
          break;
        case "next":
          if (last_page - current_page) chosenPage = current_page + 1;
          break;
      }
      this.$emit("changeList", { page: chosenPage, count: this.pageAmount });
    },
    makeTableProps(props) {
      const result = [];
      props.labels.forEach((item, idx) => {
        result[idx] = { label: item };
      });
      if (props.keys)
        props.keys.forEach((item, idx) => {
          result[idx].key = item;
        });
      if (props.width)
        props.width.forEach((item, idx) => {
          result[idx].width = item;
        });
      if (props.sorted)
        result.forEach(
          (item, idx) => (item.sorted = props.sorted.includes(idx))
        );
      return result;
    },
    createGrid() {
      Array.from(this.$refs.table.children).forEach((el) => {
        if (el.querySelector(".v-expansion-panel-header")) {
          el.querySelector(
            ".v-expansion-panel-header"
          ).style.gridTemplateColumns = this.grid;
          return;
        }
        el.style.gridTemplateColumns = this.grid;
      });
    },
  },
  mounted() {
    this.createGrid();
  },
  updated() {
    this.createGrid();
  },
  watch: {
    list() {
      this.pageAmount = this.paginate !== undefined ? Number(this.list.meta.per_page) : null
    }
  }
};
</script>

<style lang="scss" scoped>
$middleGray: #5d767b;
$grayInput: #f5f7f8;
$grayBorder: #e0e7e9;
.table {
  &-list {
    position: relative;
    border: 1px solid $grayBorder;
    border-radius: 4px;
  }

  &-content {
    overflow-x: auto;

    &::-webkit-scrollbar {
      cursor: pointer;
      width: 5px;
      height: 11px;
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      background: #97b0b5;
      border-radius: 22px;
    }
  }

  &-headline {
    background-color: $grayInput;
    font-family: "Source Sans Pro", sans-serif;
    color: $middleGray;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .sorted {
      cursor: pointer;

      &.active {
        color: #000;
      }
    }
  }

  &-row {
    width: fit-content;
    min-width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(220px, 1fr) 100px 110px;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid $grayBorder;

    > div:first-child {
      text-align-last: left;
    }

    &-empty {
      padding: 20px;
      border-bottom: 1px solid $grayBorder;
    }
  }
}

.pagination {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .count {
    display: flex;
    align-items: center;

    &-title {
      margin-right: 20px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 15px;
      color: $middleGray;
    }

    &-input {
      max-width: 75px;
      border: none;

      ::v-deep {
        .custom-icon {
          height: 20px;
          width: 20px;
          background-image: url("/img/input/chevron-down.svg");
        }

        .v-input__slot {
          fieldset {
            border: none;
          }
        }
      }
    }
  }

  &-control {
    display: flex;
    align-items: center;

    &-icon {
      padding: 10px 20px;
      width: 49px;
      height: 40px;
      cursor: pointer;
    }

    &-info {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 15px;
      color: $middleGray;
    }
  }
}
</style>
