<template>
  <div class="lk-container equip">
    <DialogModal ref="notificationListWagon" width="500px">
      <div class="modal">
        <div :class="{ 'success-icon': !isError, 'error-icon': isError }" />
        <p class="description">{{ notification }}</p>
      </div>
    </DialogModal>
    <ListWagons
      v-if="!getIsShowInfo"
      @sendPartList="sendPartListMethod"
      @declinePartList="declinePartListMethod"
      @changeList="loadPartListMethod"
      @showParts="loadEquipMethod"
      @downloadPartList="downloadPartListDocMethod"
    />
    <template v-else>
      <CreateForm
        v-if="getIsCreateEquip"
        :partIdx="partIdx"
        @addEquip="addEquipMethod"
        @editEquip="editEquipMethod"
      />
      <TableEquipWagons
        :isLoading="isLoading"
        :wagonId="wagonId"
        @addEquip="isAdding = true"
        @changeList="loadEquipMethod"
        @editEquip="openEditEquipForm"
        @deleteEquip="deleteEquipMethod"
        ref="tableEquip"
      />
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ListWagons from "@/components/lk/list-equipment/listWagons";
import TableEquipWagons from "@/components/lk/list-equipment/tableEquipWagons";
import CreateForm from "@/components/lk/list-equipment/createForm";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    ListWagons,
    TableEquipWagons,
    CreateForm,
  },

  mixins: [DialogModalMixin],

  async asyncData({ store }) {
    await store.dispatch("equip/loadPartLists");

    return {
      isAdding: false,
      isLoading: false,
      tablePageAmount: 0,
      wagonId: null,
      polling: null,
      debounce: null,
      params: {},
      notification: "",
      isError: false,
      partIdx: null,
      partType: {
        1: "Колесная пара",
        2: "Боковая рама",
        3: "Надрессорная балка",
      },
    };
  },

  computed: {
    ...mapGetters("stateHeader", ["getIsShowInfo", "getIsCreateEquip"]),
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateEquip"]),
    ...mapActions("equip", [
      "loadPartLists",
      "loadEquip",
      "addEquip",
      "sendPartList",
      "declinePartList",
      "editEquip",
      "deleteEquip",
      "downloadPartListDoc",
    ]),

    openEditEquipForm(payload) {
      this.partIdx = payload.data.idx;
      this.openCreateEquip({
        isOpen: true,
        equipType: payload.equipType,
        isEdit: true,
      });
    },

    createRequestParams(payload) {
      const { id, count, page, search, is_wheel } = payload;

      if (id) this.wagonId = id;
      if (count) this.tablePageAmount = count;
      if (is_wheel != null) this.isWheel = is_wheel;
      this.params = {
        id: this.wagonId,
        count: this.tablePageAmount,
        is_wheel: this.isWheel,
        page,
        search,
      };
    },

    async loadPartListMethod(payload = {}) {
      try {
        await this.loadPartLists(payload);
      } catch (error) {
        console.warn(error);
      }
    },

    async loadEquipMethod(payload = {}) {
      this.isLoading = true;
      try {
        this.createRequestParams(payload);
        await this.loadEquip(this.params);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async sendPartListMethod(payload) {
      try {
        await this.sendPartList(payload);
        this.loadPartListMethod();
      } catch (error) {
        console.warn(error);
      }
    },

    async declinePartListMethod(partList) {
      try {
        await this.declinePartList({
          id: partList.wagon_id,
        });

        this.loadPartListMethod();
      } catch (error) {
        console.warn(error);
      }
    },

    async addEquipMethod(payload = {}) {
      this.isError = false;
      try {
        await this.addEquip({ id: this.wagonId, data: payload });
        this.notification =
          this.partType[payload.part_type_id] + " успешно добавлена";
        this.changeModal("notificationListWagon");
        this.loadEquipMethod();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification = error.response.data.errorMessage;
        this.changeModal("notificationListWagon");
      }
    },

    async editEquipMethod(payload = {}, id) {
      this.isError = false;
      try {
        await this.editEquip({
          wagonId: this.wagonId,
          partId: id,
          data: payload,
        });

        this.notification = "Деталь успешно изменена";
        this.changeModal("notificationListWagon");
        this.partIdx = null;

        this.openCreateEquip({
          isOpen: this.isAdding,
          equipType: null,
          isEdit: false,
        });
        this.loadEquipMethod();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification =
          error.response.data.errorMessage ||
          "Непредвиденная ошибка, пожалуйста попробуйте снова";
        this.changeModal("notificationListWagon");
      }
    },

    async deleteEquipMethod(payload = {}) {
      const { data } = payload;
      this.isError = false;
      try {
        await this.deleteEquip({ wagonId: this.wagonId, partId: data.partId });
        this.loadEquipMethod();
      } catch (error) {
        this.isError = true;
        console.warn(error);
        this.notification = error.response.data.errorMessage;
        this.changeModal("notificationListWagon");
      }
    },

    async downloadPartListDocMethod(partList, format = null) {
      this.isLoading = true;
      try {
        const response = await this.downloadPartListDoc({
          id: partList.wagon_id,
          file_id: partList.file_id,
          format: format,
        });
        let fileName;
        switch (format) {
          case "print":
            fileName = `Печатная форма документа листа комплектации №${partList.id}.pdf`;
            break;
          case "archive":
            fileName = `Архив формы №${partList.id}.zip`;
            break;
          default:
            fileName = `Документ листа комплектации №${partList.id}.pdf`;
        }
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    startPolling() {
      this.polling = setInterval(async () => {
        try {
          await this.loadPartListMethod();
        } catch (error) {
          console.warn(error);
        }
      }, 10000);
    },
  },

  watch: {
    getIsCreateEquip() {
      if (!this.getIsCreateEquip) {
        this.partIdx = null;
        this.isAdding = false;
      }
    },

    getIsShowInfo() {
      if (!this.getIsShowInfo) {
        this.loadPartListMethod();
      }
    },
  },

  created() {
    this.startPolling();
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/dialogModal";
</style>
