@import "../mixins";
.auth {
    background: url("/img/lk/login/depot.png") no-repeat 100%/100% fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    flex-direction: column;
  
    &__title {
      @include font(bold, 24px, #fff);
      height: 34px;
      max-width: 165px;
      margin-bottom: 7vh;
      text-decoration: none;
      &:hover {
        color: #ddd;
      }
    }
  
    &__form {
      margin: 0 auto;
      width: 100%;
      max-width: 570px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 50px 55px 60px;
    }
  }
  
.form {
    &__title {
      @include font(bold, 32px, #28292b);
      text-align: center;
      margin-bottom: 40px;
    }
    &__error {
      display: block;
      @include font(400, 17px, #eb274a);
      margin-bottom: 23px;
    }
    &__massage {
      @include font(400, 17px, #28292b);
      margin-bottom: 18px;
    }
    &__row {
      margin-bottom: 18px;
      position: relative;

      &-name {
        @include font(400, 17px, #28292b);
        margin-bottom: 10px;
      }
      &-input {
        width: 100%;
      }
      &-eye {
        position: absolute;
        top: 53px;
        right: 18px;
        cursor: pointer;
      }
      .active {
        opacity: 0.5;
      }
    }
    &__restore-pass-btn {
      @include font(400, 15px, #23c1a5);
      text-decoration: none;
      margin-bottom: 30px;
      display: inline-block;
    }
    &__succeed-btn.v-btn {
      width: 100%;
      height: 46px;
    }
  }