.filters {
    &__input.search {
      width: 50%;
    }
    &__input {
      margin-right: 30px;
      width: 20%;
      ::v-deep {
        .custom-icon {
          height: 20px;
          width: 20px;
          background-image: url("/img/input/search.svg");
        }
      }
    }
    &__select {
      width: 190px;
      background-color: #f5f7f8;
      border: 1px solid #d2dddf;
      border-radius: 4px;
      height: 48px;
      padding: 0 10px;
      width: 20%;
    }
    &__btn {
      min-height: 48px;
    }
}
