* {
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 5px;
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    @include font(800, 64px, #28292b);
    text-align: center;
}

@media (max-width: 976px) {
    .subtitle {
        @include font(800, 48px, #28292b);
        text-align: center;
    }
  }


@media (max-width: 620px) {
    .subtitle {
        @include font(800, 36px, #28292b);
        text-align: center;
    }
  }