<template>
  <v-app>
    <nuxt />
  </v-app>
</template>

<script>
export default {
    head() {
    return {
      meta: [
        {
          hid: "viewport",
          name: "viewport",
          content: "width=device-width, initial-scale=1",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "~assets/styles/vuetify";
</style>