<template>
  <div>
    <div v-if="error.statusCode === 404" class="error-404">
      <h1>404</h1>
      <h2>Page not found</h2>
      <NuxtLink to="/">Home page</NuxtLink>
    </div>
    <div v-else-if="error.statusCode !== 401">
      <h1>An error occurred</h1>
      <NuxtLink to="/">Home page</NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "error",
  mounted() {
    if (this.error.statusCode === 401) {
      this.$store.dispatch("auth/logout");
    }
  },
};
</script>

<style lang="scss">
.error-404 {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  font-size: 50px;
}
</style>
