<template>
  <v-app>
    <div class="wrapper">
      <Sidebar class="sidebar" :routes="routes"></Sidebar>
      <div class="main-content">
        <Header :routes="routes" />
        <nuxt />
      </div>
    </div>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import Header from "@/components/lk/Header.vue";
import Sidebar from "@/components/lk/Sidebar.vue";
import { roles } from "@/helpers/constants.js";

export default {
  components: {
    Header,
    Sidebar,
  },
  data() {
    return {
      roles,
    };
  },
  head() {
    return {
      meta: [
        {
          hid: "viewport",
          name: "viewport",
          content: "width=1920, initial-scale=1",
        },
      ],
    };
  },
  computed: {
    ...mapGetters("auth", ["getUser"]),
    routes() {
      return [
        {
          link: "/lk/personal",
          name: "Мои данные",
          icon: "/img/lk/menu/personal.svg",
        },
        {
          link: "/lk/company",
          name: "Данные компании",
          icon: "/img/lk/menu/company.svg",
        },
        {
          link: "/lk/wagons-and-repairs",
          name: "Вагоны и ремонты",
          icon: "/img/lk/menu/layers.svg",
          hidden: this.getUser.role_id !== roles.REPAIR_CUSTOMER,
        },
        {
          link: "/lk/vu-23",
          name: "ВУ-23",
          icon: "/img/lk/menu/list.svg",
          hidden: ![
            roles.WAGON_OPERATOR,
            roles.TOR_MASTER,
            roles.STATION_OFFICER,
          ].includes(this.getUser.role_id),
        },
        {
          link: "/lk/vu7x",
          name: "ВУ-78/79",
          icon: "/img/lk/menu/list.svg",
          hidden: ![
            roles.TOR_MASTER,
            roles.STATION_OFFICER,
            roles.CARGO_RECEIVER,
          ].includes(this.getUser.role_id),
        },
        {
          link: "/lk/vu8x",
          name: "ВУ-80/81",
          icon: "/img/lk/menu/list.svg",
          hidden: ![
            roles.TOR_MASTER,
            roles.STATION_OFFICER,
            roles.CARGO_RECEIVER,
          ].includes(this.getUser.role_id),
        },
        {
          link: "/lk/gu46",
          name: "ГУ-46",
          icon: "/img/lk/menu/list.svg",
          hidden: ![roles.CARGO_RECEIVER].includes(this.getUser.role_id),
        },
        {
          link: "/lk/vu36",
          name: "ВУ-36",
          icon: "/img/lk/menu/list.svg",
          hidden: ![
            roles.TOR_MASTER,
            roles.RAILWAY_EMPLOYEE,
            roles.CARGO_RECEIVER,
          ].includes(this.getUser.role_id),
        },
        {
          link: "/lk/vu22",
          name: "ВУ-22",
          icon: "/img/lk/menu/list.svg",
          hidden: ![roles.TOR_MASTER, roles.STATION_OFFICER].includes(
            this.getUser.role_id
          ),
        },
        {
          link: "/lk/list-equipment",
          name: "Лист комплектации",
          icon: "/img/lk/menu/layers.svg",
          hidden: ![roles.TOR_MASTER, roles.WAGON_OPERATOR].includes(
            this.getUser.role_id
          ),
        },
        {
          link: "/lk/users",
          name: "Пользователи",
          icon: "/img/lk/menu/users.svg",
          hidden: this.getUser.role_id !== roles.ADMIN,
        },
        {
          link: "/lk/notification",
          name: "Уведомления",
          icon: "/img/lk/menu/notification.svg",
        },
        {
          link: "/lk/logs",
          name: "Журнал запросов",
          icon: "/img/lk/menu/logs.svg",
          hidden: this.getUser.role_id !== roles.ADMIN,
        },
        {
          link: "/lk/tor",
          name: "Справочник ТОР",
          icon: "/img/lk/menu/layers.svg",
          hidden: this.getUser.role_id !== roles.ADMIN,
        },
        {
          link: "/lk/analytics-repair",
          name: "Аналитика ремонтов",
          icon: "/img/lk/menu/repair.svg",
          hidden: this.getUser.role_id !== roles.ADMIN,
        },
      ];
    },
  },
};
</script>

<style lang="scss">
@import "~assets/styles/vuetify";

.wrapper {
  display: flex;
  min-height: 100vh;
}
.main-content {
  overflow: auto;
  padding: 40px;
  max-width: 85vw;
  width: 100%;
}
</style>