<template>
  <div class="lk-container personal" >
    <DialogModal ref="modalSignSuccess" width="500">
      <div class="modal">
        <div class="success-icon" />
        <p class="description">Сертификат успешно прошел проверку</p>
      </div>
    </DialogModal>

    <DialogModal ref="modalSignFail" width="500" >
      <div class="modal">
        <div class="error-icon" />
        <p class="description">Не удалось подписать документ.</p>
        <p class="description">Ошибка: {{ errors.sign }}</p>
      </div>
    </DialogModal>

    <div>
      <v-tabs
        v-if="user.role_id !== constRoles.ADMIN"
        v-model="currentTab"
        slider-size="2"
        class="personal__tabs"
        active-class="personal__tabs_active"
      >
        <v-tab :ripple="false" class="tabs__item">
          <span>Личные данные</span>
        </v-tab>
        <v-tab 
          :ripple="false" 
          class="tabs__item"
          v-if="user.role_id !== constRoles.REPAIR_CUSTOMER"
        >
          <span>ЭЦП</span>
        </v-tab>
      </v-tabs>
    </div>

    <PersonalInfo
      :user="user"
      ref="personalInfo"
      v-if="currentTab === 0"
      :errors="errors"
      :isLoading="isLoading"
      @clearError="errors = {}"
      @saveUser="updateUserMethod"
    />
    <PersonalEDS
      v-else-if="currentTab === 1"
      @testSign="testSignMethod"
      @download="downloadUserDocumentMethod"
      @uploadFile="uploadUserDocumentMethod"
      @deleteDoc="deleteDocMethod"
      @changeCertificateList="
        (payload) =>
          loadUserDocument({
            ...payload,
            type_id: constUserDocTypes.TEST_SIGN,
          })
      "
      @changeDocList="
        (payload) =>
          loadUserDocument({
            ...payload,
            type_id: constUserDocTypes.CONFIRM_DOCUMENT,
          })
      "
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import PersonalInfo from "@/components/lk/personal/PersonalInfo";
import PersonalEDS from "@/components/lk/personal/PersonalEDS";
import ncaLayerSign from "@/helpers/ncaLayerSign";
import {
  roles as constRoles,
  userDocTypes as constUserDocTypes,
} from "@/helpers/constants.js";
import { DialogModalMixin } from "@/mixins/DialogModalMixin";

export default {
  components: {
    PersonalInfo,
    PersonalEDS,
  },

  mixins: [DialogModalMixin],

  async asyncData({ store }) {
    const user = store.getters["auth/getUser"];
    await store.dispatch("user/loadUserDocument", {
      type_id: constUserDocTypes.TEST_SIGN,
    });
    await store.dispatch("user/loadUserDocument", {
      type_id: constUserDocTypes.CONFIRM_DOCUMENT,
    });

    return {
      isLoading: false,
      currentTab: 0,
      user,
      constRoles,
      constUserDocTypes,
      editedUser: {
        ...user,
      },
      errors: { sign: 214 },
      isAdmin: user.role_id === 1,
    };
  },

  methods: {
    ...mapActions("user", [
      "updateUser",
      "loadUserDocument",
      "downloadUserDocument",
      "uploadUserDocument",
      "signUserDocument",
      "deleteDocument",
      "failSign",
    ]),
    ...mapActions("auth", ["loadAuthUser"]),

    async updateUserMethod(payload = {}) {
      const { editedUser, formType } = payload;
      this.isLoading = true;

      try {
        await this.updateUser(editedUser);
        await this.loadAuthUser();
        this.$refs.personalInfo.closeForm(formType);
      } catch (error) {
        this.errors = error.response.data;
      }

      this.isLoading = false;
    },

    async deleteDocMethod(payload) {
      const { file_id } = payload;
      this.isLoading = true;

      try {
        await this.deleteDocument({ file_id });
        await this.loadUserDocument({type_id: constUserDocTypes.CONFIRM_DOCUMENT});
      } catch (error) {
        this.errors = error.response.data;
      }

      this.isLoading = false;
    },

    async testSignMethod() {
      this.isLoading = true;
      try {
        const requestData = {};
        
        const documentBase64 = await this.downloadUserDocument({
          file_id: null,
          format: "base64",
          isNotBlob: true,
        });

        requestData.sig = await ncaLayerSign(documentBase64);
        await this.signUserDocument({ requestData });
        this.changeModal("modalSignSuccess");

        await this.loadUserDocument({
          type_id: constUserDocTypes.TEST_SIGN,
        });

        this.openExtraIdx = null;
      } catch (error) {
        if (error.message !== "500: action.canceled") {
          this.errors.sign =
            error?.response?.data?.error_message || error?.message || error;
          this.changeModal("modalSignFail");

          try {
            await this.failSign();
            await this.loadUserDocument({
              type_id: constUserDocTypes.TEST_SIGN,
            });
          } catch (error) {
            console.warn(error.message || error);
          }
        }
      }

      this.isLoading = false;
    },

    async downloadUserDocumentMethod(doc) {
      this.isLoading = true;
      try {
        const response = await this.downloadUserDocument({
          file_id: doc.file_id,
          format: "archive",
        });

        const fileName = `Архив тестовой подписи №${doc.id}.zip`;

        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = fileName;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },

    async uploadUserDocumentMethod(doc) {
      this.isLoading = true;
      try {
        await this.uploadUserDocument(doc);
        await this.loadUserDocument({type_id: constUserDocTypes.CONFIRM_DOCUMENT});
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/components/dialogModal";

@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

.personal {
  &__tabs {
    border-bottom: 2px solid #e0e7e9;
    margin: 30px 0;
    color: #6e8b90;
    max-width: 80vw;
    width: 100%;
    .tabs__item {
      color: #28292b;
    }
  }
}
</style>
