<template>
  <div class="header">
    <h2 v-if="getIsCreateEquip" class="header__title">
      <img
        src="@/static/img/lk/vu7x/arrowComeBack.svg"
        alt="come-back"
        @click="
          openCreateEquip({ isOpen: false, equipType: null, isEdit: false })
        "
        class="header__title-img"
      />
      {{ getIsEdit ? "Изменить делталь" : "Добавить деталь" }}
    </h2>
    <h2 v-else-if="getIsShowInfo" class="header__title">
      <img
        src="@/static/img/lk/vu7x/arrowComeBack.svg"
        alt="come-back"
        @click="resetState"
        class="header__title-img"
      />
      Вагон № {{ getId }}
    </h2>
    <h2 v-else-if="getIsCreateForm" class="header__title">
      <img
        src="@/static/img/lk/vu7x/arrowComeBack.svg"
        alt="come-back"
        @click="openCreateForm(null)"
        class="header__title-img"
      />
      <span v-if="getIsCreateForm === 79">
        Создать заявку на уборку вагона из ТОР
      </span>
      <span v-else-if="getIsCreateForm === 78">
        Создать заявку на подачу вагона на ТОР
      </span>
      <span v-else>
        {{ getIsEdit ? "Изменить заявку" : "Создать заявку" }}
        {{ getId ? `№${getId}` : "" }}
      </span>
    </h2>
    <h2 v-else class="header__title">{{ currentRoute.name }}</h2>

    <div class="header__icons">
      <img
        class="header__icons-item"
        src="/img/lk/user.svg"
        alt="user"
        @click="openPopupUser"
      />
      <Popup
        v-if="isPopupUserOpen"
        v-click-outside="closePopups"
        class="header__popup"
      >
        <div class="triangle"></div>
        <div class="extra-content">
          <p class="extra-el" @click="$router.push('/lk/personal')">
            {{ getUser.name }}
          </p>
          <p class="extra-el" @click="logout">
            <span class="extra-el--img"></span>
            Выход из системы
          </p>
        </div>
      </Popup>
      <div class="notification-icon">
        <img
          class="header__icons-item"
          src="/img/lk/bell.svg"
          alt="notification"
          @click="openPopupNotification"
        />
        <span class="notification-count" v-if="getCountNotification">
          {{ getCountNotification }}
        </span>
      </div>
      <Popup
        v-if="isPopupNotificationOpen"
        v-click-outside="closePopups"
        maxWidth="350px"
        class="header__popup notification"
      >
        <div class="triangle"></div>
        <div class="extra-content">
          <template v-if="listNotificationForPopup.length">
          <div
            class="extra-el notification btn"
            @click="markAllNotificationMethod"
          >
            Сделать все прочитанными
          </div>
            <div
              class="extra-el notification"
              :class="{ active: !notific.is_read }"
              v-for="(notific, key) of listNotificationForPopup"
              :key="key"
              @click="
                () => {
                  $router.push('/lk/notification');
                  isPopupNotificationOpen = false;
                }
              "
            >
              <div
                class="notification__title"
                :class="{ active: !notific.is_read }"
              >
                {{ notific.title }}
              </div>
              <div class="notification__info">{{ notific.body }}</div>
              <div class="notification__date">
                {{ notific.created_at }}
              </div>
            </div>
          </template>
          <div class="extra-el notification absent" v-else >
            Новые уведомления отсутствуют
          </div>
          <div
            class="extra-el notification btn center"
            @click="
              () => {
                $router.push('/lk/notification');
                isPopupNotificationOpen = false;
              }
            "
          >
            Смотреть все
          </div>
        </div>
      </Popup>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Popup from "@/components/reuse/Popup";

export default {
  components: {
    Popup,
  },

  props: ["routes", "isCreateForm"],

  data() {
    return {
      isPopupNotificationOpen: false,
      isPopupUserOpen: false,
      hasNotification: false,
    };
  },

  methods: {
    ...mapActions("auth", ["logout"]),

    ...mapActions("notification", [
      "loadNotification",
      "markNotification",
      "markAllNotification",
    ]),

    ...mapActions("stateHeader", [
      "openCreateForm",
      "openCreateEquip",
      "resetState",
    ]),

    openPopupNotification() {
      setTimeout(() => {
        this.isPopupUserOpen = false;
        this.isPopupNotificationOpen = true;
      });
    },

    openPopupUser() {
      setTimeout(() => {
        this.isPopupNotificationOpen = false;
        this.isPopupUserOpen = true;
      });
    },

    closePopups() {
      this.isPopupNotificationOpen = false;
      this.isPopupUserOpen = false;
    },

    async markAllNotificationMethod() {
      await this.markAllNotification();
      await this.loadNotification();
    },

    startPolling() {
      this.polling = setInterval(() => {
        this.loadNotification({
          isPage: this.currentRoute.name === "Уведомления",
        });
      }, 10000);
    },
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),

    ...mapGetters("notification", ["getNotification", "getCountNotification"]),

    ...mapGetters("stateHeader", [
      "getIsCreateForm",
      "getIsShowInfo",
      "getIsCreateEquip",
      "getId",
      "getIsEdit",
    ]),

    listNotificationForPopup() {
      return this.getNotification.filter((item, idx) => idx < 3);
    },

    currentRoute() {
      return this.routes.find((route) => route.link === this.$route.path);
    },
  },

  watch: {
    "currentRoute.name"() {
      this.resetState();
    },
  },

  created() {
    this.loadNotification();
    this.startPolling();
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";

.header {
  right: 42px;
  top: 5%;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  width: 100%;

  &__title {
    @include font(700, 32px, #28292b);

    &-img {
      margin-right: 25px;
      display: inline-block;
      cursor: pointer;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: relative;

    &-item {
      display: block;
      box-sizing: content-box;
      padding: 10px;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      border: 1px solid#d3dcde;
      cursor: pointer;
    }

    .notification {
      &-icon {
        position: relative;
      }

      &-count {
        position: absolute;
        display: inline-block;
        top: 3px;
        right: 2px;
        @include font(600, 13px, #fff);
        background-color: #de350b;
        border-radius: 95px;
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }
  }

  &__popup {
    position: absolute;
    top: 60px;
    left: -160px;
    border-radius: 4px;
    border: 1px solid #d3dcde;
    background-color: #fff;
    z-index: 100;

    .triangle {
      position: absolute;
      right: 10px;
      width: 14px;
      top: -8px;
      height: 14px;
      background-color: white;
      transform: rotate(132deg);

      border-bottom: 1px solid #d3dcde;
      border-left: 1px solid #d3dcde;
      z-index: 0;
    }

    &.notification {
      left: -250px;
    }

    .extra-content {
      position: relative;
      z-index: 100;
      padding: 0;

      .extra-el {
        padding: 15px 20px;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        z-index: 200;
        position: relative;

        &.notification {
          border-bottom: 1px solid #d3dcde;

          .notification__title {
            @include font(600, 15px, #28292b);
            position: relative;

            &.active {
              &::after {
                position: absolute;
                content: " ";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                top: 37%;
                left: -14px;
                background-color: #2aa7c3;
              }
            }
          }

          .notification__info {
            @include font(400, 17px, #28292b);
            white-space: break-spaces;
          }

          .notification__date {
            @include font(400, 15px, #68868b);
          }

          &.btn {
            @include font(600, 15px, #17bc9e);
            cursor: pointer;
            width: 350px;
            &.center {
              text-align: center;
            }
          }

          &.active {
            background-color: #e4f4f8;
          }

          &.absent {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            cursor: auto;
            border-bottom: 1px solid #d3dcde;
            @include font(400, 17px, #28292b);

            &:hover {
              text-decoration: none;
              color: #28292b;
            }
          }
        }

        &--img {
          display: inline-block;
          background-image: url("/img/lk/escape-lk.svg");
          width: 20px;
          height: 20px;
          margin-right: 5px;
          margin-bottom: -4px;
        }

        &:first-child {
          color: #2aa7c3;
          font-weight: 600;
          font-size: 17px;
          border-bottom: 1px solid #d3dcde;
        }
      }
    }
  }
}
</style>
