<template>
  <div class="side-component" style="display: flex; flex-flow: column">
    <nuxt-link to="/" exact class="side-component__tabs title">
      Цифровой ТОР
    </nuxt-link>
    <a class="side-component__tabs role">
      <span>{{ getUser.role_name }}</span>
    </a>
    <nuxt-link
      class="side-component__tabs"
      v-for="(route, index) in visibleRoutes"
      :to="route.link"
      :key="index"
      :event="false ? '' : 'click'"
    >
      <img class="menu-icon" :src="route.icon" />
      <span
        v-if="
          getUser.role_id === constRoles.STATION_OFFICER &&
          route.link === '/lk/vu7x'
        "
      >
        {{ `${route.name} (${getCountUnsign})` }}
      </span>
      <span v-else>{{ route.name }}</span>
    </nuxt-link>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  props: ["routes"],
  data() {
    return {
      constRoles,
      polling: null,
    };
  },

  methods: {
    ...mapActions("vu7x", ["loadCountUnsign"]),

    startPolling() {
      this.polling = setInterval(() => {
        this.loadCountUnsign();
      }, 10000);
    },
  },

  computed: {
    ...mapGetters("auth", ["getUser"]),
    ...mapGetters("vu7x", ["getCountUnsign"]),

    visibleRoutes() {
      return this.routes.filter((route) => !route.hidden);
    },
  },

  created() {
    if (this.getUser.role_id === constRoles.STATION_OFFICER) {
      this.loadCountUnsign();
      this.startPolling();
    }
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },
};
</script>

<style scoped lang="scss">
.side-component {
  background: #0c5565;
  height: 100%;
  width: 272px;
  padding-top: 15px;
  flex: 0 0 272px;

  &__tabs {
    margin: 0 15px;
    border-radius: 6px;
    &::v-deep {
      &.title {
        font-weight: 700;
        font-size: 25px;
        margin: 0;
        padding: 18px 35px;
        color: #fff;
        opacity: 1;
      }
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    padding: 18px 20px;
    display: flex;
    align-items: center;

    &.role {
      margin-bottom: 30px;
      padding-top: 0;
      cursor: default;
      font-weight: bold;
      border-bottom: 1px solid hsl(189, 59%, 79%, 0.2);
      border-radius: 0;
    }

    .menu-icon {
      min-width: 20px;
      max-height: 20px;
      display: inline-block;
      margin-right: 15px;
      opacity: 0.4;
    }

    &.nuxt-link-active {
      background-color: hsl(189, 59%, 79%, 0.2);
      font-weight: 700;
      opacity: 1;

      .menu-icon {
        opacity: 1;
      }
    }
  }
}
</style>