<template>
  <div class="main-lk">
    <nuxt-child class="child-side" />
  </div>
</template>

<script>
export default {
  layout: "lk",
  middleware: "auth",
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";

.main-lk {
  display: flex;
  transition: margin-top 0.5s;
}

.lk-container {
  width: 100%;
  max-width: 1535px;
}

.menu-icon {
  min-width: 20px;
  max-height: 20px;
  display: inline-block;
  margin-right: 15px;
}
</style>
