<template>
  <div>
    <Header @callback="scroll('callback')">
      <template v-slot:title>
        <h1 class="tor-content__main-title">
          <p>О нас</p>
        </h1>
      </template>
      <template v-slot:img>
        <div class="tor-content__main-images">
          <div class="tor-content__main-images_item header-switcher" />
          <div class="tor-content__main-images_item header-rails" />
          <div class="tor-content__main-images_item header-img1" />
        </div>
      </template>
    </Header>
    <WagonService />
    <Callback ref="callback" />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/mainPage/Header";
import WagonService from "@/components/mainPage/WagonService";
import Callback from "@/components/mainPage/Callback";
import Footer from "@/components/mainPage/Footer";

import { scroll } from "@/utils/scroll"

export default {
  components: {
    Header,
    WagonService,
    Callback,
    Footer,
  },

  methods: {
    scroll
  }
};
</script>

<style  scoped lang="scss">
</style>