<template>
  <div class="auth">
    <NuxtLink to="/" class="auth__title">Цифровой ТОР</NuxtLink>
    <div class="auth__form">
      <h1 class="form__title">Восстановить пароль</h1>
      <template v-if="isLinkSended">
        <p class="form__massage">
          На <strong>{{ forgetfulUser.email }}</strong> было отправлено письмо
          для восстановления пароля. Следуйте инструкциям в письме для входа в
          систему.
        </p>
        <v-btn class="form__succeed-btn" to="/login" color="primary">
          На главную
        </v-btn>
      </template>
      <template v-else>
        <small class="form__error" v-if="errors.error_message">
          {{ errors.error_message }}
        </small>
        <p class="form__massage">
          Укажите e-mail, который вы использовали при регистрации. На него
          придет ссылка для восстановления пароля.
        </p>
        <v-form @submit.prevent="sendPasswordLinkMethod" class="form__row">
          <p class="form__row-name">{{ forgetPasswordFields.email.label }}</p>
          <Field
            class="form__row-input"
            :id="forgetPasswordFields.email.id"
            :type="forgetPasswordFields.email.type"
            :errors="errors"
            v-model="forgetfulUser.email"
          />
        </v-form>
        <v-btn
          class="form__succeed-btn"
          @click="sendPasswordLinkMethod"
          color="primary"
          :loading="isLoading"
          :disabled="!forgetfulUser.email"
          >Отправить</v-btn
        >
      </template>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import Field from "@/components/reuse/Field";

export default {
  middleware: "lk",
  components: {
    Field,
  },
  data() {
    return {
      isLoading: false,
      isLinkSended: false,
      errors: null,

      forgetfulUser: {
        email: null,
      },
      forgetPasswordFields: {
        email: {
          id: "email",
          label: "E-mail",
          type: "text",
        },
      },
      errors: {},
    };
  },
  methods: {
    ...mapActions("auth", ["sendPasswordLink"]),

    async sendPasswordLinkMethod() {
      if (!this.forgetfulUser.email) {
        return null;
      }

      this.isLoading = true;
      try {
        await this.sendPasswordLink(this.forgetfulUser);
        this.isLinkSended = true;

        this.errors = {};
      } catch (error) {
        this.errors = error.response.data;
      }
      this.isLoading = false;
    },
  },
};
</script>

<style scoped lang="scss">
@import "../assets/styles/pages/auth.scss";
</style>
