<template>
  <div class="main-page">
    <Header @callback="scroll('callback')">
      <template v-slot:title>
        <h1 class="tor-content__main-title">
          <p>Производственная</p>
          <p>веб-платформа «‎Цифровой ТОР»</p>
        </h1>
      </template>
      <template v-slot:desc>
        <p class="tor-content__main-label">
          Платформа позволяет участникам производственного процесса
          согласовывать электронные документы, взаимодействовать с системами КТЖ
          и отслеживать сроки выполнения работ по подготовке и организации
          текущего ремонта на пунктах ТОР.
        </p>
      </template>
      <template v-slot:img>
        <div class="tor-content__main-images">
          <div class="tor-content__main-images_item header-img1" />
          <div class="tor-content__main-images_item header-img2" />
          <div class="tor-content__main-images_item header-img3" />
        </div>
      </template>
    </Header>
    <ForClient />
    <About />
    <Functional />
    <Members />
    <Callback ref="callback" />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/mainPage/Header";
import ForClient from "@/components/mainPage/ForClient";
import About from "@/components/mainPage/About";
import Functional from "@/components/mainPage/Functional";
import Members from "@/components/mainPage/Members";
import Callback from "@/components/mainPage/Callback";
import Footer from "@/components/mainPage/Footer";

import { scroll } from "@/utils/scroll"

export default {
  components: {
    Header,
    ForClient,
    About,
    Functional,
    Members,
    Callback,
    Footer,
  },

  methods: {
    scroll
  },
};
</script>

<style scoped lang="scss">
</style>
