<template>
  <div class="auth">
    <NuxtLink to="/" class="auth__title">Цифровой ТОР</NuxtLink>
    <div class="auth__form">
      <h1 class="form__title">Вход</h1>

      <small class="form__error" v-if="errors.error_message">
        {{
          errors.error_message.split("!")[0] +
          (errors.error_message.split("").pop() === "." ? "" : "!")
        }}
      </small>

      <small class="form__error" v-if="errors.error_message">
        {{ errors.error_message.split("!")[1] }}
      </small>

      <v-form @submit.prevent="loginMethod" class="form__row-container">
        <div
          class="form__row"
          v-for="(field, key, index) in loginFields"
          :key="index"
        >
          <p class="form__row-name">{{ field.label }}</p>
          <Field
            class="form__row-input"
            :id="field.id"
            :type="field.type"
            :errors="errors"
            v-model="loggedUser[field.id]"
            :ref="field.id"
            @enter="loginMethod"
          />

          <img
            src="/img/lk/login/view_pass.svg"
            alt="eye"
            v-if="field.id === 'password'"
            :class="{
              active: field.type === 'text',
              'form__row-eye': true,
            }"
            @click="viewPassword(field.type)"
          />
        </div>
      </v-form>

      <nuxt-link to="/forgot-password" class="form__restore-pass-btn">
        Восстановить пароль
      </nuxt-link>
      <v-btn
        class="form__succeed-btn"
        @click="loginMethod"
        color="primary"
        depressed
        :loading="isLoading"
        :disabled="!loggedUser.login || !loggedUser.password"
      >
        Войти
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Field from "@/components/reuse/Field";

export default {
  middleware: "lk",
  components: {
    Field,
  },
  data() {
    return {
      isLoading: false,
      loggedUser: {
        login: null,
        password: null,
      },
      loginFields: {
        login: {
          id: "login",
          label: "Логин",
          type: "email",
        },
        password: {
          id: "password",
          label: "Пароль",
          type: "password",
        },
      },
      errors: {},
    };
  },
  methods: {
    ...mapActions("auth", ["login"]),

    async loginMethod() {
      if (!this.loggedUser.login || !this.loggedUser.password) {
        return null;
      }

      this.isLoading = true;
      try {
        await this.login(this.loggedUser);
        this.$router.push("/lk");
      } catch (error) {
        this.errors = error.response.data;
      }
      this.isLoading = false;
    },
    viewPassword(type) {
      type === "text"
        ? (this.loginFields.password.type = "password")
        : (this.loginFields.password.type = "text");
    },
  },

  mounted() {
    this.$refs.login[0].$refs.email.focus();
  },
};
</script>

<style scoped lang="scss">
@import "../assets/styles/pages/auth.scss";
</style>
