<template>
  <div class="auth-page">
    <h3>Страница регистрации</h3>
    <div class="auth-form" v-if="!isRegisterDone">
      <nuxt-link to="/login">Перейти на страницу входа</nuxt-link>
      <Field
        v-for="(field, key, index) in registerFields"
        :key="index"
        :id="field.id"
        :type="field.type"
        :label="field.label"
        :listValues="field.listValues"
        :errors="errors"
        v-model="registeredUser[field.id]"
      />
      <v-btn style="margin-top: 35px" color="primary" @click="registerMethod">
        Зарегистрироваться
      </v-btn>
    </div>
    <div class="auth-form" v-else>
      <div>Заявка на регистрацию отправлена</div>
      <p>
        Для завершения регистрации необходимо подтверждения администратором. В
        скором времени почту
        {{ registeredUser.email }} на будет отправлено письмо со ссылкой для
        установки пароля.
      </p>
      <v-btn
        block
        elevation="2"
        large
        to="/login"
        color="primary"
        class="black--text"
      >
        На главную
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import Field from "@/components/reuse/Field";

export default {
  middleware: "lk",
  components: {
    Field,
  },
  async asyncData({ store }) {
    await store.dispatch("auth/loadRoles");    

    return {
      isLoading: false,
      isRegisterDone: false,

      registeredUser: {
        name: null,
        email: null,
        phone: null,
        org_itn: null,
        role_id: null,
      },
      registerFields: {
        position: {
          id: "role_id",
          label: "Должность",
          type: "select",
          listValues: store.state.auth.roles_filter,
        },
        name: {
          id: "name",
          label: "ФИО",
          type: "text",
        },
        email: {
          id: "email",
          label: "E-mail",
          type: "text",
        },
        phone: {
          id: "phone",
          label: "Телефон",
          type: "text",
        },
        organizationName: {
          id: "org_full_name",
          label: "Полное имя организации",
          type: "text",
        },
        inn: {
          id: "org_itn",
          label: "БИН организации",
          type: "number",
        },
      },
      errors: {},
    };
  },
  methods: {
    ...mapActions("auth", ["register"]),

    async registerMethod() {
      try {
        await this.register(this.registeredUser);
        this.isRegisterDone = true;
        this.errors = {};
      } catch (error) {
        this.errors = error.response.data;
      }
    },
  },
};
</script>

<style scoped lang="scss">
.auth {
  &-form {
    max-width: 400px;
  }
}
</style>
