<template>
  <div class="auth">
    <NuxtLink to="/" class="auth__title">Цифровой ТОР</NuxtLink>
    <div class="auth__form">
      <h1 class="form__title">Установка пароля</h1>
      <template v-if="isPasswordReset">
        <p class="form__massage">Пароль успешно изменен!</p>
        <v-btn class="form__succeed-btn black--text" color="primary" depressed to="/">
          На главную
        </v-btn>
      </template>
      <template v-else>
        <small class="form__error" v-if="errors.error_message">
          {{ errors.error_message }}
        </small>
        <div
          class="form__row"
          v-for="(field, key, index) in setPasswordFields"
          :key="index"
        >
          <p class="form__row-name">{{ field.label }}</p>
          <div class="form__row-container">
            <Field
              class="form__row-input"
              :id="field.id"
              :type="field.type"
              :errors="errors"
              v-model="forgetfulUser[field.id]"
            />
            <img
              src="/img/lk/login/view_pass.svg"
              alt="eye"
              v-if="field.id === 'password'"
              :class="{
                active: field.type === 'text',
                'form__row-eye': true,
              }"
              @click="viewPassword(field.type)"
            />
          </div>
        </div>
        <v-btn
          class="form__succeed-btn"
          color="primary"
          depressed
          @click="sendPasswordLinkMethod"
          :loading="isLoading"
          :disabled="!forgetfulUser.password || !!errors.error_message"
          >Изменить пароль</v-btn
        >
      </template>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Field from "@/components/reuse/Field";

export default {
  middleware: "lk",
  components: {
    Field,
  },
  asyncData({ route }) {
    return {
      isLoading: false,
      isPasswordReset: false,

      forgetfulUser: {
        ...route.query,
        password: "",
        password_confirmation: "",
      },
      setPasswordFields: {
        password: {
          id: "password",
          label: "Пароль",
          type: "password",
        },
        passwordConfirm: {
          id: "password_confirmation",
          label: "Подтверждение пароля",
          type: "password",
        },
      },
      errors: { password: [] },
    };
  },
  methods: {
    ...mapActions("auth", ["resetPassword"]),

    async sendPasswordLinkMethod() {
      if (this.forgetfulUser.password.length < 6) {
        this.errors.password = ["Пароль должен быть не менее 6 символов."];
        return null;
      }
      if (
        this.forgetfulUser.password !== this.forgetfulUser.password_confirmation
      ) {
        this.errors.password = ["Пароли не совпадают."];
        return null;
      }

      this.isLoading = true;
      try {
        await this.resetPassword(this.forgetfulUser);
        this.isPasswordReset = true;
        this.errors = {};
      } catch (error) {
        this.errors = error.response.data;
      }
      this.isLoading = false;
    },
    viewPassword(type) {
      if (type === "text") {
        this.setPasswordFields.password.type = "password";
        this.setPasswordFields.passwordConfirm.type = "password";
      } else {
        this.setPasswordFields.password.type = "text";
        this.setPasswordFields.passwordConfirm.type = "text";
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../assets/styles/pages/auth.scss";
</style>
