<template>
  <div class="lk-container analytics">
    <div class="analytics__content">
      <div class="analytics__filters filters">
        <v-text-field
          v-model="filterSearch"
          class="filters__input search"
          solo
          depressed
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по таблице"
        ></v-text-field>

        <div class="owner-input">
          <Field
            class="filters__input"
            type="autocomplete"
            placeholder="Депо"
            :errors="errors"
            actionLoader="dictionary/loadDepots"
            v-model="filterDepotId"
          />
          <div
            class="cancel"
            v-if="filterDepotId"
            @click="filterDepotId = ''"
          ></div>
        </div>

        <v-btn
          class="filters__btn"
          depressed
          color="primary"
          :disabled="!wagons.data.length"
          @click="downloadWagonsExcelMethod"
        >
          Скачать XLXS
        </v-btn>
      </div>

      <Table
        v-if="wagons"
        paginate
        :list="listForTable"
        :columns="tableColumns"
        paginationTitle="Документов"
        @changeList="loadWagonsMethod"
      >
        <div v-if="!listForTable.meta.total" class="table-row-empty">
          По вашему запросу ничего не найдено.
        </div>
        <div
          v-else
          class="table-row"
          v-for="user in listForTable.data"
          :key="user.id"
        >
          <div v-for="(col, key) in user" :key="key">
            <span>
              {{ col }}
            </span>
          </div>
        </div>
      </Table>
    </div>
  </div>
</template>

<script>
import { formatCurrency } from "@/helpers/common";

import { mapGetters, mapActions } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";

export default {
  components: {
    Field,
    Table,
  },
  async asyncData({ store }) {
    let wagonResponse = await store.dispatch("wagon/loadWagons");

    return {
      isLoading: false,
      tablePageAmount: 10,
      currentPage: 1,
      debouncer: null,
      polling: null,

      stations: [],
      depots: [],
      filterSearch: "",
      filterDepotId: "",
      wagons: wagonResponse.data,
      errors: {},
    };
  },
  computed: {
    tableColumns() {
      let columns = {
        labels: [
          "Номер вагона",
          "Собственник",
          "Станция",
          "Пункт ТОР",
          "Время простоя",
          "Дата начала ремонта",
          "Дата окончания ремонта",
          "Сумма штрафа",
        ],
        width: ["100px", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr", "1fr"],
      };

      return columns;
    },

    listForTable() {
      const result = Object.assign({}, this.wagons);
      const data = this.wagons.data.map((wagon) => {
        const resultData = {
          wagon_num: wagon.wagon_num,
          owner_name: wagon.owner_name,
          station: wagon.station?.name || "Не указано",
          depot: wagon.depot.name,
          downtime: wagon.downtime || "-",
          repair_start_date:  wagon.repair_start_date || "-",
          repair_end_date:  wagon.repair_end_date || "-",
          penalty: wagon.penalty ? formatCurrency(wagon.penalty) + " ₸" : "-",
        };

        return resultData;
      });

      result.data = data;
      return result;
    },
  },
  methods: {
    ...mapActions("wagon", ["loadWagons", "downloadWagonsExcel"]),
    createRequestParams(payload) {
      const { page, count } = payload;
      if (count) this.tablePageAmount = count;
      if (page) this.currentPage = page;
      return {
        page: this.currentPage,
        count: this.tablePageAmount,
        search: this.filterSearch,
        depot_id: this.filterDepotId,
      };
    },

    async loadWagonsMethod(payload = {}) {
      try {
        const params = this.createRequestParams(payload);
        const response = await this.loadWagons(params);
        this.wagons = response.data;
      } catch (error) {
        console.warn(error);
      }
    },

    async downloadWagonsExcelMethod(payload = {}) {
      try {
        const params = this.createRequestParams(payload);
        const response = await this.downloadWagonsExcel(params);
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = `Аналитика ремонтов.xlsx`;
        a.click();
      } catch (error) {
        console.warn(error);
      }
    },

    addQueryParams(payload) {
      const { page, count } = payload;
      if (count) this.tablePageAmount = payload.count;
      const params = {
        page,
        count: this.tablePageAmount,
        search: this.filterSearch,
      };
      return params;
    },

    startPolling() {
      this.polling = setInterval(() => {
        this.loadWagonsMethod();
      }, 10000);
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debouncer);
      this.debouncer = setTimeout(() => {
        this.currentPage = 1;
        this.loadWagonsMethod();
      }, 400);
    },

    filterDepotId() {
      this.currentPage = 1;
      this.loadWagonsMethod();
    },
  },

  created() {
    this.startPolling();
  },

  beforeDestroy() {
    clearInterval(this.polling);
  },

  mounted() {
    this.loadWagonsMethod();
  },
};
</script>


<style scoped lang="scss">
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/pages/lk";

.filters__select {
  margin-right: 30px;
}
.analytics {
  &__filters {
    margin: 30px 0;
    display: flex;
    align-self: center;
  }
}
.owner {
  &-input {
    margin-bottom: 0;
    width: 20%;
    height: 48px;
    margin: 0 30px;
    background-color: #f4f6f9;
    position: relative;
    @include cancel();
    .filters__input {
      width: 100%;
      ::v-deep {
        .custom-icon {
          background-image: none;
        }
      }
    }
  }
}
</style>
