<template>
  <div class="create-page">
    <v-tabs class="tabs" v-model="currentTab">
      <v-tab class="tabs-item" :ripple="false" @click="currentTab = 0">
        <span>Вагон</span>
      </v-tab>
      <v-tab class="tabs-item" :ripple="false" @click="currentTab = 1">
        <span>Последний плановый ремонт</span>
      </v-tab>
      <v-tab class="tabs-item" :ripple="false" @click="currentTab = 2">
        <span>Перечень работ</span>
      </v-tab>
    </v-tabs>
    <div class="create-page__form form">
      <keep-alive>
        <TabWagon
          v-if="currentTab === 0"
          ref="tabWagon"
          @loadWagon="loadWagon"
          :wagon="getWagon"
        />
        <TabLastRepiar
          v-else-if="currentTab === 1"
          ref="tabLastRepiar"
          :wagon="getWagon"
        />
        <TabListWorks
          v-else
          :isLoading="isLoading"
          @createVu22="changeTab"
          @editOperation="editOperation"
          @deleteOperation="deleteOperation"
          @hasOperation="(value) => (hasOperation = value)"
          ref="tabListWorks"
        />
      </keep-alive>
      <div class="create-page__form-error" v-if="errors.message">
        {{ errors.message }}
      </div>

      <v-btn
        v-else-if="
          currentTab !== 2 && getUser.role_id === constRoles.TOR_MASTER
        "
        class="create-page__form-btn"
        color="primary"
        depressed
        :loading="isLoading"
        @click="changeTab"
      >
        Далее
      </v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import TabListWorks from "@/components/lk/vu22/tabListWorks";
import TabWagon from "@/components/lk/vu22/tabWagon";
import TabLastRepiar from "@/components/lk/vu22/tabLastRepiar";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    Field,
    TabListWorks,
    TabWagon,
    TabLastRepiar,
  },

  props: ["isLoading"],

  data() {
    return {
      constRoles,
      isOpenModal: false,
      currentTab: 0,
      errors: {},
      valuesField: {},
      wagonId: null,
      hasOperation: false,
    };
  },

  computed: {
    ...mapGetters("vu22", ["getWagon", "getVu22List"]),
    ...mapGetters("auth", ["getUser"]),
    ...mapGetters("stateHeader", ["getId", "getIsEdit"]),
  },

  methods: {
    ...mapActions("vu22", ["resetWagon"]),

    changeTab() {
      let data;
      let countSign;
      this.errors = {};
      const currentVu22 = this.getVu22List.find(
        (item) => item.id === this.getId
      );

      if (currentVu22) {
        countSign = currentVu22.signs.length;
      }

      if (this.currentTab === 0) {
        data = this.$refs.tabWagon.editWagon();

        if (!data) {
          return;
        }

        if (countSign) {
          return;
        }
        this.$emit("editWagon", data);
      } else if (this.currentTab === 1) {
        data = this.$refs.tabLastRepiar.storeLastRepair();
        if (!data) {
          return;
        }

        if (countSign) {
          return;
        }

        if (this.getWagon.last_repair) {
          this.$emit("updateLastRepair", {
            ...data,
            id: this.getWagon.id,
          });
        } else {
          this.$emit("storeLastRepair", {
            ...data,
            id: this.getWagon.id,
          });
        }
      } else {
        try {
          this.$refs.tabListWorks.checkRequaredFields();
        } catch (error) {
          this.errors = error;
        }

        if (this.errors.message) {
          return;
        }

        let data = [];
        this.$refs.tabListWorks.blankWorks.forEach((workType) => {
          workType.listWorks.forEach((work) => {
            data.push({
              id: work.operation.value,
              count: work.count.value,
              performer_name: work.performer_name.value,
              condition: work.condition.value,
            });
          });
        });

        this.$emit("storeVu22", {
          operations: data,
          id: this.wagonId,
        });
      }
    },

    editOperation(work, vu22_id) {
      const data = {
        operation_id: work.operationId.value,
        count: work.count.value,
        performer_name: work.performer_name.value,
        condition: work.condition.value,
      };
      if (work.includesVu22) {
        this.$emit("updateOperation", {
          data,
          vu22_id,
          vu22_operation_id: work.vu22_operation_id,
        });
      } else {
        this.$emit("storeOperation", { data, vu22_id });
      }
    },

    deleteOperation(vu22_operation_id, vu22_id) {
      this.$emit("deleteOperation", { vu22_id, vu22_operation_id });
    },

    loadWagon(data) {
      this.wagonId = data.id;
      this.$emit("loadWagonData", data);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/tabs";

.create-page {
  &__bid {
    @include font(600, 17px, #2aa7c3);
    margin-bottom: 28px;
  }
  &__form {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    padding: 30px 40px;
    width: 700px;
    .form {
      &__row {
        margin-bottom: 18px;
        &-name {
          @include font(400, 17px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }
        &-input {
          width: 620px;
          height: 46px;
          &.multiply {
            display: flex;
            justify-content: space-between;
            height: auto;
            gap: 25px;
          }
          .multiply__item {
            flex-basis: 31%;
          }
        }
        &-input.with-error {
          margin-bottom: 50px;
        }
        &-date {
          display: block;
          width: 620px;
          height: 46px;
          background-color: #f4f6f9;
          border: 1px solid #e1e4e8;
          border-radius: 4px;
          padding: 12px 20px 13px;
          &-error {
            color: red;
            font-size: 80%;
          }
        }
      }
    }
    &-error {
      @include font(700, 17px, rgb(231, 0, 0));
      margin-bottom: 20px;
    }
    &-btn.v-btn {
      width: 171px;
      height: 46px;
    }
  }
}
</style>