<template>
  <div>
    <div class="search">
      <div class="search-field">
        <v-text-field
          class="filters__input search-input"
          solo
          depressed
          v-model="filterSearch"
          prepend-inner-icon="custom-icon"
          placeholder="Поиск по номеру вагона"
        ></v-text-field>
        <div
          class="cancel"
          v-if="filterSearch"
          @click="filterSearch = null"
        ></div>
      </div>
      <div
        v-if="getUser.role_id === constRoles.TOR_MASTER"
        class="btn-create"
        @click="openCreateForm(true)"
      >
        Создать ведомость
      </div>
    </div>
    <FirstFormBlock v-if="!getVu22List.length">
      <p class="first-form__content-text">
        Создайте заявку, чтобы начать работу
      </p>
    </FirstFormBlock>
    <div
      v-else
      class="wagon-card"
      v-for="(vu22, key, index) of getVu22List"
      :key="key"
      @click="editVu22(vu22)"
    >
      <div class="wagon-card__info">
        <div class="info__title">Вагон №{{ vu22.wagon_num }}</div>
        <div class="info__data">
          <div class="info__data-item">ФИО: {{ getUser.name }}</div>
          <div class="info__data-item">На: ТОР</div>
          <div class="info__data-item" v-if="vu22.chief_name">
            Начальник депо: {{ vu22.chief_name }}
          </div>
          <div class="info__data-item" v-if="vu22.lifting_capacity">
            Грузоподъемность: {{ vu22.lifting_capacity }}
          </div>
          <div class="info__data-item">
            Материал борта: {{ vu22.is_metal ? "Металический" : "Деревянный" }}
          </div>
        </div>
      </div>
      <div
        class="wagon-card__btns"
        :class="{ 'no-item': getUser.role_id !== constRoles.TOR_MASTER }"
      >
        <div
          class="wagon-card__btns-item"
          v-if="!vu22.signs.length && getUser.role_id === constRoles.TOR_MASTER"
          @click.stop="$emit('signVu22', vu22)"
        >
          Подписать и отправить
        </div>
        <div
          class="wagon-card__btns-item send"
          v-else-if="getUser.role_id === constRoles.TOR_MASTER"
        >
          Подписано и отправлено
        </div>
        <div class="extra-wrapper">
          <v-btn
            class="extra-btn"
            :ripple="false"
            icon
            depressed
            @click.stop="changeExtra(key)"
          />
          <Popup v-if="openExtraIdx === key" v-click-outside="closeExtra">
            <div class="extra-content">
              <p
                v-for="(option, idx) in getExtraOptions(vu22)"
                :key="idx"
                class="extra-el"
                @click.stop="callExtraMethod(option, vu22, index)"
              >
                {{ option.name }}
              </p>
            </div>
          </Popup>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Popup from "@/components/reuse/Popup";
import FirstFormBlock from "@/components/reuse/FirstFormBlock";
import { PopupMixin } from "@/mixins/PopupMixin";
import { roles as constRoles } from "@/helpers/constants.js";

export default {
  components: {
    Popup,
    FirstFormBlock,
  },
  mixins: [PopupMixin],

  data() {
    return {
      constRoles,
      debounce: null,
      filterSearch: null,
      openExtraIdx: null,
    };
  },

  computed: {
    ...mapGetters("vu22", ["getVu22List"]),
    ...mapGetters("auth", ["getUser"]),
  },

  methods: {
    ...mapActions("stateHeader", ["openCreateForm", "editItem"]),

    editVu22(vu22) {
      this.$emit("loadWagon", { id: vu22.wagon_id, vu22_id: vu22.id });
    },

    callExtraMethod(option, payload, idx) {
      if (option.method) {
        this.$emit(option.method, payload, option.format);
      }
      this.changeExtra(idx);
    },

    getExtraOptions(vu22) {
      const result = [
        {
          name: "Скачать документ ВУ-22",
          method: "downloadVu22",
        },
      ];

      if (vu22.signs.length) {
        result.push(
          {
            name: "Скачать архив формы",
            method: "downloadVu22",
            format: "archive",
          },
          {
            name: "Отменить",
            method: "declineVu22",
          }
        );
      } else if (this.getUser.role_id === constRoles.TOR_MASTER) {
        result.push({
          name: "Удалить",
          method: "deleteVu22",
        });
      }

      return result;
    },
  },

  watch: {
    filterSearch() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.$emit("changeList", this.filterSearch);
      }, 400);
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/searchField";

.search {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
  height: 48px;
  position: relative;
  @include cancel();

  &-field {
    width: 100%;
    position: relative;
  }

  .filters__input.search-input {
    width: 100%;
    ::v-deep {
      .custom-icon {
        height: 20px;
        width: 20px;
        background-image: url("/img/input/search.svg");
      }
    }
  }
}

.btn-create {
  @include repiar-status(#17bc9e, #17bc9e, #17bc9e);
  @include font(600, 17px, #fff);
  height: 47px;
  border-radius: 4px;
  padding: 10px 25px;
  margin-left: 30px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #17bc9e;
  }
}

.first-form__content-text {
  margin: 20px 0;
}

.wagon-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  border-radius: 4px;
  border: 1px solid #d3dcde;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;

  &__info {
    .info {
      &__title {
        @include font(700, 24px, #28292b);
        margin-bottom: 20px;
      }

      &__data {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        @include font(400, 17px, #68868b);
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;

    &.no-item {
      justify-content: flex-end;
    }

    &-item {
      @include repiar-status(#fff, #17bc9e, #17bc9e);
      @include font(600, 15px, #17bc9e);
      height: 38px;
      border-radius: 4px;
      padding: 8px 25px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: #17bc9e;
        color: #fff;
      }

      &.send {
        @include repiar-status(#e5e8ff, #2f35bc, #2f35bc);
        @include font(600, 15px, #2f35bc);
        height: 38px;
        border-radius: 4px;
        padding: 8px 25px;
        white-space: nowrap;
      }
    }
  }
}
</style>
