<template>
  <div class="create-page">
    <div v-for="(row, key, index) in blank" :key="index" class="form__row">
      <span class="form__row-name" v-if="row.name">{{ row.name }}</span>
      <span class="form__row-prompt" v-if="row.prompt">{{ row.prompt }}</span>
      <Field
        :class="{ 'form__row-input': true, 'with-error': row.error }"
        :id="key"
        :type="row.type"
        :errors="row.error || errors"
        :actionLoader="row.actionLoader"
        v-if="row.type !== 'date'"
        :listValues="row.listValues"
        :disabled="row.disabled"
        v-model="row.value"
      />
      <vc-date-picker
        v-else-if="row.type === 'date'"
        v-model="row.value"
        :first-day-of-week="1"
        locale="ru"
        :minute-increment="10"
        :popover="{ visibility: 'focus' }"
        mode="dateTime"
        is24hr
      >
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="form__row-date"
            :value="inputValue"
            :popover="{ visibility: 'focus' }"
            v-on="inputEvents"
            :disabled="row.disabled"
          />
        </template>
      </vc-date-picker>
    </div>
    <div class="create-page__form-error" v-if="errors.message">
      {{ errors.message }}
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";

export default {
  components: {
    Field,
  },

  props: ["wagon"],

  data() {
    return {
      errors: {},
      currentVu22: null,
      blank: [
        {
          type: "text",
          name: "Место ремонта",
          listValues: [],
          sendedValue: "place",
          value: this.wagon?.place,
        },
        {
          type: "select",
          name: "Вид ремонта",
          listValues: [
            { text: "Деповской ремонт", value: 1 },
            { text: "Капитальный ремнот", value: 2 },
          ],
          sendedValue: "repair_type_id",
          value: this.wagon?.repair_type_id,
        },
        {
          type: "number",
          name: "Пробег на момент поступления (Накопленный)",
          listValues: [],
          sendedValue: "mileage_accumulated",
          value: this.wagon.mileage_accumulated,
        },
        {
          type: "number",
          name: "Пробег на момент поступления (После капитального)",
          listValues: [],
          sendedValue: "mileage_after",
          value: this.wagon.mileage_after || "-",
          disabled: true,
        },
        {
          type: "number",
          name: "Пробег на момент поступления (Межремонтный)",
          listValues: [],
          sendedValue: "mileage_between",
          value: this.wagon.mileage_between,
        },
        {
          type: "date",
          name: "Дата и время начала ремонта",
          prompt: "(дата и время подписания ВУ-80 Мастером ТОР)",
          listValues: [],
          sendedValue: "repair_start_date",
          value: this.wagon?.start_date,
        },
        {
          type: "date",
          name: "Дата и время окончания ремонта",
          prompt: "(дата и время подписания ВУ-36 Мастером ТОР)",
          listValues: [],
          sendedValue: "repair_end_date",
          value: this.wagon?.end_date,
        },
        {
          type: "text",
          name: "Заказчик ремонта",
          listValues: [],
          sendedValue: "owner_name",
        },
      ],
    };
  },

  computed: {
    ...mapGetters("vu22", ["getWagon", "getVu22List"]),
    ...mapGetters("stateHeader", ["getId"]),
  },

  methods: {
    storeLastRepair() {
      let data = {};
      this.errors = {};
      this.blank.forEach((field, idx) => {
        if (!field.value) {
          this.errors = { message: "Не все поля заполнены" };
          field.error = { [idx]: "Пустое поле" };
        }

        if (this.errors.message) {
          return;
        }

        data = { ...data, [field.sendedValue]: field.value };
      });

      if (this.errors.message) {
        return null;
      }

      data.repair_end_date = new Date(data.repair_end_date);
      data.repair_start_date = new Date(data.repair_start_date);

      delete this.errors.message;

      return data;
    },
  },

  watch: {
    wagon() {
      this.blank.forEach((item) => {
        if (item.sendedValue !== "mileage_after") {
          item.value = this.wagon[item.sendedValue];
        }
      });
    },
  },

  created() {
    this.currentVu22 = this.getVu22List.find((item) => item.id === this.getId);
    this.blank.forEach((item) => {
      if (item.sendedValue !== "mileage_after") {
        item.value = this.wagon[item.sendedValue];
        if (this.currentVu22) {
          item.disabled = !!this.currentVu22.signs.length;
        }
      }
    });
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/tabs";

.create-page {
  &__bid {
    @include font(600, 17px, #2aa7c3);
    margin-bottom: 28px;
  }

  &__form {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    padding: 30px 40px;
    width: 700px;

    .form {
      &__row {
        margin-bottom: 18px;

        &-name {
          @include font(400, 17px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }

        &-prompt {
          @include font(400, 15px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }

        &-input {
          width: 620px;
          height: 46px;
        }

        &-input.with-error {
          margin-bottom: 50px;
        }

        &-date {
          display: block;
          width: 620px;
          height: 46px;
          background-color: #f4f6f9;
          border: 1px solid #e1e4e8;
          border-radius: 4px;
          padding: 12px 20px 13px;

          &-error {
            color: red;
            font-size: 80%;
          }
        }
      }
    }

    &-error {
      @include font(700, 17px, rgb(231, 0, 0));
      margin-bottom: 20px;
    }
  }
}
</style>