<template>
  <div class="list-work">
    <div class="list-work__title">Перечень работ</div>
    <div
      class="list-works__block block"
      v-for="(block, blockKey) in blankWorks"
      :key="blockKey"
    >
      <div class="block__title">{{ block.name }}</div>
      <div
        class="block__inputs"
        v-for="(work, workKey) in block.listWorks"
        :key="workKey"
      >
        <v-btn
          v-if="work.isEdit || !work.includesVu22"
          class="block__inputs-btn"
          color="primary"
          depressed
          :loading="isLoading"
          @click="changeVu22(work)"
        >
          {{ work.includesVu22 ? "Сохранить изменения" : "Добавить операцию" }}
        </v-btn>
        <div
          class="cancel"
          v-if="!isSign"
          @click="deleteOperation(workKey, work, block.listWorks)"
        ></div>
        <div class="block__inputs-main">
          <Field
            class="form__row-input operation"
            :id="work.operation.id"
            type="autocomplete"
            :actionLoader="work.operation.actionLoader"
            :actionPayload="work.operation.actionPayload"
            :errors="work.operation.error || errors"
            :listValues="work.operation.listValues"
            :defaultOpts="work.operation.defaultOpts"
            v-model="work.operation.value"
            :placeholder="work.operation.placeholder"
            @changeField="(value, id) => fillOperationId(value, id, work)"
            :disabled="isSign"
            @input="checkUpdate(work)"
            :key="work.operation.id"
            :info="(work.operation.defaultOpts && work.operation.defaultOpts[0].text) || 'Введите название операции'"
            :showInfo="isSign"
          />
          <Field
            class="form__row-input operation-id"
            type="text"
            :id="work.operationId.id"
            :errors="work.operationId.error || errors"
            v-model="work.operationId.value"
            :placeholder="work.operationId.placeholder"
            :disabled="work.operationId.disabled"
            @input="checkUpdate(work)"
            :info="work.operationId.value"
            :showInfo="isSign"
          />
        </div>
        <div class="block__inputs-enter">
          <div class="condition">
            <Field
              class="form__row-input"
              :id="work.condition.id"
              type="select"
              :errors="work.condition.error || errors"
              :listValues="work.condition.listValues"
              v-model="work.condition.value"
              :placeholder="work.condition.placeholder"
              :disabled="isSign"
              @input="checkUpdate(work)"
              :info="work.condition.value"
              :showInfo="isSign"
            />
          </div>
          <div class="count">
            <Field
              class="form__row-input"
              :id="work.count.id"
              type="number"
              :errors="work.count.error || errors"
              v-model="work.count.value"
              :placeholder="work.count.placeholder"
              :disabled="isSign"
              @input="checkUpdate(work)"
              :info="work.count.value"
              :showInfo="isSign"
            />
            <div class="inputs__label">шт.</div>
          </div>
          <Field
            class="form__row-input performer_name"
            :id="work.performer_name.id"
            type="text"
            :errors="work.performer_name.error || errors"
            v-model="work.performer_name.value"
            :placeholder="work.performer_name.placeholder"
            :disabled="isSign"
            @keypress.native="(value) => isLetter(value, work)"
            @paste.native="(value) => isLetter(value, work)"
            @input="checkUpdate(work)"
            :info="work.performer_name.value"
            :showInfo="isSign"
          />
        </div>
      </div>
      <button
        class="content-dropdown__btn"
        @click="addWork(block)"
        v-if="block.name !== typeWorks.SPRING_SUSPENSION.name && !isSign"
      >
        <span class="content-dropdown__btn-img"> </span>
        <span>Добавить</span>
      </button>
      <button class="content-dropdown__btn disabled" v-else>
        <span class="content-dropdown__btn-img disabled"> </span>
        <span>Добавить</span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Field from "@/components/reuse/Field";
import { typeWorks } from "@/helpers/constants.js";
import { isLetter } from "@/utils/validations";

export default {
  components: {
    Field,
  },

  props: ["isLoading"],

  data() {
    return {
      errors: {},
      fieldId: 0,
      currentVu22: null,
      blankWorks: [
        {
          name: typeWorks.CHASSIS.name,
          id: typeWorks.CHASSIS.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.SPRING_SUSPENSION.name,
          id: typeWorks.SPRING_SUSPENSION.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.AXLEBOXES.name,
          id: typeWorks.AXLEBOXES.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.AUTOCOUPLING.name,
          id: typeWorks.AUTOCOUPLING.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.SPARE_PARTS.name,
          id: typeWorks.SPARE_PARTS.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.WELDING_WORKS.name,
          id: typeWorks.WELDING_WORKS.group_id,
          listWorks: [],
        },
        {
          name: typeWorks.BRAKING_EQUIP.name,
          id: typeWorks.BRAKING_EQUIP.group_id,
          listWorks: [],
        },
      ],
      typeWorks,
      hasOperation: false,
    };
  },

  computed: {
    ...mapGetters("vu22", ["getOperation", "getVu22List"]),
    ...mapGetters("stateHeader", ["getId", "getIsEdit"]),

    isSign() {
      if (this.currentVu22) {
        return !!this.currentVu22.signs.length;
      }
      return false;
    },
  },

  methods: {
    isLetter,
    existOperation() {
      let exist = false;
      this.blankWorks.forEach((workType) => {
        exist = workType.listWorks.length ? true : exist;
      });

      this.hasOperation = exist;
    },

    checkRequaredFields() {
      let hasError = false;
      this.blankWorks.forEach((workType) => {
        workType.listWorks.forEach((work) => {
          for (const key in work) {
            if (key === "condition") {
              continue;
            }
            if (key === "operationId") {
              continue;
            }
            work[key].error = null;
            if (!work[key].value) {
              work[key].error = {
                [work[key].id]: "Обязательно для заполнения",
              };
              hasError = true;
            }
          }
        });
      });
      if (hasError) {
        throw { message: "Заполните обязательные поля" };
      }
    },

    checkUpdate(work) {
      if (!this.getIsEdit) {
        return;
      }
      if (!work.includesVu22) {
        return;
      }
      let isEdit = false;
      const currenOperation = this.getVu22List
        .find((item) => item.id === this.getId)
        .operations.find(
          (operation) => operation.vu22_operation_id === work.vu22_operation_id
        );
      isEdit = isEdit || work.operationId?.id !== currenOperation.operation_id;
      isEdit = isEdit || work.condition?.value !== currenOperation.condition;
      isEdit = isEdit || work.count?.value != currenOperation.count;
      isEdit =
        isEdit || work.operationId?.value != currenOperation.serial_number;
      isEdit =
        isEdit || work.performer_name?.value !== currenOperation.performer_name;
      work.isEdit = isEdit;
    },

    addWork(work) {
      work.listWorks.push({
        operation: {
          actionLoader: "vu22/operation",
          actionPayload: { group_id: work.id },
          listValues: [],
          value: "",
          placeholder: "Наименование материала",
          error: {},
          id: this.fieldId++,
        },
        operationId: {
          value: "",
          placeholder: "№",
          error: {},
          disabled: true,
          id: this.fieldId++,
        },
        condition: {
          value: "",
          placeholder: "Состояние",
          value: "",
          listValues: ["В ремонт", "Отремонтированная", "Новая"],
          error: {},
          id: this.fieldId++,
        },
        count: {
          value: "",
          placeholder: "Кол-во",
          error: {},
          id: this.fieldId++,
        },
        performer_name: {
          value: "",
          placeholder: "ФИО",
          error: {},
          id: this.fieldId++,
        },
      });
      this.hasOperation = true;
    },

    changeVu22(work) {
      let hasError = false;
      for (const key in work) {
        if (typeof work[key] !== "object") {
          continue;
        }
        if (key === "condition") {
          continue;
        }
        if (key === "operationId") {
          continue;
        }

        work[key].error = null;

        if (!work[key].value) {
          work[key].error = {
            [work[key].id]: "Обязательно для заполнения",
          };
          hasError = true;
        }
      }

      if (hasError) {
        return;
      }

      if (this.currentVu22) {
        this.$emit("editOperation", work, this.currentVu22.id);
      } else {
        this.$emit("createVu22", work);
      }
    },

    deleteOperation(idx, work, listWork) {
      if (this.getIsEdit && work.includesVu22) {
        this.$emit(
          "deleteOperation",
          work.vu22_operation_id,
          this.currentVu22.id
        );
      } else {
        listWork.splice(idx, 1);
      }
      this.existOperation();
    },

    fillOperationId(value, id, work) {
      const operation = this.getOperation.find((item) => item.id === value);
      work.operationId.value = operation.serial_number ?? null;
    },

    fillOperations() {
      if (this.getId) {
        this.currentVu22 = this.getVu22List.find(
          (item) => item.id === this.getId
        );
        this.blankWorks.forEach((blank) => (blank.listWorks = []));

        this.currentVu22.operations.forEach((operation) => {
          const currntWork = this.blankWorks.find(
            (work) => work.id === operation.group.id
          );
          currntWork.listWorks.push({
            vu22_operation_id: operation.vu22_operation_id,
            includesVu22: true,
            operation: {
              actionLoader: "vu22/operation",
              actionPayload: { group_id: operation.group.id },
              listValues: [{ text: operation.name, value: 1 }],
              defaultOpts: [{ text: operation.name, value: 1 }],
              value: 1,
              placeholder: "Операция",
              error: {},
              disabled: !!this.currentVu22.signs.length,
              id: this.fieldId++,
            },
            operationId: {
              value: operation.serial_number,
              placeholder: "Номер",
              error: {},
              disabled: true,
              id: this.fieldId++,
            },
            condition: {
              value: operation.condition,
              placeholder: "Состояние",
              error: {},
              listValues: ["В ремонт", "Отремонтированная", "Новая"],
              disabled: !!this.currentVu22.signs.length,
              id: this.fieldId++,
            },
            count: {
              value: operation.count,
              placeholder: "Кол-во",
              error: {},
              disabled: !!this.currentVu22.signs.length,
              id: this.fieldId++,
            },
            performer_name: {
              value: operation.performer_name,
              placeholder: "ФИО",
              error: {},
              disabled: !!this.currentVu22.signs.length,
              id: this.fieldId++,
            },
          });
        });
      }
    },
  },

  created() {
    this.fillOperations();
  },

  watch: {
    getId(val) {
      if (val) {
        this.fillOperations();
      }
    },

    getVu22List(val) {
      if (val) {
        this.fillOperations();
      }
    },

    hasOperation() {
      this.$emit("hasOperation", this.hasOperation);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/table";

.content-dropdown__btn {
  display: flex;
  margin-left: 0;
  align-items: center;
  &.disabled {
    cursor: auto;
    @include font(400, 16px, #68868b);
  }
  &-img.disabled {
    background-color: #68868b;
  }
}

.list-work {
  &__title {
    @include font(600, 21px, #68868b);
    display: inline-block;
    margin-bottom: 10px;
  }
  .block {
    &__title {
      @include font(400, 17px, #68868b);
      display: inline-block;
      margin-bottom: 10px;
    }
    &__inputs {
      position: relative;
      border: 1px solid #d3dcde;
      padding: 50px 15px 15px;
      margin-bottom: 20px;
      .cancel {
        position: absolute;
        top: 18px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("/img/components/subTable/delete.svg");
        cursor: pointer;
      }
      &-btn {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 35px;
      }
      &-main {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        .operation {
          flex-basis: 200%;
        }
      }
      &-enter {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        .inputs__label {
          margin-top: 11px;
          margin-left: 10px;
        }
        .condition {
          width: 150px;
        }
        .count {
          @include font(400, 17px, #68868b);
          display: flex;
          flex-basis: 85px;
          &::v-deep {
            .number-input {
              padding: 12px 10px;
            }
          }
        }
        .performer_name {
          flex-basis: 330px;
        }
      }
    }
  }
}
</style>