<template>
  <div class="create-page">
    <div v-for="(row, key, index) in blank" :key="index" class="form__row">
      <span class="form__row-name" v-if="row.name && !row.hidden">{{ row.name }}</span>
      <Field
        :class="{ 'form__row-input': true, 'with-error': row.error }"
        :id="key"
        :type="row.type"
        :errors="row.error || errors"
        :actionLoader="row.actionLoader"
        :defaultOpts="row.defaultOpts"
        :listValues="row.listValues"
        v-model="row.value"
        :disabled="row.disabled"
        v-if="!row.hidden"
      />
    </div>
    <div class="create-page__form-error" v-if="errors.message">
      {{ errors.message }}
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Field from "@/components/reuse/Field";

export default {
  components: {
    Field,
  },

  props: ["wagon"],

  data() {
    const user = this.$store.getters["auth/getUser"];
    const isEdit = this.$store.getters["stateHeader/getIsEdit"];

    return {
      errors: {},
      currentVu22: null,
      blank: [
        {
          type: "autocomplete",
          name: "Ремонт грузового вагона №",
          actionLoader: "vu22/loadWagonNum",
          defaultOpts: [
            { text: `${this.wagon?.wagon_num}`, value: this.wagon?.id },
          ],
          listValues: [],
          value: this.wagon?.id,
          sendedValue: "id",
          disabled: isEdit,
        },
        {
          type: "text",
          name: "Дата создания",
          actionLoader: "",
          listValues: [],
          disabled: true,
          value: true,
          unupdated: true,
          hidden: true,
        },
        {
          type: "text",
          name: "ФИО",
          actionLoader: "",
          listValues: [],
          sendedValue: "initials",
          value: user.name,
          disabled: true,
          unupdated: true,
        },
        {
          type: "text",
          name: "На",
          actionLoader: "",
          listValues: [],
          sendedValue: "on",
          value: "ТОР",
          disabled: true,
          unupdated: true,
        },
        {
          type: "text",
          name: "Начальник депо",
          actionLoader: "",
          listValues: [],
          sendedValue: "depot_owner",
          value: this.wagon.depot?.chief_name,
          disabled: true,
        },
        {
          type: "number",
          name: "Грузоподъемность",
          listValues: [],
          value: this.wagon?.lifting_capacity,
          sendedValue: "lifting_capacity",
        },
        {
          type: "select",
          name: "Материал кузова, борта",
          listValues: [
            { text: "Металический", value: true },
            { text: "Деревянный", value: false },
          ],
          value: this.wagon?.is_metal,
          sendedValue: "is_metal",
        },
      ],
    };
  },

  computed: {
    ...mapGetters("vu22", ["getWagon", "getVu22List"]),
    ...mapGetters("auth", ["getUser"]),
    ...mapGetters("stateHeader", ["getIsEdit", "getId"]),

    currentWagon() {
      return this.blank[0].value;
    },
  },

  methods: {
    editWagon() {
      let data = {};
      this.errors = {};
      this.blank.forEach((field, idx) => {
        if (field.value == null) {
          this.errors = { message: "Не все поля заполнены" };
          field.error = { [idx]: "Пустое поле" };
        }

        if ("message" in this.errors) {
          return;
        }

        data = { ...data, [field.sendedValue]: field.value };
      });

      if ("message" in this.errors) {
        return null;
      }

      delete this.errors.message;

      return data;
    },

    loadWagon() {
      this.$emit("loadWagon", { id: this.blank[0].value });
    },
  },

  watch: {
    wagon() {
      this.blank.forEach((item) => {
        if (!item.unupdated) {
          item.value = this.getWagon[item.sendedValue];
        }
      });
      this.blank[0].defaultOpts = [
        { text: `${this.wagon?.wagon_num}`, value: this.wagon?.id },
      ];
      this.blank[0].value = this.wagon?.id;
    },
    currentWagon() {
      this.loadWagon();
    },
  },

  created() {
    this.currentVu22 = this.getVu22List.find(
      (item) => item.id === this.getId
    );
    if (this.currentVu22) {
      this.blank.forEach((item) => {
        item.disabled = !!this.currentVu22.signs.length;
        if (!!this.currentVu22.signs.length) {
          item.value = item.hidden ? this.currentVu22.created_at : item.value
          item.hidden = false;
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins";
@import "@/assets/styles/components/tabs";

.create-page {
  &__bid {
    @include font(600, 17px, #2aa7c3);
    margin-bottom: 28px;
  }
  &__form {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #d3dcde;
    padding: 30px 40px;
    width: 700px;
    .form {
      &__row {
        margin-bottom: 18px;
        &-name {
          @include font(400, 17px, #68868b);
          display: inline-block;
          margin-bottom: 10px;
        }
        &-input {
          width: 620px;
          height: 46px;
        }
        &-input.with-error {
          margin-bottom: 50px;
        }
      }
    }
    &-error {
      @include font(700, 17px, rgb(231, 0, 0));
      margin-bottom: 20px;
    }
  }
}
</style>