<template>
  <div class="lk-container logs">
    <div class="logs-filters" v-if="logs">
      <v-btn
        class="add-btn"
        depressed
        color="primary"
        :loading="isLoading"
        :disabled="!logs.meta.total"
        @click="downloadLogsExcelMethod"
      >
        Скачать XLXS
      </v-btn>
    </div>

    <Table
      v-if="logs"
      paginate
      :list="listForTable"
      :columns="tableColumns"
      paginationTitle="Запросов"
      @changeList="loadLogsMethod"
    >
      <div v-if="!logs.meta.total" class="table-row-empty">
        По вашему запросу ничего не найдено.
      </div>
      <div
        v-else
        class="table-row"
        v-for="(log, index) in logs.data"
        :key="index"
      >
        <div v-for="(field, key) in log" :key="key">
          <span v-if="field === null">Отсутсвует</span>
          <v-textarea
            v-else-if="typeof field === 'object'"
            class="text-area"
            solo
            readonly
            background-color="#F4F6F9"
            :value="JSON.stringify(field)"
          ></v-textarea>
          <div v-else-if="field.length > 40" class="text-area-wrapper">
            <v-textarea
              class="text-area"
              readonly
              rows="3"
              background-color="#F4F6F9"
              :class="{
                'no-btn': !isShouldShowBtn(key, log),
              }"
              :value="decodeUtf8(field)"
            ></v-textarea>
            <v-btn
              v-if="isShouldShowBtn(key, log)"
              color="primary"
              depressed
              :loading="isLoading"
              @click="loadFullRequestMethod(log.id, index)"
            >
              Загрузить полностью
            </v-btn>
          </div>
          <span v-else>{{ field }}</span>
        </div>
      </div>
    </Table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Field from "@/components/reuse/Field";
import Table from "@/components/reuse/Table";

export default {
  components: {
    Field,
    Table,
  },
  async asyncData({ store }) {
    const logsResponse = await store.dispatch("log/loadLogs");
    return {
      isLoading: false,
      tablePageAmount: 10,

      logs: logsResponse.data,
      errors: {},
    };
  },
  computed: {
    tableColumns() {
      return {
        labels: [
          "ID",
          "Сервис",
          "Направление",
          "URL",
          "Успешность",
          "Дата создания",
          "Запрос",
          "Ответ",
        ],
        width: [
          "minmax(25px,0.25fr)",
          "minmax(100px,0.25fr)",
          "minmax(100px,0.5fr)",
          "minmax(210px,1.5fr)",
          "minmax(50px,0.75fr)",
          "minmax(50px,0.75fr)",
          "2.25fr",
          "2.25fr",
        ],
      };
    },
    listForTable() {
      const result = Object.assign({}, this.logs);
      const data = this.logs.data.map((log) => ({
        id: log.id,
        service: log.service,
        direction: log.direction,
        url: log.url,
        isSuccess: log.isSuccess,
        request: log.request,
        response: log.response,
        created_at: log.created_at,
      }));
      result.data = data;
      return result;
    },
  },
  methods: {
    ...mapActions("log", ["loadLogs", "loadFullRequest", "downloadLogsExcel"]),

    isShouldShowBtn(key, log) {
      switch (key) {
        case "request":
          return log.request.length > 300;
        case "response":
          return log.request.length < 300 && log.response.length > 300;
        default:
          return false;
      }
    },
    decodeUtf8(string) {
      return string.replace(/\\u([\d\w]{4})/gi, function (match, grp) {
        return String.fromCharCode(parseInt(grp, 16));
      });
    },

    async loadLogsMethod(payload = {}) {
      try {
        const { page, count } = payload;
        if (count) this.tablePageAmount = payload.count;

        payload = {
          page,
          count: this.tablePageAmount,
        };
        const response = await this.loadLogs(payload);
        this.logs = response.data;
      } catch (error) {
        console.warn(error);
      }
    },
    async loadFullRequestMethod(logId, index) {
      this.isLoading = true;
      try {
        let log = await this.loadFullRequest({ logId });
        this.$set(this.logs.data, index, log);
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },
    async downloadLogsExcelMethod() {
      this.isLoading = true;
      try {
        const response = await this.downloadLogsExcel();
        const url = window.URL.createObjectURL(response);
        const a = document.createElement("a");
        a.href = url;
        a.download = `Архив журнала запроса.xlsx`;
        a.click();
      } catch (error) {
        console.warn(error);
      }
      this.isLoading = false;
    },
  },
};
</script>

<style scoped lang="scss">
@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

.logs {
  &-filters {
    margin: 30px 0;
  }
  .text-area {
    display: flex;
    &-wrapper {
      display: flex;
      flex-direction: column;
      ::v-deep .v-btn__content {
        text-align-last: center;
      }
    }
    &.no-btn {
      margin-bottom: 36px;
    }
  }
}
</style>
